<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<!-- easyui 样式 -->
	<link rel="stylesheet" href="./lib/jquery-easyui/themes/default/easyui.css">
	<link rel="stylesheet" href="./lib/jquery-easyui/themes/icon.css">

	<link rel="stylesheet" href="./../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../src/css/main.css">
	<style>
		.el-form-item {
			margin-bottom: 0px;
		}

		.search-wrap {
			padding-bottom: 10px;
			border-bottom: 1px solid #e4e7ed;
		}

		.table-wrapper {
			padding: 15px;
			height: 100%;
			box-sizing: border-box;
		}

		.el-range-editor {
			width: 100% !important;
		}

		.el-checkbox-group {
			height: 41px;
		}

		.el-input__icon,
		.el-range__close-icon {
			/* width: auto !important; */
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none !important;
			margin: 0;
		}

		.height {
			height: 41px;
		}

		/* 分栏样式 */

		.multipane.foo.layout-v .multipane-resizer {
			margin: 0;
			left: 0;
			/* reset default styling */
			width: 15px;
			background: blue;
		}

		.multipane.foo.layout-h .multipane-resizer {
			margin: 0;
			top: 0;
			/* reset default styling */
			height: 10px;
			background: #f1f1f1;
		}

		.multipane-resizer {
			margin: 0;
			left: 0;
			position: relative;
		}

		.multipane-resizer:before {
			display: block;
			content: "";
			width: 40px;
			height: 3px;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -2.5px;
			margin-left: -20px;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
		}

		.multipane-resizer:hover:before {
			border-color: #999;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>

		<multipane @paneresizestart="panelMoving = true" @paneresizestop="panelMoving = false" class="foo" layout="horizontal" style="height: 100%;">
			<div v-loading="panelMoving" class="mapWrap" :style="{ height: '40%', minHeight: '20%',maxHeight: '80%' }" element-loading-spinner="11"
			  element-loading-background="rgba(0, 0, 0, 0)">
				<div id="jasMap" class="jasmap"></div>
			</div>
			<multipane-resizer></multipane-resizer>
			<div v-loading="panelMoving" :style="{ flexGrow: 1 }" style="height:0%;" element-loading-spinner="11" element-loading-background="rgba(0, 0, 0, 0)">

				<div class="table-wrapper  jas-flex-box is-vertical">
					<!--搜索区域-->
					<div class="search-wrap" v-if="isShowSearch">
						<el-row :gutter="10">
							<el-form ref="searchTable" :model="searchTable" label-width="120px">
								<template v-for="item in searchData">
									<el-col v-if="item.type!='opertion'" :xs="24" :sm="12" :md="12" :lg="6" :xl="6" :class="{'height' : item.type=='UT_03'||item.type=='UT_04'||item.type=='UT_02'||item.type=='UT_14'||item.type=='UT_05'||item.type=='UT_06'||item.type=='UT_07'||item.type=='UT_08' }">
										<el-form-item :label="item.name">
											<el-input v-if="item.type=='UT_01'" :placeholder="item.placeholder" v-model="searchTable[item.id]" size="small" clearable>
											</el-input>
											<el-select v-model="searchTable[item.id]" v-if="isSelect(item)" style="width:100%" size="small" @change="selectChange()"
											  clearable>
												<template v-for="option in item.options">
													<el-option :key="option.value" :label="option.value" :value="option.key">
													</el-option>
												</template>
											</el-select>
											<el-select v-model="searchTable[item.id]" multiple v-if="isMultiSelect(item)" style="width:100%" size="small" @change="selectChange()"
											  clearable>
												<template v-for="option in item.options">
													<el-option :key="option.value" :label="option.value" :value="option.key">
													</el-option>
												</template>
											</el-select>
											<el-date-picker v-if="item.type=='UT_03'" v-model="searchTable[item.id]" size="small" type="daterange" range-separator="至"
											  start-placeholder="开始日期" end-placeholder="结束日期" placeholder="item.placeholder" value-format="yyyy-MM-dd" clearable
											  @change="selectChange()">
											</el-date-picker>
											<el-time-picker v-if="item.type=='UT_02'" is-range range-separator="至" size="small" start-placeholder="开始时间" value-format="HH:mm:ss"
											  end-placeholder="结束时间" placeholder="选择时间范围" v-model="searchTable[item.id]" placeholder="任意时间点" @change="selectChange()">
											</el-time-picker>
											<el-date-picker v-if="item.type=='UT_04'" v-model="searchTable[item.id]" size="small" type="datetimerange" range-separator="至"
											  start-placeholder="开始日期" end-placeholder="结束日期" placeholder="item.placeholder" value-format="yyyy-MM-dd HH:mm:ss"
											  clearable @change="selectChange()">
											</el-date-picker>
											<el-checkbox-group v-if="isCheckbox(item)" v-model="searchTable[item.id]" clearable>
												<template v-for="child in item.options">
													<el-checkbox :label="child.key">{{child.value}}</el-checkbox>
												</template>
											</el-checkbox-group>
											<el-radio-group v-if="isRadio(item)" v-model="searchTable[item.id]">
												<template v-for="child in item.options">
													<el-radio :label="child.key">{{child.value}}</el-radio>
												</template>
											</el-radio-group>

											<div v-if="item.type=='UT_14'" style="height:41px;">
												<div class="el-date-editor el-range-editor el-input__inner el-date-editor--datetimerange el-range-editor--small">
													</i>
													<input placeholder="最小值" v-model="searchTable[item.id].min" class="el-range-input" type="number">
													<span class="el-range-separator">至</span>
													<input v-model="searchTable[item.id].max" placeholder="最大值" class="el-range-input" type="number">
													<i class="el-input__icon el-range__close-icon"></i>
												</div>
											</div>
										</el-form-item>
									</el-col>
									<el-col v-if="item.type=='opertion'" :xs="24" :sm="btnxs" :md="btnxs" :lg="btnlg" :xl="btnlg" style="text-align: right;height:41px;line-height:41px">
										<template v-for="child in item.options">
											<el-button :type="child.type" size="small" @click="child.click">{{child.name}}</el-button>
										</template>
									</el-col>
								</template>
							</el-form>
						</el-row>

					</div>
					<!--按钮区域-->
					<el-row style="padding:15px 0px">
						<template v-for="item in btns">
							<el-button :size="item.size" v-if="privilege.join('').indexOf(item.id)>-1" :type="item.type" :plain="item.plain" :icon="item.icon"
							  @click="item.functionName">{{item.title}}</el-button>
						</template>
						<div style="display:inline-block;float:right">
							<el-button size="small" icon="el-icon-refresh" @click="refresh"></el-button>
							<!--<el-button size="small" type="primary" plain="plain" @click="refresh">刷新</el-button>-->
						</div>
					</el-row>
					<!--表格区域-->
					<el-table class="is-grown" v-loading="loading" :data="tableData" height='100' style="width: 100%;" :header-cell-style="headStyle"
					  border stripe>
						<el-table-column type="selection" width="55" align="center"></el-table-column>
						<el-table-column type="index" label="序号" width="50" align="center"></el-table-column>
						<el-table-column v-for="item in tableColumn" :prop="item.id" :label="item.name" align="center">
						</el-table-column>
						<el-table-column fixed="right" label="操作" :width="config.table.tableWidth" align="center">
							<template slot-scope="scope">
								<el-button @click="locateRow(scope.row)" v-if="privilege.indexOf('bt_position')>-1" type="text" size="small">定位</el-button>
								<el-button @click="viewRow(scope.row)" v-if="privilege.indexOf('bt_select')>-1" type="text" size="small">查看</el-button>
								<el-button @click="editRow(scope.row)" v-if="privilege.indexOf('bt_update')>-1" type="text" size="small">编辑</el-button>
								<el-button @click="delRow(scope.row)" v-if="privilege.indexOf('bt_delete')>-1" type="text" size="small">删除</el-button>
							</template>
						</el-table-column>
					</el-table>
					<!--分页区域-->
					<el-pagination v-if="config.pageAttr.isShow" style="text-align: right;margin-top:15px" @size-change="handleSizeChange" @current-change="handleCurrentChange"
					  :current-page="searchform.page" :page-sizes="config.pageAttr.pagesizes" :page-size="config.pageAttr.pagesize" layout="total, sizes, prev, pager, next, jumper"
					  :total="total">
					</el-pagination>
				</div>

			</div>
		</multipane>




	</div>
</body>
<!-- <script src="./../../lib/jquery/jquery-1.12.4.min.js"></script> -->
<script src="./../../lib/vue/vue.js"></script>


<!--  -->
<script src="./lib/jquery/jquery-1.6.min.js"></script>
<script src="./lib/jquery-easyui/jquery.easyui.min.js"></script>
<script id="mapApi" src="./mapjs/mapjs4ol.js"></script>

<script src="./../../lib/vue-multipane/vue-multipane.js"></script>
<script src="./../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../common/components/jas-components.js "></script>
<script src="./../../common/js/jas-tools.js"></script>
<script src="js/userDefinedFunction.js"></script>

<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			return {
				panelMoving: false,
				headStyle: {
					'background-color': '#f5f7fa ',
				},
				privilege: [], //权限数组 bt_add,bt_update,bt_delete,bt_select,bt_export,bt_import,bt_position
				btnxs: 12,
				btnlg: 6,
				searchTable: {},
				searchform: {
					page: 1,
					rows: 10,
				},
				searchData: [],
				btns: [],
				tableData: [], //表格数据
				tableColumn: [], //表示列
				tableColumns: [], //排序过渡列
				config: {
					pageAttr: {},
					too1: {},
					search: {},
					form: {},
					view: {},
					table: {}
				},
				total: 0,
				loading: true,
				menuCode: "",
				searchUi: [],
				isShowSearch: false,
			}
		},
		mounted: function () {
			var param = window.jasTools.base.getParamsInUrl(location.href);
			this.menuCode = param.menuCode;
			//进行后台数据的请求
			this._requestPrivilege(param.privilegeCode); //请求权限
			var jasMap = new JasMap();

		},
		methods: { //方法的写法
			_requestPrivilege: function (privilegeCode) {
				var that = this;
				var url = jasTools.base.rootPath + "/jasframework/privilege/privilege/getFunctionConfig.do";
				jasTools.ajax.get(url, {
					privilegeCode: privilegeCode, //菜单权限编号
					appId: "402894a152681ba30152681e8b320003" //应用id，值默认
				}, function (data) {
					that.privilege = data.rows.map(function (item) {
						return item.functionType;
					});
					that.requestConfig(); //请求模板的配置文件
				});
			},
			requestConfig: function () {
				var that = this;
				$.ajax({
					type: "get",
					url: "js/template-privilege.json",
					dataType: "json",
					async: true,
					success: function (data) {
						if (data.tool.length > 0) {
							that.initPageSizes = data.pageAttr.pagesizes;
							that.config = data;
							data.tool.forEach(function (item, index) {
								if (!item.belongMenuCode || item.belongMenuCode == that.menuCode) {
									item.functionName = function () {
										if (typeof that[item.id] == "function") {
											that[item.id]();
										} else {
											definedFunction[item.id]();
										}
									};
									that.btns.push(item);
								}
							});
							that.requestByFunctionCode(); //根据选中的是那个功能的id 进行页面的绘制
						}
						that.searchform.rows = data.pageAttr.pagesize;
					}
				});
			},
			requestByFunctionCode: function () {
				var that = this;
				$.ajax({
					type: "get",
					url: jasTools.base.rootPath + "/functionConfiguration/getDetailByCode.do?token=" + localStorage.getItem(
						"token"),
					dataType: "json",
					data: {
						functionCode: that.menuCode
					},
					async: true,
					success: function (data) {
						if (data.status == 1) {
							if (data.data.functionFieldsBoList.length == 0) {
								window.top.Vue.prototype.$message({
									message: '请给此功能配置相应的字段',
									type: 'warning'
								});
								that.loading = false;
								return;
							}
							that.getSearchFieldAndList(data.data);
						} else {
							window.top.Vue.prototype.$message({
								message: '服务异常，请稍候尝试',
								type: 'error'
							});
						}
					}
				});
			},
			getSearchFieldAndList: function (data) {
				var that = this;
				var searchData = [];
				data.functionFieldsBoList.forEach(function (item) {
					var options = [];
					if (item.domainList) {
						item.domainList.forEach(function (child) {
							var obj = {};
							for (key in child) {
								obj[key.toLowerCase()] = child[key];
							}
							options.push(obj);
						});
					}
					if (item.ifQuery == "1") {
						// console.log(item.uiType);
						that.searchData.push({
							id: item.fieldName,
							name: item.fieldNameCn,
							type: item.uiType,
							placeholder: item.plplaceholder,
							options: options,
							queryIndex: item.queryIndex,
						});
						that.searchUi.push({
							id: item.fieldName,
							type: item.uiType
						});
						if (item.uiType == 'UT_14') {
							var obj = {
								min: 0,
								max: 0
							};
							that.searchTable[item.fieldName] = obj;
						}
						if (item.uiType == "UT_07" || item.uiType == "UT_08") {
							that.$set(that.searchTable, item.fieldName, []);
						}
					}
					if (item.ifList == "1") {
						that.tableColumns.push({
							id: item.fieldName, //需要把此处的下划线 噶爱成驼峰
							name: item.fieldNameCn,
							align: 'center',
							listIndex: item.listIndex
						});
					}
				});
				if (that.searchData.length > 1) {
					that.isShowSearch = true;
					that.searchData = that.searchData.sort(that.sortByIndex('queryIndex'));
				}
				that.searchData.push({
					type: "opertion",
					options: [{
						type: 'primary',
						name: '查询',
						id: "query",
						click: function () { //此时通过参数的形式，进行方法的传递
							that.getUiType();

						}
					}, {
						type: '',
						name: '重置',
						click: function () {
							that.searchform = {
								page: 1,
								rows: 10
							};
							for (var key in that.searchTable) {
								if (typeof that.searchTable[key] == 'object') {
									if (that.searchTable[key].min) {
										that.searchTable[key].min = 0;
										that.searchTable[key].max = 0;
									} else {
										that.searchTable[key] = "";
									}
								} else {
									that.searchTable[key] = "";
								}
							}
							that.requestTableList();
						}
					}]
				});
				that.calculate();
				that.repeatComplate();
			},
			tranfrom: function (x) {
				var s = x.split("_");
				var o = s[0].toLowerCase();
				for (var i = 1; i < s.length; i++) {
					o = o + s[i].slice(0, 1).toUpperCase() + s[i].slice(1).toLowerCase();
				}
				return o;
			},
			requestTableList: function () {
				var that = this;
				that.loading = true;
				$.ajax({
					type: "POST",
					url: jasTools.base.rootPath + "/map/commonData/" + that.menuCode + "/getPage.do?token=" + localStorage.getItem(
						"token"),
					dataType: "json",
					contentType: "application/json",
					data: JSON.stringify(that.searchform),
					async: true,
					success: function (data) {
						setTimeout(function () {
							that.loading = false;
						}, 300);
						if (data.status == 1) {
							that.tableData = data.rows;
							that.total = data.total;
						} else {
							window.top.Vue.prototype.$message({
								message: '服务异常，请稍候尝试',
								type: 'error'
							});
						}
					}
				});
			},
			repeatComplate: function (data) {
				var that = this;
				that.tableColumn = that.tableColumns.sort(that.sortByIndex('listIndex'));
				that.requestTableList();
			},
			sortByIndex: function (name) {
				return function (object1, object2) {
					var value1 = object1[name];
					var value2 = object2[name];
					if (value2 > value1) {
						return -1;
					} else if (value2 < value1) {
						return 1;
					} else {
						return 0;
					}
				}
			},
			bt_add: function () {
				var that = this;
				top.jasTools.dialog.show({
					title: '增加',
					width: that.config.form.width,
					height: that.config.form.height,
					src: './pages/template/dialogs/addTemplate.html?menuCode=' + that.menuCode,
					cbForClose: function () {
						that.refresh();
					}
				});
			},
			bt_import: function () { // 导入
				var that = this;
				var src = './pages/template/dialogs/upload.html?menuCode=' + that.menuCode;

				top.jasTools.dialog.show({
					title: '导入',
					width: '600px',
					height: '600px',
					src: src,
					cbForClose: function () {

					}
				});
			},
			bt_export: function () {
				var that = this;
				alert('daochu')
			},
			bt_expor: function () { // 导出全部
				var that = this;
				alert('导出全部')
			},
			clickFunction: function (row, name) {
				definedFunction[name](row);
			},
			locateRow: function (row) {
				var that = this;
				alert('定位');
			},
			viewRow: function (row) {
				var that = this;
				var src = './pages/template/dialogs/viewTemplate.html?menuCode=' + that.menuCode;
				for (var key in row) {
					src += "&" + key + '=' + row[key];
				}
				top.jasTools.dialog.show({
					title: '查看',
					width: that.config.view.width,
					height: that.config.view.height,
					src: src,
					cbForClose: function () {

					}
				});
			},
			delRow: function (row) {
				var that = this;
				window.top.Vue.prototype.$confirm('此操作将永久删除该数据, 是否继续?', '提示', {
					type: 'warning',
					callback: function (action) {
						if (action === 'confirm') {
							that.delRowToServer(row);
						} else {
							top.Vue.prototype.$message({
								type: 'info',
								message: '已取消删除'
							});
						}
					}
				});
			},
			delRowToServer: function (row) {
				var that = this;
				$.ajax({
					type: "POST",
					url: jasTools.base.rootPath + "/map/commonData/" + that.menuCode + "/delete.do?token=" + localStorage.getItem(
						"token"),
					dataType: "json",
					contentType: "application/json",
					data: JSON.stringify(row),
					success: function (data) {
						if (data.status == 1) {
							top.Vue.prototype.$message({
								type: 'success',
								message: '删除成功'
							});
							that.refresh();
						} else {
							top.Vue.prototype.$message({
								type: 'info',
								message: '服务异常，请稍候尝试'
							});
						}
					}
				});
			},
			editRow: function (row) {
				var that = this;
				var src = './pages/template/dialogs/addTemplate.html?menuCode=' + that.menuCode;
				for (var key in row) {
					src += "&" + key + '=' + row[key];
				}
				top.jasTools.dialog.show({
					title: '修改',
					src: src,
					cbForClose: function () {
						that.refresh();
					}
				});
			},

			refresh: function () {
				this.requestTableList();
			},
			handleSizeChange: function (val) {
				this.searchform.rows = val;
				this.requestTableList();
			},
			handleCurrentChange: function (val) {
				this.searchform.page = val;
				this.requestTableList();
			},
			selectChange: function () { //根据配置文件 是否立即触发
				var that = this;
				if (that.config.search.selectTigger) {
					that.getUiType();
				}
			},
			calculate: function () {
				var count = this.searchData.length % 4;
				if (count == 1) {
					this.btnxs = 24;
					this.btnlg = 24
				}
				if (count == 2) {
					this.btnxs = 12;
					this.btnlg = 18
				}
				if (count == 3) {
					this.btnxs = 24;
					this.btnlg = 12
				}
			},
			isSelect: function (item) {
				if (item.type == "UT_11" || item.type == "UT_12") {
					return true;
				}
				return false;
			},
			isMultiSelect: function (item) {
				if (item.type == "UT_09" || item.type == "UT_10") {
					return true;
				}
				return false;
			},
			isRadio: function (item) {
				if (item.type == "UT_05" || item.type == "UT_06") {
					return true;
				}
				return false;
			},
			isCheckbox: function (item) {
				if (item.type == "UT_07" || item.type == "UT_08") {
					return true;
				}
				return false
			},
			getUiType: function () {
				var that = this;
				for (key in that.searchTable) {
					that.searchUi.forEach(function (item) {
						if (key == item.id) {
							if (item.type == "UT_01" && that.searchTable[key]) {
								that.searchform[key] = "%" + that.searchTable[key] + "%";
								return;
							}
							if (item.type == "UT_14") {
								if (Number(that.searchTable[key].max) > 0) {
									that.searchform[key] = [Number(that.searchTable[key].min), Number(that.searchTable[key].max)];
									return;
								} else {
									delete that.searchform[key];
									return;
								}

							}
							if (item.type == "UT_07" || item.type == "UT_08") {
								if (that.searchTable[key].length != 0) {
									that.searchform[key] = that.searchTable[key];
									return;
								} else {
									delete that.searchform[key];
									return;
								}
							}
							if (that.searchTable[key]) {
								that.searchform[key] = that.searchTable[key];

							} else {
								delete that.searchform[key];

							}
						}
					});
				}
				that.requestTableList();
			}
		}
	});
</script>

</html>