<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>内蒙古自治区油气长输管线安全监控平台</title>

	<link rel="stylesheet" href="../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="../../../lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../../src/css/main.css">
	<link rel="stylesheet" href="../../../src/css/onepage.css">
	<style>
		/*
		 * 左右模块布局比例
		 */
		.panelitem {
			height: 50%;
			padding: 0 10px 10px;
			box-sizing: border-box;
		}
		.panelitem2{
			height: 60%;
			padding: 0 10px 10px;
			box-sizing: border-box;
		}
		.panelitem3{
			height: 40%;
			padding: 0 10px 10px;
			box-sizing: border-box;
		}

		.height-one{
			height: 85px;
			margin: 10px 0;
		}
		.height-two{
			height: calc(100% - 105px);
		}
		.height-three{
			height: 30%;
			padding-bottom:10px;
			box-sizing:border-box;
			/*margin: 10px 0;*/
		}
		.height-four{
			height:70%;
		}
		/*
		 * 实时警情下方样式
		 */
		.chart-dl{
			font-size: 0;
		}
		.chart-dl dl{
			width:25%;
			height: 60px;
			padding: 10px 0;
			display: inline-block;
			vertical-align: middle;
			margin-bottom: 0;
		}
		.chart-dl dl dt,
		.chart-dl dl dd{
			height: 100%;
			display: inline-block;
			vertical-align: middle;
		}
		.chart-dl dl dt img{
			width: 40px;
			height: 40px;
		}
		.chart-dl dl dd{
			padding-left:10px; 
		}
		.chart-dl dl dd p{
			padding: 0;
			margin: 0;
			line-height: 20px;
			color: #03affe
		}
		.chart-dl dl dd p:last-child{
			font-size: 18px;
			color: #ffcc00
		}
		.chart-square{
			height: 100%;
		}
		.chart-circle{
			display: flex;
		}
		.chart-circle dl{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin: 0;
		}
		.chart-circle dl:hover{
			cursor: pointer;
		}
		.chart-circle dl dd,
		.chart-circle dl dt img{
			width: 94px;
		}
		.chart-circle dl dd{
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
		}
		.chart-circle dl dd p{
				color: #fff
		}
		.chart-circle dl dd p:first-child{
			margin: 0;
			margin-top: 20px;
			font-weight: bold;
			font-size: 20px;
		}
		.marquee-box{
			height: 100%;
			padding: 15px;
			border:1px solid #375a78;
			box-sizing: border-box;
			overflow: hidden;
		}
			legend{
			color:#5695cb;
			font-size:14px;
		}
		
		/*
		 * 风险动态样式
		 */
		.marquee{
			height: 100%;
			overflow: hidden;
			position: relative;
		}
		.marquee .marquee-content{
			display: block;
			width:100%;
			height: 200%;
			position: absolute;
			overflow: hidden;
			-webkit-animation: marquee 20s linear infinite;
			animation: marquee 20s linear infinite;
		}
		.marquee p{
			color: #72c1ea;
			margin-bottom: 20px;
		}
		.marquee span{
			color: #93eeff;
			border-right: 1px solid #93eeff;
			padding: 0 5px;
		}
		.marquee span:last-child{
			color: #ffc000;
			border-right: 0
		}

		@keyframes marquee {
			from {
				top: 0;
			}
			to {
				top: -100%;
			}
		}
		/*
		 * 下拉选盒子样式
		 */
		.absolute-l{
			position: absolute;
			left: 0;
			top: 25px;
			z-index: 10;
		}
		.select-box{
			height: 30px; 
		}
			/*
			 * 地图模块下面描述信息样式
			 */
			.center{
				width: 100%;
				height: 100%;
				position: relative;
			}
			.map-info{
				position: absolute;
				bottom: 0;
				height: 20%;
				/* width: 100%; */
				width: 98%;
				padding: 36px;
				box-sizing: border-box;
				color: #72c1ea;
				background-color: #060e224d;
				line-height: 30px;
				margin: 10px;
				
			}
			.map-info p{
				    text-indent: 30px;
			}
			.map-info span{
				color: #ffc000;
				font-size: 14px;
			}
			/*
			 * 合法合规监控
			 */
			/*
			 * 合法合规监控
			 */
			.fieldset-body{
				height:100%;
				display: flex;
				justify-content: space-around;
				align-items: stretch;
			}
			.fieldset-group{
				flex-basis: 46%;
				border: 1px solid #375a78;
				padding: 10px;
    			box-sizing: border-box;
			}
			.fieldset-group:hover{
				cursor: pointer;
			}

			.fieldset-group .fieldset-item span{
				display:inline-block;
				vertical-align:middle;
				line-height: 30px;
			}

			.fieldset-group .weijian,
			.fieldset-group .no-update,
			.fieldset-group .weigui{
				width:24px;
				height:24px;
			}
			.fieldset-group .weijian{
				background:url("./image/weijian.png")no-repeat center center;
				background-size:24px 24px;
			}
			.fieldset-group .no-update{
				background:url("./image/no-update.png")no-repeat center center;
				background-size:24px 24px;
			}
			.fieldset-group .weigui{
				background:url("./image/weigui.png")no-repeat center center;
				background-size:24px 24px;
			}
			.fieldset-group .item-label{
				margin:0 6px;
				color: #eeeeee;
			}
			.fieldset-group .item-val{
				font-size: 20px;
    			color: #0ff1e9;
			}
			
	</style>
</head>

<body style="overflow:auto;">
	<div id="app">
		<!--<jas-onepage-wrapper :ismax="ismax" :index="index">-->
		<jas-onepage-wrapper :ismax="ismax">
			<template slot="left">
				<div class="panelitem">
					<jas-panel-opacity title="实时警情">
						<div  style="height:100%;">
							<div class="height-one" style="overflow: hidden;">
								<div class="chart-circle" style=" position: relative;float: left;left: 50%; margin-left: -141px;">
									<dl >
										<dt><img src="./image/title-red.png" alt=""></dt>
										<dd>
											<p>1</p>
											<p>I级</p>
										</dd>
									</dl>
									<dl >
										<dt><img src="./image/title-orange.png" alt=""></dt>
										<dd>
											<p>1</p>
											<p>II级</p>
										</dd>
									</dl>
									<dl @click="openRiskDetail">
										<dt><img src="./image/title-yellow.png" alt=""></dt>
										<dd>
											<p>3</p>
											<p>III级</p>
										</dd>
									</dl>
								</div>
							</div>
							<div class="height-two">
								<fieldset  class="chart marquee-box">
									<legend>风险动态</legend>
									<div class="marquee">
										<div class="marquee-content">
											<p v-for="item in riskListData">{{item.desc}}<span>{{item.status1}}</span><span>{{item.status2}}</span><span>{{item.status3}}</span></p>
										</div>
									</div>
								</fieldset>
							</div>

						</div>
					</jas-panel-opacity>
				</div>
				<div class="panelitem">
					<jas-panel-opacity title="监管绩效考核">
						<div id="performance" style="height:100%;"></div>
					</jas-panel-opacity>
				</div>
			</template>
			<template slot="center" >
				 <div class="center">
					 <!--图层控制开关-->
					 <div class="switch-div">
						<el-switch
							style="display: block"
							v-model="value3"
							inactive-color="#33568a"
							inactive-text="红色预警"
							active-color="#ff2d2d"
							@change="operateMap"
							>
							</el-switch>
							<el-switch
							style="display: block"
							v-model="value4"
							inactive-color="#33568a"
							inactive-text ="橙色预警"
							active-color="#ff7400"
							@change="operateMap"
							>
							</el-switch>
							<el-switch
							style="display: block"
							v-model="value5"
							inactive-color="#33568a"
							inactive-text="黄色预警"
							active-color="#ffb719"
							@change="operateMap"
							> 
						</el-switch>					
					 </div>
					 <!--图层筛选条件-->
					 <div class="select-div">
							<el-select v-model="areaVal" @change="areaChange" placeholder="请选择" style="width:180px;margin-right: 10px;">
								<el-option
								v-for="item in areaOption"
								:key="item.value"
								:label="item.label"
								:value="item.value">
								</el-option>
							</el-select>
							<el-select v-model="companyVal" @change="companyChange"  placeholder="请选择" style="width:180px;">
								<el-option
								v-for="item in companyOption"
								:key="item.value"
								:label="item.label"
								:value="item.value">
								</el-option>
							</el-select>
					 </div>

					 <!--图层操作按钮-->
					 <div class="operate-div">
						 <span class="max" @click="openMax"></span>
						 <span class="yingxiang" @click="switchImageMap"></span>
						 <span class="shiliang" @click="switchVecMap"></span>
						 <span class="threeD" @click="open3D"></span>
						 <span class="tuceng" @click="openTuCeng"></span>
					 </div>

					  <div id="jasMap" class="jasmap" style="height:100%;width:100%;background: transparent"></div>
					 <div class="map-info" v-show="!ismax" >
 							<!-- <p><font >内蒙古自治区管辖长输管线</font><span>30</span><font>条，规划设计管线</font><span>6800</span><font>公里在建管线长度</font><span>550</span><font>公里，在役管线总长度</font><span>5200</span><font>公里，其中，天然气管线</font><span>4000</span><font>公里，石油管线</font><span>1200</span><font>公里。各类型场站</font><span>30</span><font>个，阀室</font><span>300</span><font>座，输气压力</font><span>6~10</span><font>Mpa,气源主要接收来自中陕京四线天然气管道，长呼天然气管线，年供气能力达</font><span>200</span><font >亿立方米</font></p> -->
							<p>内蒙古自治区管辖长输管线<span>30</span>条，规划设计管线<span>6800</span>公里在建管线长度<span>550</span>公里，在役管线总长度<span>5200</span>公里，其中，天然气管线<span>4000</span>公里，石油管线<span>1200</span>公里。各类型场站<span>30</span>个，阀室<span>300</span>座，输气压力<span>6~10</span>Mpa,气源主要接收来自中陕京四线天然气管道，长呼天然气管线，年供气能力达<span>200</span>亿立方米</p>
						</div>
				 </div>
			</template>
			<template slot="right">
				<div class="panelitem2">
					<jas-panel-opacity title="合法合规监控">
						<div style="height:100%">
							<div class="height-three">
								<div class="chart-square">
									<div class="fieldset-body">
										<fieldset class="fieldset-group">
											<legend>内检测区</legend>
											<div class="fieldset-item" @click="showNeiJianCe">
												<span class="weijian"></span><span class="item-label">过期未检</span><span class="item-val">62<span style="font-size:14px">&nbsp;Km</span></span>
											</div>
											<div class="fieldset-item" @click="showNeiJianCe">
												<span class="weigui"></span><span class="item-label">违规企业</span><span class="item-val">1<span style="font-size:14px">&nbsp;家</span></span>
											</div>
										</fieldset>
										<fieldset class="fieldset-group">
											<legend>高后果区</legend>
											<div class="fieldset-item" @click="showGaoHouGuo">
												<span class="no-update"></span><span class="item-label">待更新 &nbsp;&nbsp;  </span><span class="item-val">53<span style="font-size:14px">&nbsp;个</span></span>
											</div>
											<div class="fieldset-item" @click="showGaoHouGuo">
												<span class="weigui"></span><span class="item-label">违规企业</span><span class="item-val">1<span style="font-size:14px">&nbsp;家</span></span>
											</div>
										</fieldset>
									</div>
								</div>
							</div>
							<div class="height-four">
								<!--<h6 class="chart-title" style="position: relative"> 
									<div class="absolute-l select-box">
										<el-select v-model="optVal1" placeholder="请选择" style="width:100px;">
											<el-option
											v-for="item in options1"
											:key="item.value"
											:label="item.label"
											:value="item.value">
											</el-option>
										</el-select>
										<el-select v-model="optVal2" placeholder="请选择" style="width:100px;">
											<el-option
											v-for="item in options2"
											:key="item.value"
											:label="item.label"
											:value="item.value">
											</el-option>
										</el-select>
									</div>
								</h6>-->
								<div id="legalMonitoring" style="height:100%;"> </div>
							</div>
						</div>
					</jas-panel-opacity>
				</div>
				<div class="panelitem3">
					<jas-panel-opacity title="安全趋势图">
						<div id="safeTrend" style="height:100%;"> </div>
					</jas-panel-opacity>
				</div>
			</template>
		</jas-onepage-wrapper>
	</div>
</body>
<!-- import Vue before Element -->
<script src="../../../lib/vue/vue.js"></script>
<script src="../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="../../../lib/element-ui/v2.4.1/index.min.js"></script>

<!-- import JavaScript -->
<script src="../../../lib/echarts/echarts.min.js"></script>

<script src="../../../common/components/jas-components.js"></script>
<script src="../../../common/js/jas-tools.js"></script>
<script src="onepage-components.js"></script>

<script id="mapApi" src="../../map/mapjs/jasopengis.js"></script>
<script>

</script>

<script>
	var app = new Vue({
		el: '#app',
		data: function () {
			return {
				ismax:false,
				// index:0,
                jasMap:null,
				mapConfig:"config.onepage.json",
                layerId:"demo_pd_fengxian",//空间表layerId (表名)
                layerKeyName:"gid",//空间表layerId (表名)

				value3: true,   // 地图切换按钮样式
	            value4: true,
	            value5: true,

				optVal1:"",  // 下拉选值
				optVal2:"",
				options1:[   // 下拉选选项值
					{"label":"全部高后果区","value":"0"},
					{"label":"I级高后果区","value":"1"},
					{"label":"II级高后果区","value":"2"},
					{"label":"III级高后果区","value":"3"},
				],
				options2:[
					{"label":"总览","value":"0"},
					{"label":"2019","value":"2019"},
					{"label":"2018","value":"2018"},
					{"label":"2017","value":"2017"},
				],

				areaVal:"全市",
				areaOption:[   // 下拉选选项值
					{"label":"全市","value":"全市"},
					{"label":"新城区","value":"新城区"},
					{"label":"赛罕区","value":"赛罕区"},
					{"label":"回民区","value":"回民区"},
					{"label":"玉泉区","value":"玉泉区"},
					{"label":"武川县","value":"武川县"},
					{"label":"托克托县","value":"托克托县"},
					{"label":"清水河县","value":"清水河县"},
					{"label":"和林格尔县","value":"和林格尔县"},
					{"label":"土默特左旗","value":"土默特左旗"}
				
				],

				companyVal:"全部企业",
				companyOption:[   // 下拉选选项值
					{"label":"全部企业","value":"全部企业"},
					{"label":"内蒙古西部天然气管道运行有限公司","value":"内蒙古西部天然气管道运行有限公司"},
					{"label":"中国石油天然气股份有限公司管道长庆输气分公司","value":"中国石油天然气股份有限公司管道长庆输气分公司"},
					{"label":"乌海华油天然气有限责任公司","value":"乌海华油天然气有限责任公司"},
					{"label":"阿拉善盟深中能源发展有限公司","value":"阿拉善盟深中能源发展有限公司"},
					{"label":"内蒙古兴洁天然气有限公司西部天然气管道运行有限公司","value":"内蒙古兴洁天然气有限公司西部天然气管道运行有限公司"},
					{"label":"中国石油天然气股份有限公司管道长庆输油气分公司","value":"中国石油天然气股份有限公司管道长庆输油气分公司"},
					{"label":"中国石油东部有限公司西气东输银川管理处","value":"中国石油东部有限公司西气东输银川管理处"},
				],

			}
		},
		watch: {
			// 如果需要联动
			areaVal: function (newval, oldval) {
				
			},
			// 地图最大化的监控
			ismax:function (newval, oldval) {
				console.log("111111");
				var that = this;
				// if(newval){
					// alert("执行全屏地图的操作方法")
					this.$nextTick(function(){
						that.jasMap.resizeMap()
					})
				// }else{
				// 	// alert("执行缩放地图的操作方法")
				// }
			},
		},
		computed: {},
		created: function () {
			var that = this;
			$(function(){
				// 获取chart图表数据
				that.getChartData();
				
			})

			 var data = {
						"status":1,
						"riskList":[
							{"desc":"2018-12-11,圣.莫丽斯南195.44米[111961,25576]坐标，龙华圣.莫丽斯B区6栋总阀下法兰接口焊缝有微漏[PPM浓度:380],中压管线巡查巡检。","status1":"已签收","status2":"已派单","status3":"抢维修"},
							{"desc":"2018-12-11,圣.莫丽斯南195.44米[111961,25576]坐标，龙华圣.莫丽斯B区6栋总阀下法兰接口焊缝有微漏[PPM浓度:380],中压管线巡查巡检。","status1":"已签收","status2":"已派单","status3":"抢维修"},
							{"desc":"2018-12-11,圣.莫丽斯南195.44米[111961,25576]坐标，龙华圣.莫丽斯B区6栋总阀下法兰接口焊缝有微漏[PPM浓度:380],中压管线巡查巡检。","status1":"已签收","status2":"已派单","status3":"抢维修"},
							{"desc":"2018-12-11,圣.莫丽斯南195.44米[111961,25576]坐标，龙华圣.莫丽斯B区6栋总阀下法兰接口焊缝有微漏[PPM浓度:380],中压管线巡查巡检。","status1":"已签收","status2":"已派单","status3":"抢维修"},
							{"desc":"2018-12-11,圣.莫丽斯南195.44米[111961,25576]坐标，龙华圣.莫丽斯B区6栋总阀下法兰接口焊缝有微漏[PPM浓度:380],中压管线巡查巡检。","status1":"已签收","status2":"已派单","status3":"抢维修"},
						],
						"riskGrade":[
							{"Num":"1","grade":"I级"},
							{"Num":"1","grade":"II级"},
							{"Num":"3","grade":"III级"},
						],
						"riskResult":[
							{"Num":"3,261","grade":"高后果区总计"},
							{"Num":"117","grade":"I级高后果区"},
							{"Num":"1,952","grade":"II级高后果区"},
							{"Num":"1,192","grade":"III级高后果区"},
						],
					};

			that.riskListData = data.riskList;

            that.jasMap = new JasMap({
                appConfig:that.mapConfig,
                onMapLoaded:function(){
                	that.jasMap.zoomExtent(111.44994509265365, 40.538005529376385, 111.97591555163802, 41.05298966023576);
                }
            });
		},
		methods: {
			getChartData:function () {
				var that = this;
				// var url = './data.json';
				// jasTools.ajax.post(url, {
				// }, function (data) {
				// 	if(data.status == 1){
					    var data = {
							"status":1,
							"LegalMonitoring":{
								"legend":[{"name":"内检测待检里程","icon":"circle"},{"name":"高后果区待更新","icon":"circle"}],
								"month": ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
								"add":["39","20","40","46","25","38","40","40","54","50","45","44"],
								"end":["30","40","30","38","46","29","51","40","30","36","34","34"]
							},
							"Performance":{
								"xAxisData":["新城区","玉泉区","清水河县","武川县"],
								"year1":["4","6","2","3"],
								"year2":["7","1","6","5"]
							},
							"SafeTrend":{
								"month": ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月"],
								"year1":["2.90","4.00","5.00","5.00","3.00","4.00","3.00","2.00","5.00","6.00","4.00","3.00"],
								"year2":["2.90","3.00","2.50","3.60","4.00","2.00","3.80","4.70","5.40","5.00","4.70","5.00"]
							}
						};

						that.PerformanceData = data.Performance;
						that.PerformanceChart();

						that.LegalMonitoringData = data.LegalMonitoring;
						that.LegalMonitoringChart();

						that.SafeTrendData = data.SafeTrend;
						that.safeTrendChart();
					// }
				// });
			},
			PerformanceChart:function(){
				var that = this;
				if (!this.ChartPerformance) {
					console.log(document.getElementById('performance'))
					this.ChartPerformance = echarts.init(document.getElementById('performance'));
					$(window).resize(function () {
						that.ChartPerformance.resize();
					});
				}
				// 指定图表的配置项和数据

				    option = {
						textStyle: {
							color: "#5695cb",
							fontSize: 12
						},
						tooltip : {
							trigger: 'axis',
							axisPointer: {
								type: 'shadow',
								label: {
									show: true
								}
							}
						},
						legend: {
							right:"0%",
							textStyle:{
								color:"#03affe"
							},
							data:['已整改', '未整改']
						},
						grid: {
							top: '12%',
							left: '10%',
							right: '0%',
							bottom:"12%"
						},
						xAxis: [
							{
								type : 'category',
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								data:that.PerformanceData.xAxisData,
								// data : ["占压隐患","III级高后果区","重大工地","地灾风险","内检测"]
							}
					],
					yAxis: [
							{
								type : 'value',
								name : '(条)',
								splitLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
							}
						],
						series : [
							{
								name: '已整改',
								type: 'bar',
								barWidth:25,
								itemStyle:{
									normal:{
										color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: '#6950d2'
											}, {
											offset: 1,
											color: '#9b4457'
										}])

									}
								},
								label: {
									normal: {
										show: true,
										position: 'top',
										textStyle:{
											color:"#f1f2ea"
										}
									}
								
								},
								data:that.PerformanceData.year1,
								// data: ["732","38","725","42","423"]
							},
							{
								name: '未整改',
								type: 'bar',
								barWidth:25,
								itemStyle:{
									normal:{
										color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: '#0a8fca'
											}, {
											offset: 1,
											color: '#2c46b5'
											
										}])
									}
								},
								label: {
									normal: {
										show: true,
										position: 'top',
										textStyle:{
											color:"#f1f2ea"
										}
										
									}
								},
								data:that.PerformanceData.year2,
								// data: ["1159","158","1028","107","856"]
							}
						]
					};

				
				// 使用刚指定的配置项和数据显示图表。
				this.ChartPerformance.setOption(option);
				this.ChartPerformance.on("click",function(parame){
					that.showDuBanList();
				})
			},
			LegalMonitoringChart:function(){
				var that = this;
				if (!this.ChartLegalMonitoring) {
					this.ChartLegalMonitoring = echarts.init(document.getElementById('legalMonitoring'));
					$(window).resize(function () {
						that.ChartLegalMonitoring.resize();
					});
				}

				 option = {
					textStyle: {
							color: "#5695cb",
							fontSize: 12
						},
					tooltip : {
						trigger: 'axis',
						axisPointer: {
							type: 'shadow',
							label: {
								show: true
							}
						}
					},
					legend: {
						right:"0%",
						top:"5%",
						textStyle:{
							color:"#03affe"
						},
						data:that.LegalMonitoringData.legend,
						// data:[
						// 	{name:'内检测待检里程',icon:"circle"},
						// 	{name:'高后果区待更新',icon:"circle"}
						// ]
					},
					grid: {
						top: '30%',
						left: '10%',
						right: '10%',
						bottom:"12%"
					},
					xAxis: [
							{
								name: '月份',
								type : 'category',
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								data:that.LegalMonitoringData.month,
								// data : ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月",]
							}
					],
					yAxis: [
							{
								name: '内检测\n待检里程(Km)',
								type : 'value',
								splitLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								}
							},
							{
								name: '高后果区\n待更新（个） ',
								type : 'value',
								splitLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								}
							}
						],
						series : [
							{
								name: '内检测待检里程',
								type: 'line',
								symbol:'circle',
								symbolSize:4,
								label: {
									normal: {
										show: true,
										position: 'top',
										textStyle:{
											color:"#f1f2ea"
										}
									}
								},
								itemStyle:{
									normal: {
										color:"#ffcc00"
									} 
								},
								lineStyle:{
								normal: {
										color:"#ffcc00"
									} 
								},
								data:that.LegalMonitoringData.add,
								// data: ["492","56","700","563","599","486","698","764","953","644","0","0"]
							},{
								name: '高后果区待更新',
								type: 'line',
								symbol:'circle',
								symbolSize:4,
								yAxisIndex:1,
								label: {
									normal: {
										show: true,
										position: 'top',
										textStyle:{
											color:"#f1f2ea"
										}
									}
								},
								itemStyle:{
									normal: {
										color:"#0f9ca5"
									} 
								},
								lineStyle:{
								normal: {
										color:"#0f9ca5"
									} 
								},
								data:that.LegalMonitoringData.end,
								// data: ["946","394","259","483","563","398","615","504","812","468","0","0"]
							}
						]
					};
				this.ChartLegalMonitoring.setOption(option,true);
			},
			safeTrendChart:function(){
				var that = this;
				if (!this.ChartsafeTrend) {
					this.ChartsafeTrend = echarts.init(document.getElementById('safeTrend'));
					$(window).resize(function () {
						that.ChartsafeTrend.resize();
					});
				}
				var option = {
						textStyle: {
							color: "#5695cb",
							fontSize: 12
						},
						tooltip : {
							trigger: 'axis',
							axisPointer: {
								type: 'shadow',
								label: {
									show: true
								}
							}
						},
						legend: {
							right:"0%",
							textStyle:{
								color:"#03affe"
							},
							data:['2019','2018']
						},
						grid: {
							top: '12%',
							left: '8%',
							right: '0%',
							bottom:"12%"
						},
						xAxis: [
							{
								// name: '月份',
								type : 'category',
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								// data:that.SafeTrendData.month,
								data : ["1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月",]
							}
					],
					yAxis: [
							{
								name: '',
								type : 'value',
								// axisLabel: {
								// 		formatter: '{value}.00 %'
								// },
								splitLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								axisLine:{
									lineStyle:{
										color:"#5695cb"
									}
								},
								min:"0",
								max:"7"
							}
						],
						series : [
							{
								name: '2019',
								type: 'line',
								symbol:'circle',
								symbolSize:4,
								label: {
								    normal: {
								        show: true,
								        position: 'top',
								        // textStyle:{
								        //     color:"#f1f2ea"
								        // },
								        // formatter:function(params){
								        //     return params.value + "%";
								        // }
								    }
								},
								lineStyle:{
								normal: {
										color:"#c6697c"
									} 
								},
								itemStyle:{
								normal: {
										color:"#c6697c"
									} 
								},
								// data:that.SafeTrendData.year1
								data: ["2.90","4.00","5.00","5.00","3.00","4.00","3.00","2.00","5.00","6.00","4.00","3.00"]
							},{
								name: '2018',
								type: 'line',
								symbol:'circle',
								symbolSize:4,
								label: {
								    normal: {
								        show: true,
								        position: 'top',
								        // textStyle:{
								        //     color:"#f1f2ea"
								        // },
								        // formatter:function(params){
								        //     return params.value + "%";
								        // }
								    }
								},
								lineStyle:{
								normal: {
										color:"#388fc5"
									} 
								},
								itemStyle:{
								normal: {
										color:"#388fc5"
									} 
								},
								
								// data:that.SafeTrendData.year2
								data: ["2.90","3.00","2.50","3.60","4.00","2.00","3.80","4.70","5.40","5.00","4.70","5.00"]
							}
						]
					};
			
				this.ChartsafeTrend.setOption(option,true);
			},
			openRiskDetail:function(){
				// $(".map-info").hide();
				// alert(jasTools.base.rootPath);
				jasTools.selfDialog.show({
					title: '风险列表',
					// src: './dialogs/detail2.html',
					src: './dialogs/detailList.html?dataType=fengxianList',
					height: '200px',
					// width: '800px',
					width: '48%',
				})
			},
			open3D:function(e){
				// alert("open3D");
				// var tag = e.target;
				// console.log(tag);
				// $(tag).toggleClass("active");
				// if($(tag).hasClass("active")){
					// alert("执行打开3D图层");
				// }
                window.open("../../../../jasmvvm/pages/map3d/app_nmg/index.html");
			},
			openMax:function(e){
				// alert("地图最大化:"+this.ismax);
				this.ismax = !this.ismax;
			},
			clearMap:function(e){
				// alert("清除所有图层");
			},
            switchImageMap:function(e){
                if(this.baseMap !== "google_img"){
                    this.baseMap = "google_img";
                }else{
                    this.baseMap = "dark_shp";
                }
                this.jasMap.switchBaseMap(this.baseMap);
			},
            switchVecMap:function(e){
                if(this.baseMap !== "google_vec"){
                    this.baseMap = "google_vec";
                }else{
                    this.baseMap = "dark_shp";
                }
                this.jasMap.switchBaseMap(this.baseMap);
            },
			openTuCeng:function(){
				jasTools.selfDialog.show({
					title: '图层列表',
					src: '../common/mapList.html',
					height: '265px',
					width: '200px',
					right:"27%",
					top:"360px",
				})
			},
			areaChange:function(){
				// alert(this.areaVal)
			},
			companyChange:function(){
				// alert(this.companyVal)
			},
			showGaoHouGuo:function(){
				// alert("在地图长显示高后果区信息")
				jasTools.selfDialog.show({
					title: '高后果区违规列表',
					// src: './dialogs/detail3.html',
					src: './dialogs/detailList.html?dataType=gaoHouGuoWeiGui',
					height: '200px',
					// width: '800px',
					width: '48%',
				})
				
			},
			showNeiJianCe:function(){
				// alert("在地图长显示内检测信息")
				jasTools.selfDialog.show({
					title: '内检测违规列表',
					// src: './dialogs/detail4.html',
					src: './dialogs/detailList.html?dataType=neiJianCeWeiGui',
					height: '200px',
					// width: '800px',
					width: '48%',
				})
			},
			showDuBanList:function(){
				jasTools.selfDialog.show({
					title: '督办列表',
					// src: './dialogs/detail5.html',
					src: './dialogs/detailList.html?dataType=duBanList',
					height: '200px',
					// width: '800px',
					width: '48%',
				})
			},
			operateMap:function(){
				// switch 按钮控制图层
				// alert("switch 按钮控制图层");
				var arr = [];
                if(this.value5){
                    arr.push("I级风险");//layerId表level值
                }
                if(this.value4){
                    arr.push("Ⅱ级风险");
                }
                if(this.value3){
                    arr.push("Ⅲ级风险");
                }
                console.log(arr);
                // 这里调用操作地图图层的方法
                // switch 传参 a:所要展示的类型值[1,2,3]
                //             b:类型的名称 "level"
                this.jasMap.updateLayer(this.layerId,{
                    "show":true,
                    "fieldName":"level",
                    "fieldValues":arr
                })
			},
			locationPoint:function(idx,type){
				var key = this.layerKeyName;
				var target = {};
                target[key] = idx + 1;
                this.jasMap.flashGraphic( target ,this.layerId);
			},
			openDetail:function(dataType){
				jasTools.selfDialog.show({
					title: '详情列表',
					src: './dialogs/detailPage.html?dataType='+dataType,
					height: '450px',
					width: '30%',
					isDetail:true, 
				})
			}
		}
	})
</script>

</html>