<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>内蒙古自治区油气长输管线安全监管平台</title>
	<!-- <link rel="stylesheet" href="./libelement-ui/element-#0E2B4A/src/index.css"> -->
	<link rel="stylesheet" href="./lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./lib/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="./src/css/main.css">
	<link rel="stylesheet" href="./src/css/login.css">
	<style>
		.applink {
			overflow: hidden;
			height: 24px;
			font-size: 16px;
			line-height: 24px;
			background: #f90;
			text-align: center;
			width: 140px;
			position: absolute;
			left: 0;
			top: 0;
			transform: translateX(-30px) translateY(28px) rotateZ(-45deg);
			-webkit-transform: translateX(-30px) translateY(28px) rotateZ(-45deg);
			-webkit-box-shadow: 0px 1px 9px #666;
			box-shadow: 0px 1px 9px #666;
			color: #666;
			cursor: pointer;
		}
		.login-title{
			font-family: initial;
			/* line-height: 10; */
			font-size: 25px;
			color: #ffff;
			text-align: center;
			letter-spacing: 10px;
		}
	</style>
</head>

<body>
	<div class="login-wrap" >
		<!-- <div class="applink" @click="centerDialogVisible = true">APP下载</div>
		<el-dialog v-cloak title="APP下载" :visible.sync="centerDialogVisible" width="350px" center>
			<div style="width:300px;height:300px;background: #00b7ff url(src/images/wecode.png) no-repeat center center">

			</div>
			<span slot="footer" class="dialog-footer">
				<el-button size="small" @click="centerDialogVisible = false">取 消</el-button>
				<el-button size="small" type="primary" @click="downloadApp">直接下载</el-button>
			</span>
		</el-dialog> -->
		<div class="content">
			<div class="content-bg">
				<!-- <div class="start">
				</div> -->
				<!-- <div class="title"> -->
					<div class="login-title"><h1>高后果区<br/>识别与分析系统</h1></div>
				<!-- </div> -->
				<div class="ms-login">
					<!-- <div class="logo">
					</div> -->
					<el-tabs v-model="activeName" @tab-click="handleClick">
						<el-tab-pane label="企业" name="zzq">企业</el-tab-pane>
						<!-- <el-tab-pane label="盟市" name="hs">盟市</el-tab-pane>
						<el-tab-pane label="企业" name="qy">企业</el-tab-pane> -->
					</el-tabs>
					<el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="0px" v-if="!logined" class="form">
						<el-form-item prop="userid">
						<el-input prefix-icon="fa user-logo" clearable v-model.number="ruleForm.userid" placeholder="请输入用户名称">
							</el-input>
						</el-form-item>
						<el-form-item prop="pass">
							<el-input prefix-icon="fa password-logo" clearable type="password" placeholder="请输入密码" v-model="ruleForm.pass"
								@keyup.enter.native="submitForm('ruleForm')"></el-input>
						</el-form-item>
						<div class="login-btn">
							<el-button type="primary" @click="submitForm('ruleForm')">登录</el-button>
						</div>
						<!--<div class="password" @click="forgetPass">
							忘记密码
						</div>-->
					</el-form>
				</div>
			</div>
		</div>
		<!-- <div class="bottom">
			<div class="bg1">
			</div>
			<div class="bg2">
			</div>
			<div class="bg3">
			</div>
			<div class="bg4">
			</div>
			<div class="bg5">
			</div>
		</div> -->
		<p class="copyright">
			版权所有：北京中盈安信技术服务股份有限公司
		</p>
	</div>

</body>
<!-- import Vue before Element -->
<script src="./lib/vue/vue.js"></script>
<script src="./lib/jquery/jquery-1.12.4.min.js"></script>
<!-- import JavaScript -->
<script src="./common/components/jas-components.js"></script>
<script src="./lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./common/js/jas-tools.js"></script>

<script>
	var vm = new Vue({
		el: ".login-wrap",
		data: function () {
			return {
				centerDialogVisible: false,
				logined: 0,
				isPersonal: false,
				ruleForm: {
					userid: 'zzq',
					pass: '',
					logintype: 0,
					radio: "1"
				},
				rules: {
					username: [{
						required: true,
						message: '请输入用户名称'
					}],
					password: [{
						required: true,
						message: '请输入密码'
					}]
				},
				activeName: 'zzq'
			};
		},
		watched: {
			activeName: function(val) {
				
			}
		},
		methods: {
			gotoreset: function () {

			},
			gotoregist: function () {

			},
			submitForm: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (!valid) {
						return false;
					}
					var url = jasTools.base.rootPath + "/jasframework/login/login.do";
				    //var url= jasTools.base.rootPath + "/daq/privilege/appLogin.do";
					jasTools.ajax.post(url, {
						"logintype": "0",
						"loginNum": that.ruleForm.userid,
						"pass": that.ruleForm.pass,
						"i18n": "zh_CN",
						"appId": "402894a152681ba30152681e8b320003"
					}, function (data) {
						localStorage.setItem("token", data.token);
						var userBo = data.user;
						var unitName = userBo.unitName;
						unitName = unitName.substr(unitName.lastIndexOf(">") + 1, unitName.length);
						userBo.unitName = unitName;
						localStorage.setItem("user", JSON.stringify(userBo));
						localStorage.setItem("calculateType", 1); //1-显示桩和偏移量  2显示坐标s
						// var regularList=[]
						// data.daqWeldCodeRegularList.forEach(function(item){
						// 	var obj={
						// 			projectOid:item.projectOid,
						// 			weldcodeRegular:item.weldcodeRegular
						// 		};
						// 	regularList.push(JSON.stringify(obj));
						// });
						// localStorage.setItem("weldcodeRegularList",JSON.stringify(regularList));
// 						var unitType=data.unitType;
// 						if((unitType=='2'&&userBo.roleIds=='27decdd7-2748-4400-bc0f-c7f2538aa70d')||unitType=="4"){
//                              localStorage.setItem("isShowNumber",true);
// 						}else{
// 							localStorage.setItem("isShowNumber",false);
// 						}
						
						if("内蒙古西部管道" == unitName || "蒙油政务" == unitName){		//自治区领导
// 							location.href = "./index.html";		
							location.href = "./pages/row-onepage/total/total.html";
						}else if("蒙油监管" == unitName){							//市领导
							location.href = "./pages/row-onepage/total_city/total_city.html";
						}else if("蒙油管道" == unitName){							//企业领导
							location.href = "./index.html";		
						}else{													//其他人员
							location.href = "./index.html";		
						}

// 						if (that.ruleForm.radio == '1') {
// 							location.href = "./index.html";
// 						} else {
// 							location.href = "./index.html";
// 						}
					});
				});
			},
			forgetPass: function () {
				//忘记密码
				var that = this;
				alert("忘记密码操作");
				// jasTools.dialog.show({
				// 	title: '修改密码',
				// 	width: '530px',
				// 	height: '530px',
				// 	src: 'resetword.html',
				// 	cbForClose: function (param) {
				// 		if (param === 1) {

				// 		}
				// 	}
				// });
			},
			downloadApp: function () {
				this.centerDialogVisible = false;
				jasTools.ajax.downloadByIframe('get', 'http://download.zyax.cn/jasdaq.apk');
			},
			handleClick: function() {
				this.ruleForm.userid = this.activeName
			}
		}
	});
</script>

</html>