<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../../src/css/main.css">
	<style>
		html,body,
		#app {
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.el-table, .el-table th, .el-table tr, .el-table td {
		    border: 0;
			background:#060e22f2;
			
		}	
		.el-table--striped .el-table__body tr.el-table__row--striped td {
			/* background-color: rgba(148, 144, 144, 0.3); */
		}
		.el-table::before {
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0px;
		}
		.el-table__fixed-right-patch {
			background:transparent;
		}
		
		.el-table__fixed-right::before, .el-table__fixed::before {
		    background-color: transparent;;
		}
		
		
		.el-button--primary.is-plain, .el-button--default, .el-button--primary {
			color:#b5ddff;
			background: #0567ad78;
		}
		.el-input__inner {
		    height: 30px;
		    line-height: 30px;
		    border: 1px solid #466599;
		    color: #b5ddff;
		}
		.el-input, .el-input__inner {
		    background: transparent;
		}
		.el-pager ul, .el-pager li {
			background:transparent;
			color:#fff;
		}
		.el-pagination .btn-prev, .el-pagination .btn-next, .el-pagination button:disabled {
		    background: transparent;
		}
		.el-form-item__label, .el-pagination__total, .el-pagination__jump{
			color:#fff;
		}
		.el-table--striped .el-table__body tr.el-table__row--striped.current-row td,
		.el-table__body tr.current-row>td,
		.el-table__body tr.hover-row.current-row>td,
		.el-table__body tr.hover-row.el-table__row--striped.current-row>td,
		.el-table__body tr.hover-row.el-table__row--striped>td,
		.el-table__body tr.hover-row>td {
		    background-color: #7fa9d838
		}
		
		::-webkit-scrollbar { background-color:transparent;}
		/* ::-webkit-scrollbar-track {background-color:#f0f6ff;  } */
		::-webkit-scrollbar-thumb {background-color:#8F8F8F; border-radius:6px;}  
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-list-wrapper ref="mylist">
		<div slot="search">
			<el-form class="jas-search-for-list" :model="form" label-width="100px">
				<el-row>
					<el-col :xs="24" :sm="24" :md="9" :lg="6" :xl="6">
						<el-form-item label="管线名称" prop="pipelineName" style="margin-bottom: 15px ">
							<el-input v-model="form.pipelineName" :placeholder="'请输入管线名称'" size="small" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="24" :md="9" :lg="6" :xl="6">
						<el-form-item label="管线编号" prop="pipelineCode" style="margin-bottom: 15px ">
							<el-input v-model="form.pipelineCode" :placeholder="'请输入管线编号'" size="small" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="24" :md="6" :lg="12" :xl="12">
						<el-form-item style="float:right;margin-bottom: 0px;">
							<el-button size="small" @click="requestList(1)">重置</el-button>
							<el-button size="small" type="primary" @click="requestList(2)">查询</el-button>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
		</div>
		<div slot="list" style="padding: 0 10px 10px" class="jas-flex-box is-vertical is-grown">
			<div style="padding: 15px 0;">
				<el-button @click="addPipeline" size="small" plain type="primary" icon="fa fa-plus">新增</el-button>
				<span class="fr">
					<el-tooltip class="item" content="刷新" placement="top">
						<el-button size="small" icon="el-icon-refresh" @click="requestList(0)"></el-button>
					</el-tooltip>												
					<el-tooltip v-show="isClosed" class="item" content="展开搜索" placement="top">
						<el-button size="small" icon="el-icon-arrow-down" @click="toggleSearch"></el-button>
					</el-tooltip>
					<el-tooltip v-show="!isClosed" class="item" content="收起搜索" placement="top">
						<el-button size="small" icon="el-icon-arrow-up" @click="toggleSearch"></el-button>
					</el-tooltip>
				</span>
			</div>
			<div class="is-grown">

				<el-table ref="mytable" @row-dblclick="seeDetail"  v-loading="loading"
					height="100%" :data="tableData"  :header-cell-style="headStyle" :row-style="tableRowStyle" style="width: 100%">
					<el-table-column label="序号" type="index" align="center" width="50" fixed>
					</el-table-column>											
					<el-table-column label="管线名称"  prop="pipelineName" min-width="160px" show-overflow-tooltip align="center" header-align="center" fixed>
					</el-table-column>						
					<el-table-column label="管线编号"  prop="pipelineCode" min-width="150px" show-overflow-tooltip align="center" header-align="center" fixed>
					</el-table-column>
					<el-table-column label="起始里程" prop="startMileage" min-width="100px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="终止里程" prop="endMileage" min-width="100px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>						
					<el-table-column label="管道长度" prop="pipelineLength" min-width="100px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="外管径(mm)" prop="outsideDiameter" min-width="100px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="最大压力(mpa)" prop="pressure" min-width="120px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="备注" prop="remarks" min-width="200px" show-overflow-tooltip align="left" header-align="center">
					</el-table-column>
					<el-table-column label="操作" align="center" min-width="400px" fixed="right">
						<template slot-scope="scope">
							<el-button @click="seeDetail(scope.row)" type="text" size="small" icon="fa fa-info-circle">详情</el-button>
							<el-button @click="editPipeline(scope.row)" type="text" size="small" icon="fa fa-pencil">修改</el-button>
							<el-button @click="deletePipeline(scope.row)" type="text" size="small" icon="fa fa-minus">删除</el-button>
							<el-button @click="importFile" type="text" size="small" icon="fa fa-arrow-up">导入</el-button>
							<el-button @click="locate(scope.row)" type="text" size="small" icon="fa fa-map-marker">定位</el-button>
							<el-button @click="createBuffer(scope.row)" type="text" size="small" icon="fa fa-map-marker">开始识别</el-button>
						</template>
					</el-table-column>
				</el-table>
			</div>
			<div style="padding: 15px 0 0;" class="clearfix">
				<el-pagination class="fr" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
					:page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
				</el-pagination>
			</div>
		</div>
		</jas-list-wrapper>
	</div>
</body>
<script src="./../../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../../lib/vue/vue.js"></script>
<script src="./../../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../../common/components/jas-components.js "></script>
<script src="./../../../../../common/js/jas-tools.js"></script>
<script>

/**
 * @desc 获取访问路径中某个参数
 * 
 * @param paramName 参数名
 * @param url 指定要截取参数的url（可以为空，如果为空url指向当前页面）
 */
 function getParamter(paramName, url) {
	var seachUrl = window.location.search.replace("?", "");
	if (url != null) {
		var index = url.indexOf('?');
		url = url.substr(index + 1);
		seachUrl = url;
	}
	var ss = seachUrl.split("&");
	var paramNameStr = "";
	var paramNameIndex = -1;
	for ( var i = 0; i < ss.length; i++) {
		paramNameIndex = ss[i].indexOf("=");
		paramNameStr = ss[i].substring(0, paramNameIndex);
		if (paramNameStr == paramName) {
			var returnValue = ss[i].substring(paramNameIndex + 1, ss[i].length);
			if (typeof (returnValue) == "undefined") {
				returnValue = "";
			}
			return returnValue;
		}
	}
	return "";
}
var vm = new Vue({
	el: '#app',
	data: function () {
		return {
			headStyle: {
				'background': 'transparent',
				'color': '#F1F2EA'
			},
			tableRowStyle: {
				'color': '#7495A8'
			},
			isClosed: true,
			tableData: [],
			form: {},
			
			pageSize: 10,
			currentPage: 1,
			total: 0,
			loading: false,
			selectedRowOids: [],
 		}
	},
	computed: {},
	watch: {
		selectedRows: function () {
			var selects = [];
			this.selectedRows.forEach(function (item) {
				selects.push(item.oid);					
			});
			this.selectedRowOids = selects;
		}
	},
	created: function () {
		this.requestList(0);			
		this.forBusiness = getParamter('forBusiness');
		this.jasMap = parent.app.jasMap;
	},

	mounted: function () {
        this.$refs['mylist'].toggleSearch();
    },
	methods: {
		addPipeline: function(){
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/pipeline-manage/add.html';
			top.jasTools.selfDialog.show({
				width: '50%',
				height: '40%',
				bottom:'20%',						
				left:'30%',
				title: '新增管线信息',
				src: baseSrc,
				cbForClose: function () {
					that.requestList(0);
				}
			});
		},
		editPipeline: function(row){
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/pipeline-manage/add.html';
			top.jasTools.selfDialog.show({
				width: '50%',
				height: '40%',
				bottom:'20%',						
				left:'30%',
				title: '修改管线信息',
				src: baseSrc + '?oid=' + row.oid,
				cbForClose: function () {
					that.requestList(0);
				}
			});
		},
		seeDetail: function (row) {
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/pipeline-manage/detail.html';
			var src = jasTools.base.setParamsToUrl(baseSrc, {
				oid: row.oid,
			});
			top.jasTools.selfDialog.show({
				width: '50%',
				height: '40%',
				bottom:'20%',						
				left:'30%',
				title: '管线信息详情',
				src: src,
			});
		},
		deletePipeline: function (row) {
			var that = this;
			var afterDelete = function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: '删除成功'
				});
				that.requestList(0);
			};
			window.top.Vue.prototype.$confirm('您确定要删除吗？', '删除管线信息', {
				type: 'warning',
				callback: function (action) {
					if (action === 'confirm') {
						var url = jasTools.base.rootPath + "/jdbc/commonData/hcapipeline/delete.do";
						jasTools.ajax.post(url, {
							oid:row.oid
						}, function (data) {
							afterDelete();
						});
					}
				}
			});
		},
		importFile: function(){
			top.jasTools.selfDialog.show({
				src: jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/upload.html?forbusiness=3',
				width: '40%',
				height: '52%',
				bottom:'20%',						
				left:'35%',
				title: '导入',
			})
		},
		requestList: function (param) { // 0刷新  1重置  2搜索
			var that = this;
			if (param == 1 || param == 0) {
				this.form = {};
				this.pageSize = 10;
				this.currentPage = 1;
			}
			if (param == 2) {
				this.pageSize = 10;
				this.currentPage = 1;
			}
			var url = jasTools.base.rootPath + "/jdbc/commonData/hcapipeline/getPage.do";
 			that.loading = true;				
 			jasTools.ajax.post(url, {
				pipelineName: this.form.pipelineName,
				pipelineCode: this.form.pipelineCode,
				pageNo: this.currentPage,
				pageSize: this.pageSize,
				page: this.currentPage,
				rows: this.pageSize,
			}, function (data) {
				that.loading = false;
				that.total = data.total;
				that.tableData = data.rows;
			});   
		},
		toggleSearch: function () {
			this.$refs['mylist'].toggleSearch();
			this.isClosed = this.$refs['mylist'].isClosed;
		},
		handleSizeChange: function (val) {
			this.pageSize = val;
			this.requestList();
		},
		handleCurrentChange: function (val) {
			this.currentPage = val;
			this.requestList();
		},
		
		locate: function(item){
			/* this.jasMap.updateLayer('pd_pipesegment',{
                "show":true,
                "fieldName":"eventid",
                "fieldValues":[item.oid]
            }) */
            var gid='';
            /* if(item.oid='fa692d8c-6dfe-41d6-a8e1-6303a5ebfae5'){
            	gid = '1';
            }else if(item.oid='1a0df2e4-46f1-4814-b63c-983172c105c7'){
            	gid = '5';
            }else{
            	gid = '15';
            } */
			this.jasMap.flashGraphic(item.oid, 'hca_pipeline',{
                deep:2
            });
		},
		createBuffer: function(row){
			this.jasMap.updateLayer('hca_pipeline',{
                "show":true,
                "fieldName":"oid",
                //"fieldValues":[row.oid]
                "fieldValues":["fa692d8c-6dfe-41d6-a8e1-6303a5ebfae5"]
            });
            window.parent.jasTools.selfDialog.close();
            parent.app.isManage=false;
            parent.app.isShowPipeline=true;
            parent.app.localPipelineName="当前管线："+row.pipelineName;
			top.jasTools.selfDialog.show({
				title: '识别区条件',
				src: jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/buffer.html',
				height: '200px',
				width: '260px',
				left:"10%",
				top:"140px"
			})
		}
	},
});

</script>
</html>