<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./../../../lib/font-awesome-4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="./../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
  <link rel="stylesheet" href="./../../../src/css/main.css">
  <style>
    .progressViewData {
      padding-top: 20px;
    }

    td,
    th {
      text-align: center !important;
    }
  </style>
</head>

<body>
  <div id="app" v-cloak>

    <jas-approve-dialog>
      <div class="progressViewData">
        <div class="jas-detail-table">
          <table class="table_wrap">
            <tr>
              <template v-for="title in currentObj.titleArr">
                <th v-text="title"></th>
              </template>
            </tr>
            <template v-for="item in progressData">
              <tr>
                <template v-for="(value,key) in item">
                  <td v-text="value"></td>
                </template>
              </tr>
            </template>
          </table>
        </div>
      </div>
    </jas-approve-dialog>
  </div>
</body>
<script src="./../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../lib/vue/vue.js"></script>
<script src="./../../../lib/element-ui/v2.4.1/index.min.js"></script>

<script src="./../../../common/components/jas-components.js "></script>
<script src="./../../../common/js/jas-tools.js"></script>

<script>
  var app = new Vue({
    el: "#app",
    data: function () {
      var that = this;
      return {
        map: {
          lengthMonthViewData: {
            type: "lengthMonthViewData",
            titleArr: ["月份", "每月新增长度（米）", "累计新增长度（米）"],
            url: jasTools.base.rootPath + "/daq/mesolow/getMonthlyGrothAndTotal.do",
            isChangeUnit: false,
          },
          lengthUnitViewData: {
            type: "lengthUnitViewData",
            titleArr: ["施工单位|月份", "1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月", "合计"],
            url: jasTools.base.rootPath + "/daq/mesolow/getMonthlyGrowthAllYear.do",//此时修改为 按照施工单位进行统计的
            isChangeUnit: false,
          }
        },
        currentObj: {},
        searchObj: {},
        progressData: []
      }
    },
    created: function () {
      var that = this;
      var param = window.jasTools.base.getParamsInUrl(location.href);
      that.currentObj = that.map[param.isShow];
      if (param.projectOids) {
        that.searchObj.projectOids = param.projectOids.split(",");
      } else {
        that.searchObj.projectOid = param.projectOid
      }
      if (param.year) {
        that.searchObj.year = param.year;
      }
      if (param.date) {
        that.searchObj.date = param.date;
      }
      that.requestNet();
    },
    methods: {
      requestNet: function () { //各工序分项目对比统计
        var that = this;
        jasTools.ajax.post(that.currentObj.url, that.searchObj, function (data) {
          that.progressData = [];
          switch (that.currentObj.type) {
            case "lengthMonthViewData":
              {
                var result = data.data;
                var currentYear = new Date().getFullYear();
                if (currentYear == that.searchObj.year) {
                  //进行数组的截取
                  var index = new Date().getMonth() + 1;
                  result.monthlyGowth = result.monthlyGowth.slice(0, index);
                  result.monthlyTotal = result.monthlyTotal.slice(0, index);
                };
                result.monthlyGowth.forEach(function (item, index) {
                  var obj = {
                    year: that.searchObj.year + "年" + (index + 1) + "月",
                    lengthMonth: item,
                    totalLength: data.data.monthlyTotal[index]
                  }
                  that.progressData.push(obj);
                });
                break;
              }
            case "lengthUnitViewData": {
              //此时没有数据 进行的是数据模拟  数据返回格式如下
              var result = data.rows;
              result.forEach(function (item) {
                var obj = {};
                for (var key in item) {
                  obj.unit = key;
                  item[key].forEach(function(item,index){
              	   obj["month"+index]=item;
                   });
                }
               that.progressData.push(obj);
              });
              break;
            }
          }
        });
      }
    },
  });

</script>

</html>