html,
body,
#app,
.outerwrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: #333;
	font-size: 14px;
}

.height100 {
	height: 100%;
}

/* header寮�濮� */

.headerwrapper {
	background: #3589df;
	/* background: #344052; */
	border-bottom: 1px solid #2a82dd;
}

.header {
	position: relative;
	box-sizing: border-box;
	height: 60px;
	font-size: 22px;
	/*line-height: 80px;*/
	color: #fff;
	margin: 0 -20px 0 -20px;
	overflow: hidden;
}

.logo {
	width: 60px;
	background: url(./../images/logo-meng.png) no-repeat center center;
	background-size: 40px;
	margin: 0 10px 0 10px;
}

.name .china {
	height: 30px;
	font-size: 20px;
	font-weight: 600;
	line-height: 42px;
	letter-spacing: 10px;
}

.name .english {
	font-weight: 600;
	line-height: 24px;
	height: 18px;
	font-size: 12px;
	letter-spacing: 0px;
}

.item {
	height: 60px;
	/*line-height: 60px;*/
	/* color: white; */
	color: #ececec;
	float: left;
}

.user-info {
	float: right;
	/*padding-right: 30px;*/
	font-size: 16px;
	color: #fff;
	/*line-height: 40px;*/
	height: 60px;
}

.user-info .dropdown-wrapper {
	/*margin-top: 20px;*/
	height: 60px;
	/*line-height: 40px;*/
}

.user-info .el-dropdown-link {
	position: relative;
	display: inline-block;
	padding-left: 50px;
	color: #fff;
	cursor: pointer;
	vertical-align: middle;
}

.user-info .user-logo {
	position: absolute;
	left: 0;
	top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.user-info li {
	list-style: none;
	display: inline-block;
	float: right;
}

a {
	color: #fff;
	color: #ececec;

}

a:hover {
	background: #328bdd;
	background: #1f2630;
}

.user-info .quit {
	height: 60px;
	line-height: 60px;
	/*padding: 0px 10px;*/
	/*margin: 10px 0px;

	border-left: 2px solid #5fb8ff;*/
	cursor: pointer;
	/* border-left: 1px solid #1f2630; */
}

.border {
	height: 30px;
	margin: 15px 0px;
	line-height: 30px;
	color: #5fb8ff;
	border-left: 1px solid #1f2630;
	width: 2px;

}

.user-info .fullscreen {
	height: 60px;
	line-height: 60px;
	/*padding: 0px 10px;*/
	/*margin: 10px 0px;

	border-left: 2px solid #5fb8ff;*/
	cursor: pointer;
}

.userInfo {
	height: 40px;
	padding: 10px 10px 10px 0px;
}

.username,
.userunit {
	height: 20px;
	line-height: 20px;
}

.el-dropdown-menu__item {
	text-align: center;
}

.el-select {
	margin-left: 20px;
	line-height: 20px;
}

/* header寮�濮� */

/* header-top-menu 寮�濮� */

.header-top-menu {
	position: relative;
	box-sizing: border-box;
	font-size: 22px;
	line-height: 80px;
	color: #fff;
	overflow: hidden;
	border-bottom: solid 1px #e6e6e6;
}

.header-top-menu .logo2 {
	width: 60px;
	height: 100%;
	background: url(./../images/logo_icon.png) no-repeat center right;
	position: absolute;
	left: 0;
}

.header-top-menu .user-info {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
	padding-right: 30px;
	font-size: 18px;
}

/* .header-top-menu .userWrapper img{
  width:50px;
  height:50px;
  border-radius: 30px;
  vertical-align: middle;
}
.header-top-menu .userWrapper span{
  padding:0 10px;
} */

.header-top-menu .top-menu-wrapper {
	padding: 19px 170px 0 100px;
}

.header-top-menu .el-menu--horizontal {
	border-right: none;
	border-bottom: none;
}

.header-top-menu .el-submenu__title i {
	color: inherit;
}

.header-top-menu .el-menu-item i {
	color: inherit;
}

.el-menu--horizontal .el-menu-item i {
	color: inherit;
}

.el-menu--horizontal .el-submenu__title i {
	color: inherit;
}

/* header-top-menu 缁撴潫 */

/* sider寮�濮� */

.menuwrapper {
	border-right: solid 1px #e6e6e6;
	overflow: hidden;
}

.menusubwrap {
	transition: width 0.5s;
	overflow: auto;
	width: 200px;
}

.el-menu-vertical-demo.el-menu {
	overflow: hidden;
	border-right: none;
}

.el-menu-vertical-demo:not(.el-menu--collapse) {
	width: 100%;
}

.switchwrapper {
	/* text-align: center;
	line-height: 40px;
	height: 40px;
	box-sizing: border-box;
	border-top: solid 1px #e6e6e6; */

	text-align: center;
	line-height: 40px;
	height: 40px;
	box-sizing: border-box;
	border-top: solid 1px #1f2630;
	font-size: 16px;
	color: #e1e1e1;
	cursor: pointer;

}

/* sider缁撴潫 */

.iframewrapper {
	width: 100%;
	height: 100%;
	/* background: #ecf5ff; */
	/*border: 10px solid #fff;*/
	box-sizing: border-box;
}

.iframesubwrapper {
	width: 100%;
	height: 100%;
	background: white;
}

.iframe {
	width: 100%;
	height: 100%;
}

/* tabs寮�濮� */

.el-main {
	padding: 0;
}

.tabswrapper {
	height: 100%;
	width: 100%;
	background: #fff;
}

.tabswrapper .el-tabs__header {
	/* padding: 0 10px; */
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	background: #fff;
}

.tabswrapper .el-tabs__content {
	width: 100%;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabswrapper .el-tabs__content .el-tab-pane {
	height: 100%;
}

/* tabs寮�濮� */

/*! Copyright (c) 2016 Naufal Rabbani (http://github.com/BosNaufal)
  * Licensed Under MIT (http://opensource.org/licenses/MIT)
  *
  * Vue 2 Loading Bar - Version 0.0.1
  *
  */

.LoadingBar {
	transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	position: fixed;
	top: 0;
	z-index: 99999;
	/* background: #1af184; */
	background: rgba(60, 255, 86, 0.842);
	height: 3px;
	opacity: 1
}

.LoadingBar-glow {
	top: 0;
	position: absolute;
	width: 100px;
	height: 100%;
	box-shadow: -3px 0 15px 1px rgba(0, 255, 231, .4)
}

.LoadingBar--to_right {
	left: 0
}

.LoadingBar--to_left,
.LoadingBar--to_right .LoadingBar-glow {
	right: 0
}

.LoadingBar--to_left .LoadingBar-glow {
	left: 0
}

.LoadingBar--full {
	transition: all .1s ease;
	-moz-transition: all .1s ease;
	-webkit-transition: all .1s ease;
	-o-transition: all .1s ease;
	height: 0;
	opacity: 0
}

.LoadingBar--error {
	background: #f44336;
}

.LoadingBar--error .LoadingBar-glow {
	box-shadow: -3px 0 15px 1px rgba(244, 67, 54, .4);
}


.map_item {
	height: 22px;
	line-height: 22px;
	color: #333
}

.map_more {
	color: blue;
	cursor: pointer;
	text-align: right;
	padding-right: 20px;
	/*padding:0px 20px 20px 0px*/
}



/**左侧菜单改造**/

.el-badge__content.is-fixed {
	top: 15px !important;
	right: 5px !important;
	/**left:-10px !important;**/
}

.el-badge__content {
	font-size: 12px !important;
	height: 16px !important;
	line-height: 16px !important;
	padding: 0px 3px !important;
	border-radius: 16px !important;
	min-width: 10px;
	font-family: arial !important
}


.el-menu-item span {
	display: inline-block;
	max-width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mapSpan {
	/** line-height: 25px;
    height: 25px;**/
	display: inline-block;
	width: 260px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}


.el-menu {
	background: #fff;
}

.el-submenu__title {
	/* color: #ececec; */
	color: #333333;
}

.el-menu-item {
	/* font-size: 12px; */
	/* color: #ececec; */
	color: #333333;
}

.el-menu .el-submenu__title:hover {
	/* background: #1f2630; */
	background: #3589df;
}

.el-menu .el-menu-item:hover {
	/* background: #1f2630; */
	background: #3589df;
}

.el-menu .el-menu-item.is-active {
	/* border-left: 3px solid #5fb8ff; */
	/* background: #1f2630; */
	background: background: #3589df;;
	/* color:#ececec */
}

.el-submenu__title i {
	color: #333333;
}

.el-menu-item i {
	color: #333333;
}

.is-opened .el-menu-item {
	background: #fff;
}

.is-opened .el-menu {
	background: #fff;
}

.el-tabs__item {
	color: #666;
}