<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>


		<jas-dialog-wrapper>
			<el-form ref="formData" :rules="rules" :model="formData" label-width="100px">

				<jas-base-group-title name="中线桩信息"></jas-base-group-title>
				<el-row :gutter="10">
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="项目名称" prop="projectOid" required>
							<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged">
								<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="管线名称" prop="pipelineOid">
							<el-select v-model="formData.pipelineOid" clearable placeholder="请选择管线名称" size="small" @visible-change="pipleChanged">
								<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key">
								</el-option>
							</el-select>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="中线桩编号" prop="medianStakeCode">
							<el-input v-model.trim="formData.medianStakeCode" clearable placeholder="请输入中线桩编号" size="small"></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="里程(km)" prop="mileage">
							<el-input-number :precision="3" :step="1" :min="0" :max="9999999.999" controls-position="right" v-model="formData.mileage" clearable
							  placeholder="请输入里程(km)" size="small"></el-input-number>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="高程" prop="pointz">
							<el-input-number :precision="2" :step="1" :min="-9999.99" :max="9999.99" controls-position="right" v-model="formData.pointz" clearable
							  placeholder="请输入高程" size="small"></el-input-number>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="X坐标" prop="pointx">
							<el-input-number :precision="9" :step="1" :max="999.999999999" controls-position="right" v-model="formData.pointx" clearable placeholder="请输入X坐标"
							  size="small"></el-input-number>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
						<el-form-item label="Y坐标" prop="pointy">
							<el-input-number :precision="9" :step="1" :max="999.999999999" controls-position="right" v-model="formData.pointy" clearable placeholder="请输入Y坐标"
							  size="small"></el-input-number>
						</el-form-item>
					</el-col>
				</el-row>
				<jas-base-group-title name="其他信息"></jas-base-group-title>
				<el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="备注" prop="remarks">
							<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :rows="2" size="small" v-model.trim="formData.remarks" :maxLength="200"
							  @input="instructionNum"></el-input>
							<p style="text-align:right;color:#999;">您还可以输入<span v-text="remarks"></span>字</p>
						</el-form-item>
					</el-col>
				</el-row>


				<jas-base-group-title name="附件信息"></jas-base-group-title>

				<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>
			</el-form>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定</el-button>
			</div>
		</jas-dialog-wrapper>

	</div>

</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				remarks: 200,
				domain: {
					project: [],
					pipeline: [],
					// markStone: [],
				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						//trigger: 'change'
					}],
					medianStakeCode: [{
						required: true,
						message: '中线桩编号为必填项',
						//trigger: 'change'
					}, {
						min: "0",
						max: 50,
						message: "不能超过50字"
					}],
					mileage: [{
						required: true,
						message: '里程为必填项',
						//trigger: 'change'
					}],
					pointz: [{
						required: true,
						message: '高程为必填项',
						//trigger: 'change'
					}],
					pointx: [{
						required: true,
						message: 'X坐标为必填项',
						//trigger: 'change'
					}],
					pointy: [{
						required: true,
						message: 'Y坐标为必填项',
						//trigger: 'change'
					}],
				},
				formData: {
					projectOid: '', //	项目oid
					// projectName: '', //	项目oid
					pipelineOid: '', //	管线oid
					// pipelineName: '', //	管线oid
					medianStakeCode: '', //	中线桩编号
					mileage: '', //	里程(km)
					pointz: '', //	高程
					pointx: '', //	X坐标
					pointy: '', //	Y坐标
					markStoneType: '', //	标石类型
					// markStoneTypeName: '', //	标石类型
					markStoneLocation: '', //	标石概略位置
					remarks: '', //	备注
				}
			}
		},

		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				this.uploadurl = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") +
					"&businessId=" + this.oid + "&businessType=excelTemplate";

				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);
			};
			// app.$refs.upload.$refs['upload-inner'].handleClick()

			// this.requestDomainFromDomainTable('mark_stone_type_domain', function (arr) {
			// 	that.domain.markStone = arr;
			// });
			this.requestDomainFromBizTable('/daq/project/getList.do', {}, function (arr) {
				that.domain.project = arr;
				if(!that.isEdit && arr.length>0){
					that.formData.projectOid=arr[0].key;
					that.projectChanged(that.formData.projectOid,false,true);//false:表示为是否编辑，true表示新增	
				}
			});
		},
		methods: {
			instructionNum: function () {
				var that = this;
				var num = 200 - that.formData.remarks.trim().length;
				that.remarks = num;
			}, //剩余字数计算
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			requestDomainFromDomainTable: function (domainName, cb) {
				var that = this;
				var url = jasTools.base.rootPath + "/jasframework/sysdoman/getDoman.do";
				jasTools.ajax.get(url, {
					"domainName": domainName
				}, function (data) {
					var aDomain = data.map(function (item) {
						return {
							key: item.codeId,
							value: item.codeName,
						}
					});
					cb && cb(aDomain);
				});
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val, edit,add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable('/daq/pipeline/getList.do', {
						projectOid: val
					}, function (arr) {
						that.domain.pipeline = arr;
						if(add && arr.length>0){
							that.formData.pipelineOid=arr[0].key;
						}
					});
				}else{
					that.domain.pipeline=[];
				}
				if (!edit) {
					that.formData.pipelineOid = '';
				}
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath + "/daq/medianStake/save.do";
				} else {
					msg = "修改成功";
					url = jasTools.base.rootPath + "/daq/medianStake/update.do";
				}

				that.but_disabled = true;
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/daq/medianStake/get.do";
				jasTools.ajax.get(url, {oid:that.oid}, function (data) {
					that.formData = data.data;
					that.projectChanged(that.formData.projectOid, true);
				});
			},
			pipleChanged: function (e) {
				var that = this;
				if (e && !that.formData.projectOid) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择项目名称"
					});
				}
			}
		},
	});
</script>

</html>