<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-dialog-wrapper>
			<div class="content">
				<el-form ref="formData" :rules="rules" :model="formData" label-width="150px">
					<jas-base-group-title name="基础数据"></jas-base-group-title>
					<el-row :gutter="10">
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="项目名称" prop="projectOid" required>
								<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged($event,false,true)">
									<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="标段名称" prop="tendersOid" required>
								<el-select v-model="formData.tendersOid" clearable placeholder="请选择标段名称" size="small" @change="tendersChanged($event,false,true)"
								 @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管线名称" prop="pipelineOid" required>
								<el-select v-model="formData.pipelineOid" clearable placeholder="请选择管线名称" size="small" @change="pipelineChanged($event,false,true)"
								 @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="线路段/穿跨越" prop="pipeSegmentOrCrossOid" required>
								<el-select v-model="formData.pipeSegmentOrCrossOid" clearable placeholder="请选择线路段" size="small" @change="pipeSegmentChanged"
								 @visible-change="childChange($event,'pipelineOid','管线名称')">
									<el-option v-for="item in domain.pipeSegment" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工单位" prop="constructUnit" required>
								<el-select v-model="formData.constructUnit" disabled placeholder="请选择施工单位" size="small">
									<el-option v-for="item in domain.constructUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工机组代号" prop="workUnitOid" required>
								<el-select v-model="formData.workUnitOid" placeholder="请选择施工机组代号" size="small" @change="getWorkPerson" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.workUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工日期" prop="constructDate" required>
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入施工日期" v-model="formData.constructDate" size="small"
								 style="width: 100%;" :picker-options="pickerOptionsStart" @change="changeEnd">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="打底人员">
								<el-select v-model="formData.padderOid" clearable placeholder="请选择打底人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="填充人员">
								<el-select v-model="formData.coverOid" clearable placeholder="请选择填充人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="盖面人员">
								<el-select v-model="formData.renderOid" clearable placeholder="请选择盖面人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理单位" prop="supervisionUnit" required>
								<el-select v-model="formData.supervisionUnit" clearable placeholder="请选择监理单位" size="small" @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.supervisionUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理工程师" prop="supervisionEngineer" required>
								<el-input v-model.trim="formData.supervisionEngineer" clearable placeholder="请输入监理工程师" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集人员" prop="collectionPerson">
								<el-input v-model.trim="formData.collectionPerson" clearable placeholder="请输入采集人员" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集日期" prop="collectionDate" required>
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入采集日期" v-model="formData.collectionDate" size="small"
								 style="width: 100%;" :picker-options="pickerOptionsEnd" @change="changeStart">
								</el-date-picker>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="位置数据"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="桩号" prop="medianStakeOid" required>
								<el-select v-model="formData.medianStakeOid" clearable placeholder="请选择桩号" size="small" @visible-change="childChange($event,'pipeSegmentOrCrossOid','线路段/穿跨越名称')">
									<el-option v-for="item in domain.medianStakes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="相对桩位置" prop="relativeMileage" required>
								<el-input-number :precision="3" :step="1" :max="999999.999" controls-position="right" v-model="formData.relativeMileage" clearable
								 placeholder="请输入相对桩位置" size="small"></el-input-number>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="焊口数据"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊口类型" prop="weldType" :required="typeRequired">
								<el-select v-model="formData.weldType" clearable placeholder="请选择焊口类型" size="small">
									<el-option v-for="item in domain.weldTypes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.weldType" placeholder="请输入焊口类型" size="small"></el-input>-->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊接方式" prop="weldMethod" :required="methodRequired">
								<el-select v-model="formData.weldMethod" clearable placeholder="请选择焊接方式" size="small">
									<el-option v-for="item in domain.weldMethods" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊口顺序号" prop="sequenceNumberFirst" :required="sequenceRequired">
								<el-input style="width:45%" clearable v-model.trim="formData.sequenceNumberFirst" placeholder="请输入焊口顺序号" size="small"></el-input>+
								<el-input-number style="width:45%" controls-position="right" clearable :step="1" max="99999999" :precision="0" v-model.trim="formData.sequenceNumberSecond"
								 placeholder="请输入焊口顺序号2" size="small"></el-input-number>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="气流方向" prop="airflowDirection" :required="directionRequired">
								<el-select clearable v-model.trim="formData.airflowDirection" placeholder="请选择气流方向" size="small">
									<el-option v-for="item in domain.airflowDirections" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊口编号" prop="weldCode" required>
								<el-input v-model.trim="formData.weldCode" placeholder="请输入焊口编号" size="small" :disabled="weldDisabled"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="前管件类型" prop="frontPipeType" required>
								<el-select v-model="formData.frontPipeType" clearable placeholder="请选择前管件类型" size="small" @change="frontpipeChange">
									<el-option v-for="item in domain.pipeTypes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.frontPipeType" placeholder="请输入前管件类型" size="small"></el-input>-->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="前管件编号" prop="frontPipeOid" required>
								<el-select v-model="formData.frontPipeOid" clearable placeholder="请选择前管件编号" size="small">
									<el-option v-for="item in domain.frontPipeOids" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>

							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="后管件类型" prop="backPipeType" required>
								<el-select v-model="formData.backPipeType" clearable placeholder="请选择后管件类型" size="small" @change="backpipeChange">
									<el-option v-for="item in domain.backpipeTypes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.backPipeType" placeholder="请输入后管件类型" size="small"></el-input>-->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="后管件编号" prop="backPipeOid" required>
								<el-select v-model="formData.backPipeOid" clearable placeholder="请选择后管件编号" size="small">
									<el-option v-for="item in domain.backPipeOids" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.backPipeOid" placeholder="请输入后管件编号" size="small"></el-input>-->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊条批号" prop="weldRodBatchNum">
								<el-input v-model.trim="formData.weldRodBatchNum" clearable placeholder="请输入焊条批号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊丝批号" prop="weldWireBatchNum">
								<el-input v-model.trim="formData.weldWireBatchNum" clearable placeholder="请输入焊丝批号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊接工艺规格">
								<el-select v-model="formData.weldProduce" clearable placeholder="请选择焊接工艺" size="small" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.weldProduces" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.weldProduce" clearable placeholder="请输入焊接工艺规格" size="small"></el-input>-->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="外观质量检查">
								<el-select v-model="formData.surfaceCheck" clearable placeholder="请选择外观质量检查" size="small">
									<el-option v-for="item in domain.surfaceChecks" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="是否金口">
								<el-select v-model="formData.isGoldeJoint" clearable placeholder="请选择是否金口" size="small">
									<el-option v-for="item in domain.isPass" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="是否连头口" prop="isPipeHead" required>
								<el-select v-model="formData.isPipeHead" clearable placeholder="请选择是否连头口" size="small">
									<el-option v-for="item in domain.isPass" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="其他信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<jas-remarks :remarks="formData.remarks" @changevalue="changevalue"></jas-remarks>
						</el-col>
					</el-row>
					<!-- <el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="模板上传" prop="file">
						</el-form-item>
					</el-col>
				</el-row> -->
					<jas-base-group-title name="附件信息"></jas-base-group-title>

					<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>
				</el-form>





			</div>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定
				</el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				pipeTypeStr: 'pipe_type_code_0011,pipe_type_code_0021,pipe_type_code_0031,pipe_type_code_0081',
				weldDisabled: true,//焊口编号是否置灰
				typeRequired: false,
				methodRequired: false,
				sequenceRequired: false,
				directionRequired: false,
				domain: {
					project: [],
					pipeline: [],
					tenders: [],
					pipeSegment: [],
					supervisionUnits: [], //监理单位
					constructUnits: [], //施工单位	project: [],
					medianStakes: [], //桩号
					workUnits: [], //机组
					persons: [],
					weldTypes: [], //焊口类型
					weldProduces: [], //焊接工艺
					weldMethods: [], //焊接方式
					pipeTypes: [], //管件类型
					backpipeTypes: [], //管件类型
					frontPipeOids: [], //前管件
					backPipeOids: [], //后管件
					airflowDirections:[{
		                value: '顺输油/气',
		                key: 1,
		            },{
		                value: '逆输油/气',
		                key: 0,
		            }],
					surfaceChecks: [{
						key: 1,
						value: '合格'
					}, {
						key: 0,
						value: '不合格'
					}], //外观质量检查
					isPass: [{
						key: 1,
						value: '是'
					}, {
						key: 0,
						value: '否'
					}], //是否
				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					isPipeHead: [{
						required: true,
						message: '是否连头口为必填项',
						//trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						//trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						//trigger: 'change'
					}],
					pipeSegmentOrCrossOid: [{
						required: true,
						message: '线路段/穿跨越为必填项',
						//trigger: 'change'
					}],
					constructUnit: [{
						required: true,
						message: '施工单位为必填项',
						//trigger: 'change'
					}],
					workUnitOid: [{
						required: true,
						message: '施工机组代号为必填项',
						//trigger: 'change'
					}],
					constructDate: [{
						required: true,
						message: '施工日期',
						//trigger: 'change'
					}],
					supervisionUnit: [{
						required: true,
						message: '监理单位为必填项',
					}],
					medianStakeOid: [{
						required: true,
						message: '桩号为必填项',
					}],
					relativeMileage: [{
						required: true,
						message: '相对位置为必填项',
					}],
					weldCode: [],
					frontPipeType: [{
						required: true,
						message: '前管件类型为必填项',
					}],
					frontPipeOid: [{
						required: true,
						message: '前管件编号为必填项',
					}],
					backPipeType: [{
						required: true,
						message: '后管件类型为必填项',
					}],
					backPipeOid: [{
						required: true,
						message: '后管件编号为必填项',
					}],
					collectionDate: [{
						required: true,
						message: '采集日期为必填项',
					}],
					supervisionEngineer: [{
						required: true,
						message: '监理工程师为必填项',
						//trigger: 'change'
					}, {
						min: "0",
						max: 50,
						message: '不能超过50个字'
					}],
					collectionPerson: [{
						min: "0",
						max: 30,
						message: '不能超过30个字'
					}],
					weldRodBatchNum: [{
						min: "0",
						max: 60,
						message: '不能超过60个字'
					}],
					weldWireBatchNum: [{
						min: "0",
						max: 60,
						message: '不能超过60个字'
					}],
				},
				formData: {
					projectOid: "",
					pipelineOid: "",
					tendersOid: "",
					pipeSegmentOrCrossOid: "",
					weldCode: null,
					weldType: "",
					weldMethod: "",
					medianStakeOid: "",
					relativeMileage: "",
					frontPipeType: "",
					frontPipeOid: "",
					backPipeType: null,
					backPipeOid: "",
					weldRodBatchNum: null,
					weldWireBatchNum: null,
					weldProduce: null,
					surfaceCheck: null,
					constructUnit: null,
					workUnitOid: null,
					coverOid: [],
					padderOid: [],
					renderOid: [],
					isGoldeJoint: null,
					isPipeHead: null,
					constructDate: '',
					supervisionUnit: null,
					supervisionEngineer: null,
					collectionPerson: null,
					collectionDate: '',
					sequenceNumberFirst: "",
					sequenceNumberSecond: "",
					airflowDirection: 1,
					remarks: ""
				},
				pickerOptionsStart: {
					disabledDate: function (time) {
						return time.getTime() > new Date().getTime()
					}
				},
				pickerOptionsEnd: {
					disabledDate: function (time) {
						return time.getTime() > new Date().getTime()
					}
				},
				ruleObj: {
				},//进行存储 当前所存在的编码字段与顺序号

			}
		},
		watch: {
			'formData.sequenceNumberFirst': {
				handler: function (oldValue,newValue) {
					var that = this;
					if (that.formData.sequenceNumberFirst != null) {
						var value= (Array(3).join(0) + that.formData.sequenceNumberFirst).slice(-3);
						that.formData.sequenceNumberFirst =value;
						newValue=value;
					}
				},
				deep: true
			},
			formData: {
				handler: function (oldValue, newValue) {
					var that = this;
					var weldCode = "";
					for (var key in that.ruleObj) {
						weldCode += that.getValueById(key, newValue[key]);
					}
					if (weldCode) that.formData.weldCode = weldCode.substring(1, weldCode.length);
				},
				immediate: true,
				deep: true
			}
		},
		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			var userBo = JSON.parse(localStorage.getItem("user"));
			that.formData.constructUnit = userBo.unitId;
			this.requestDomainFromBizTable('/daq/privilege/getCurrentUnitId.do', {}, function (arr) {
				that.domain.constructUnits = arr;
			});
			this.requestDomainFromBizTable('/daq/privilege/getProjectList.do', {}, function (arr) {
				that.domain.project = arr;
				if (!that.isEdit) {
					that.formData.projectOid = arr[0].key;
					that.projectChanged(that.formData.projectOid, false, true);//false:表示为是否编辑，true表示新增
				}
			});
			this.requestDomainFromDomainTable('welding_method_temp_domain', function (arr) {
				that.domain.weldMethods = arr;
			}); //查询焊接方式
			this.requestDomainFromDomainTable('weld_type_domain', function (arr) {
				that.domain.weldTypes = arr;
			}); //查询焊口类型
			this.requestDomainFromDomainTable('pipe_type_domain', function (arr) {
				that.domain.pipeTypes = arr;
			}); //查询管件类型
			this.requestDomainFromDomainTable('back_pipe_type_domain', function (arr) {
				that.domain.backpipeTypes = arr;
			}); //查询管件类型
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);

			};
		},
		methods: {
			childChange: function (event, id, name) {
				if (event && !this.formData[id]) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择" + name
					});
				}
			},
			changevalue: function (msg) {
				this.formData.remarks = msg;
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			requestDomainFromDomainTable: function (domainName, cb) {
				var that = this;
				var url = jasTools.base.rootPath +
					"/jasframework/sysdoman/getDoman.do";
				jasTools.ajax.get(url, {
					"domainName": domainName
				}, function (data) {
					var aDomain = data.map(function (item) {
						return {
							key: item.codeId,
							value: item.codeName,
						}
					});
					cb && cb(aDomain);
				});
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val, edit, add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
							if (add) {
								that.formData.tendersOid = arr[0].key;
								that.tendersChanged(that.formData.tendersOid, false, true);
							}
						});
				} else {
					that.domain.tenders = [];
				}
				if (!edit) {
					that.formData.tendersOid = '';
					that.domain.pipeline = [];
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.supervisionUnits = [];
					that.formData.supervisionUnit = '';
					that.domain.medianStakes = [];
					that.formData.medianStakeOid = '';
				}
				that.getWorkUints(val, edit); //进行获取施工机组
				that.getWeldproduct(val, edit); //获取焊接工艺
				that.requestRuleByProjectOid(edit);//根据项目id获取相应的编码规则
			},
			getWeldproduct: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/weldProduct/getListByCondition.do', {
							projectOid: val,

						},
						function (arr) {

							that.domain.weldProduces = arr;
						});
				} else {
					that.domain.weldProduces = [];
				}
				if (!edit) {

					that.formData.weldProduce = '';
				}
			},
			getWorkUints: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/workUnit/getWorkUnitList.do', {
							projectOid: val,
							types: "work_unit_type_code_001,work_unit_type_code_010,work_unit_type_code_012"
						},
						function (arr) {
							that.domain.workUnits = arr;

						});
				} else {
					that.domain.workUnits = [];
				}
				if (!edit) {
					that.formData.workUnitOid = '';
				}
			},
			tendersChanged: function (val, edit, add) { //根据标段触发管线列表
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipelineListByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {

							that.domain.pipeline = arr;
							if (add) {
								that.formData.pipelineOid = arr[0].key;
								that.pipelineChanged(that.formData.pipelineOid, false, true);
							}
						});
				} else {
					that.domain.pipeline = [];
				}
				if (!edit) {
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.medianStakes = [];
					that.formData.medianStakeOid = '';
				}
				that.getSupervisionUnit(val, edit); //根据标段获取监理单位
			},
			getSupervisionUnit: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getSupervisionUnitByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {

							that.domain.supervisionUnits = arr;
						});
				} else {
					that.domain.supervisionUnits = [];
				}
				if (!edit) {
					that.formData.supervisionUnit = '';
				}
			},
			pipelineChanged: function (val, edit, add) { //根据管线触发线路段/穿跨越
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipeSegmentOrCrossList.do', {
							pipelineOid: val
						},
						function (arr) {
							that.domain.pipeSegment = arr;
							if (add) {
								that.formData.pipeSegmentOrCrossOid = arr[0].key;
								that.pipeSegmentChanged(that.formData.pipeSegmentOrCrossOid, false);
							}
						});
				} else {
					that.domain.pipeSegment = [];
				}
				if (!edit) {
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.medianStakes = [];
					that.formData.medianStakeOid = '';
				}
			},
			pipeSegmentChanged: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getMedianStakeList.do', {
							pipeSegmentOrCrossOid: val
						},
						function (arr) {

							that.domain.medianStakes = arr;
						});
				} else {
					that.domain.medianStakes = [];
				}
				if (!edit) {
					that.formData.medianStakeOid = '';
				}
			}, //获取桩号
			getWorkPerson: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
						'/daq/workPerson/getWorkPersonList.do', {
							workUnitOid: val,
							types: "personnel_type_code_005,personnel_type_code_006"
						},
						function (arr) {
							that.domain.persons = arr;
						});
				} else {
					that.domain.persons = [];
				}
				if (!edit) {
					that.formData.coverOid = [];
					that.formData.padderOid = [];
					that.formData.renderOid = [];
				}
			},
			frontpipeChange: function (val, edit) { //触发前管件编号
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
						'/daq/pipefitting/getPipeFittingList.do', {
							pipeSegmentOrCrossOid: that.formData.pipeSegmentOrCrossOid,
							projectOid: that.formData.projectOid,
							pipeTypeCode: val
						},
						function (arr) {
							if (edit) {
								arr.forEach(function (item) {
									that.domain.frontPipeOids.push(item);
								});
							} else {
								that.domain.frontPipeOids = arr;
							}

						});
				} else {
					that.domain.frontPipeOids = [];
				}
				if (!edit) {
					that.formData.frontPipeOid = "";
				}
			},
			backpipeChange: function (val, edit) { //触发后管件编号
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
						'/daq/pipefitting/getPipeFittingList.do', {
							pipeSegmentOrCrossOid: that.formData.pipeSegmentOrCrossOid,
							projectOid: that.formData.projectOid,
							pipeTypeCode: val
						},
						function (arr) {
							if (edit) {
								arr.forEach(function (item) {
									that.domain.backPipeOids.push(item);
								});
							} else {
								that.domain.backPipeOids = arr;
							}
						});
				} else {
					that.domain.backPipeOids = [];
				}
				if (!edit) {
					that.formData.backPipeOid = "";
				}
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				var tempFrontPipeType = that.formData.frontPipeType;
				var tempBackPipeType = that.formData.backPipeType;
				var tempFrontPipeOid = that.formData.frontPipeOid;
				var tempBackPipeOid = that.formData.backPipeOid;
				if (that.pipeTypeStr.indexOf(tempFrontPipeType) > -1 && that.pipeTypeStr.indexOf(tempBackPipeType) > -1 && tempFrontPipeOid == tempBackPipeOid) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: '前管件和后管件重复'
					});
					return;
				}
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath +
						"/jdbc/commonData/constructionWeld/save.do";
				} else {
					msg = "修改成功";
					delete that.formData.isUse;
					url = jasTools.base.rootPath +
						"/jdbc/commonData/constructionWeld/update.do";
				}
				var coverOid = that.formData.coverOid;
				var coverOidStr = "";
				for (var i = 0; i < coverOid.length; i++) {
					coverOidStr += coverOid[i] + ",";
				}
				var renderOid = that.formData.renderOid;
				var renderOidStr = "";
				for (var i = 0; i < renderOid.length; i++) {
					renderOidStr += renderOid[i] + ",";
				}
				var padderOid = that.formData.padderOid;
				var padderOidStr = "";
				for (var i = 0; i < padderOid.length; i++) {
					padderOidStr += padderOid[i] + ",";
				}
				that.formData.coverOid = coverOidStr.substr(0, coverOidStr.length - 1)
				that.formData.renderOid = renderOidStr.substr(0, renderOidStr.length - 1)
				that.formData.padderOid = padderOidStr.substr(0, padderOidStr.length - 1)
				that.but_disabled = true;
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			changeStart: function () {//collectionDate 采集日期    pickerOptionsStartbangd
				this.pickerOptionsStart = Object.assign({}, this.pickerOptionsStart, {
					disabledDate: (time) => {
						if (!this.formData.collectionDate) {
							return time.getTime() > new Date().getTime()
						}
						return time.getTime() > new Date(this.formData.collectionDate).getTime() || time.getTime() > new Date().getTime();
					}
				})
			},
			changeEnd: function () {
				var that = this;
				that.pickerOptionsEnd = Object.assign({}, that.pickerOptionsEnd, {
					disabledDate: (time) => {
						if (!that.formData.constructDate) {
							return time.getTime() > new Date().getTime()
						}
						var day = new Date(that.formData.constructDate).getTime() - 1000 * 24 * 60 * 60;//获取天数
						return time.getTime() < new Date(day).getTime() || time.getTime() > new Date().getTime();
					}
				})
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/constructionWeld/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {

					/* for (var key in that.formData) {
						that.formData[key] = data.rows[0][key];
					} */
					that.formData = data.rows[0];
					if (that.formData.frontPipeType == 'pipe_type_code_001' || that.formData.frontPipeType == 'pipe_type_code_008' || that.formData.frontPipeType == 'pipe_type_code_002') {//直钢管、冷弯、热煨弯管
						that.domain.frontPipeOids.push({
							value: that.formData.frontPipeCode,
							key: that.formData.frontPipeOid
						});
					}
					if (that.formData.backPipeType == 'pipe_type_code_0011' || that.formData.backPipeType == 'pipe_type_code_0021' || that.formData.backPipeType == 'pipe_type_code_0081') {//直钢管、
						that.domain.backPipeOids.push({
							value: that.formData.backPipeCode,
							key: that.formData.backPipeOid
						});
					}
					if (!that.formData.coverOid || that.formData.coverOid.length == 0) {
						that.formData.coverOid = [];
					} else {
						that.formData.coverOid = that.formData.coverOid.split(",");
					}

					if (!that.formData.renderOid || that.formData.renderOid.length == 0) {
						that.formData.renderOid = [];
					} else {
						that.formData.renderOid = that.formData.renderOid.split(",");
					}

					if (!that.formData.padderOid || that.formData.padderOid.length == 0) {
						that.formData.padderOid = [];
					} else {
						that.formData.padderOid = that.formData.padderOid.split(",");
					}
					that.projectChanged(data.rows[0].projectOid, true);
					that.tendersChanged(data.rows[0].tendersOid, true);
					that.getSupervisionUnit(data.rows[0].tendersOid, true);
					that.pipelineChanged(data.rows[0].pipelineOid, true);
					that.pipeSegmentChanged(data.rows[0].pipeSegmentOrCrossOid, true);
					that.getWorkPerson(data.rows[0].workUnitOid, true);
					that.backpipeChange(data.rows[0].backPipeType, true);
					that.frontpipeChange(data.rows[0].frontPipeType, true);
				});
			},
			requestRuleByProjectOid: function (edit) {//表示编辑的时候
				var that = this;
				var url = jasTools.base.rootPath + "/daq/weldcodeRegular/getWeldcodeRegularList.do";
				jasTools.ajax.post(url, {
					projectOid: that.formData.projectOid
				}, function (data) {
					if (data.rows.length == 0) {
						that.weldDisabled = false;
						that.rules.weldCode = [{
							required: true,
							message: '请输入焊口编号',
						}, {
							min: "0",
							max: 50,
							message: '不能超过50个字'
						}];
					} else {
						data.rows[0].weldCodeRegular.split("-").forEach(function (item, index) {
							if (item == "sequenceNumberFirst") {
								that.ruleObj.sequenceNumberFirst = index;
							} else {
								that.ruleObj[item] = index;
							}
							that.setRequiredByRule(item);//根据生成的规则 去设定页面相应字段
						});
					}
				});
			},
			getValueById: function (key, id) {
				var that = this;
				var value = "";
				var domainMap = {
					projectOid: {
						domainField: "project",
						code: "project_code"
					},
					weldType: {
						domainField: "weldTypes",
						valueKey: {
							"weld_type_code_001": "M",
							"weld_type_code_002": "LT",
							"weld_type_code_003": "LS",
							"weld_type_code_004": "LJ"
						}
					},
					weldMethod: {
						domainField: "weldMethods",
						valueKey: {
							"welding_method_temp_code_001": "S",
							"welding_method_temp_code_002": "B",
							"welding_method_temp_code_003": "Q"
						}
					},
					constructUnit: {
						domainField: "constructUnits",
						code: "unitCode"
					},//施工单位
					workUnitOid: {
						domainField: "workUnits",
					},//施工机组
					medianStakeOid: {
						domainField: "medianStakes",
					},//桩号
					airflowDirection: {
						domainField: "airflowDirections",
					},
				};
				if (!domainMap[key]) {
					if (key == "sequenceNumberFirst" && that.formData.sequenceNumberFirst) {
						var direction = that.formData.airflowDirection ? "+" : "-";
						value = direction + "" + that.formData.sequenceNumberFirst;
						if (that.formData.sequenceNumberSecond && (that.formData.sequenceNumberSecond != null && that.formData.sequenceNumberSecond != '')) {
							value += "+" + that.formData.sequenceNumberSecond
						}
					} else {
						value = that.formData[key];
					}
				} else {
					that.domain[domainMap[key].domainField].forEach(function (item) {
						if (item.key == id&&that.formData[key]) {
							if (key == "weldType" || key == "weldMethod") {
								value = "-" + domainMap[key].valueKey[item.key];
							} else {
								value = domainMap[key].code?item[domainMap[key].code]:item.value;
								value="-"+value;
							}
						}
					});
				}
				return value;
			},
			setRequiredByRule: function (key) {
				var map = {
					weldType: {
						isRequired: "typeRequired",
						rule: [{
							required: true,
							message: '焊口类型为必填项',
						}]
					},
					weldMethod: {
						isRequired: "methodRequired",
						rule: [{
							required: true,
							message: '焊接方式为必填项',
						}]
					},
					sequenceNumberFirst: {
						isRequired: "sequenceRequired",
						rule: [{
							required: true,
							message: '焊口顺序号为必填项',
						},{
							pattern:/^\d{3}$/,
							message:"焊口顺序号必须为3位数字"
						}]
					}
				};
				if (!map[key]) return;
				this[map[key].isRequired] = true;
				this.rules[key] = map[key].rule;
				if (key == "sequenceNumberFirst") {
					this.directionRequired = true;
					this.rules.airflowDirection = [{
						required: true,
						message: '气流方向为必填项',
					}];
				}
			}
		},
	});

</script>

</html>