<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		.pipe_wrap {
			overflow: hidden;
			text-align: center;
			padding-top: 10px;
		}

		.pipeTip {
			padding: 10px 6px;
			line-height: 18px;
			font-size: 12px;
			color: #999;
			word-break: break-all;
		}

		.pipeTip.link {
			color: blue;
			cursor: pointer;
		}

		.pipeTip.link.notlink {
			color: #333;
			cursor: auto;
		}

		.pipe {
			float: left;
			width: 14.1%;
		}

		.weld {
			float: left;
			width: 14.1%;
		}

		.codeTip {}

		.pipecode {
			height: 32px;
			line-height: 32px;
			cursor: pointer;
			/* background-color: rgb(219, 219, 219); */
			background: linear-gradient(#d2d2d2, #adadad, #e8e8e8, #bbbbbd);
			/* 标准的语法 */
			text-align: center;
		}

		.weldcode {
			height: 32px;
			line-height: 32px;
			cursor: pointer;
			/* background-color: rgba(156, 223, 236, 0.39); */
			background: linear-gradient(#d2d2d2, #adadad, #e8e8e8, #bbbbbd);

			text-align: center;
		}

		.weldcode::after {
			content: '';
			width: 6px;
			height: 100%;
			background-color: #5f351987;
			display: block;
			margin: 0 auto;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-approve-dialog>
			<div>
				<jas-base-group-title name="基础数据"></jas-base-group-title>
				<jas-detail-table :titles="baseArr" :detail="detail"></jas-detail-table>
				<jas-base-group-title name="位置数据"></jas-base-group-title>
				<jas-detail-table :titles="addressArr" :detail="detail"></jas-detail-table>
				<jas-base-group-title name="焊口链接图"></jas-base-group-title>
				<div class="pipe_wrap">
					<div v-if="detail.fweldCode" class="pipe" @click="openPipeDialog(detail.ffrontPipeOid, detail.ffrontPipeType, '前前管件',detail.ffrontPipeCode)">
						<div class="pipeTip">前前管件</div>
						<div class="pipecode">{{(detail.ffrontPipeLength || 0) + ' m' }}</div>
						<div class="pipeTip link">{{detail.ffrontPipeCode}}</div>
					</div>
					<div v-if="detail.fweldCode" class="weld" @click="openWeldDialog(detail.foid)">
						<div class="pipeTip">前焊口</div>
						<div class="weldcode"></div>
						<div class="pipeTip link">{{detail.fweldCode}}</div>
					</div>
					<div class="pipe" @click="openPipeDialog(detail.frontPipeOid, detail.frontPipeType, '前管件',detail.frontPipeCode)">
						<div class="pipeTip">前管件</div>

						<div class="pipecode">{{(detail.frontPipeLength || 0) + ' m'}}</div>
						<div class="pipeTip link">{{detail.frontPipeCode}}</div>
					</div>
					<div class="weld">
						<div class="pipeTip" style="color:#333;font-size: 14px;">当前焊口</div>
						<div class="weldcode" style="cursor: auto;"></div>
						<div class="pipeTip link notlink">{{detail.weldCode}}</div>
					</div>
					<div class="pipe" @click="openPipeDialog(detail.backPipeOid, detail.backPipeType, '后管件',detail.backPipeCode)">
						<div class="pipeTip">后管件</div>
						<div class="pipecode">{{(detail.backPipeLength || 0) + ' m'}}</div>
						<div class="pipeTip link">{{detail.backPipeCode}}</div>
					</div>
					<div v-if="detail.bweldCode" class="weld" @click="openWeldDialog(detail.boid)">
						<div class="pipeTip">后焊口</div>
						<div class="weldcode"></div>
						<div class="pipeTip  link">{{detail.bweldCode}}</div>
					</div>
					<div v-if="detail.bweldCode" @click="openPipeDialog(detail.bbackPipeOid, detail.bbackPipeType, '后后管件',detail.bbackPipeCode)"
					 class="pipe">
						<div class="pipeTip">后后管件</div>
						<div class="pipecode">{{(detail.bbackPipeLength || 0) + ' m'}}</div>
						<div class="pipeTip  link">{{detail.bbackPipeCode}}</div>
					</div>
				</div>
				<jas-base-group-title name="焊口数据"></jas-base-group-title>
				<jas-detail-table ref="weldDetail" :titles="busArr" :detail="detail"></jas-detail-table>
				<jas-base-group-title name="检测数据"></jas-base-group-title>
				<jas-detail-table-link :titles="testbusArr" :detail="testDetail"></jas-detail-table-link>
				<jas-base-group-title name="防腐补口"></jas-base-group-title>
				<jas-detail-table :titles="antisepticbusArr" :detail="antisepticDetail"></jas-detail-table>
				<jas-base-group-title name="其他信息"></jas-base-group-title>
				<jas-detail-table :titles="otherArr" :detail="detail"></jas-detail-table>
				<jas-base-group-title name="附件信息"></jas-base-group-title>
				<jas-file-list :biz-id="oid"></jas-file-list>
			</div>
		</jas-approve-dialog>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				baseArr: [ //
					{
						name: '项目名称',
						field: 'projectName'
					}, {
						name: '标段名称',
						field: 'tendersName'
					}, {
						name: '管线名称',
						field: 'pipelineName'
					}, {
						name: "线路段名称",
						field: "pipeSegmentOrCrossName"
					}, {
						name: '施工单位',
						field: 'constructUnitName'
					}, {
						name: '施工机组代号',
						field: 'workUnitCode'
					}, {
						name: '施工日期',
						field: 'constructDate'
					}, {
						name: '盖面人员',
						field: 'coverName'
					}, {
						name: '填充人员',
						field: 'padderName'
					}, {
						name: '打底人员',
						field: 'renderName'
					},
					{
						name: '监理单位',
						field: 'supervisionUnitName'
					}, {
						name: '监理工程师',
						field: 'supervisionEngineer'
					}, {
						name: '采集人员',
						field: 'collectionPerson'
					}, {
						name: '采集日期',
						field: 'collectionDate'
					}, {
						name: '审核状态',
						field: 'approveStatus'
					}
				],

				addressArr: [{
					name: '桩号',
					field: 'medianStakeCode'
				}, {
					name: '相对桩位置',
					field: 'relativeMileage'
				}],
				busArr: [ {
					name: '焊口类型',
					field: 'weldTypeName'
				}, {
					name: '焊接方式',
					field: 'weldMethodName'
				},  {
					name: '气流方向',
					field: 'airflowDirection'
				}, {
					name: '焊接顺序号',
					field: 'sequenceNumberFirst'
				}, {
					name: '焊口编号',
					field: 'weldCode'
				},{
					name: '前管件类型',
					field: 'frontPipeTypeName'
				}, {
					name: '前管件编号',
					field: 'frontPipeCode'
				}, {
					name: '后管件类型',
					field: 'backPipeTypeName'
				}, {
					name: '后管件编号',
					field: 'backPipeCode'
				},
				{
					name: '焊条批号',
					field: 'weldRodBatchNum'
				}, {
					name: '焊丝批号',
					field: 'weldWireBatchNum'
				}, {
					name: '焊接工艺规格',
					field: 'weldProduceCode'
				}, {
					name: '外观质量检查',
					field: 'surfaceCheck',
				},
				{
					name: '是否金口',
					field: 'isGoldeJoint',
				}, {
					name: '是否连头口',
					field: 'isPipeHead',
				}, {
					name: '是否返修',
					field: 'isRework',
				}, , {
					name: '是否返修',
					field: 'isRework',
				}, {
					name: '是否检测',
					field: 'isDetection',
				}, {
					name: '是否补口',
					field: 'isAnticorrosionCheck',
				}, {
					name: '是否割口',
					field: 'isCut',
				}, {
					name: '是否测量',
					field: 'isMeasure',
				}, {
					name: '是否回填',
					field: 'isBackfill',
				},{
					name: '是否地貌恢复',
					field: 'isLandRestoration',
				}, {
					name: '是否存在切管',
					field: 'hasCutPipe',
				}, {
					name: '是否变径',
					field: 'hasReducer',
				}, {
					name: '是否有弯管',
					field: 'hasBendPipe',
				}
				],
				testbusArr: [{
					name: "射线检测报告编号",
					field: "rayCode",
					isLink: true,
					link: "pages/row-detection/detection-ray/dialogs/detail.html",
					detailOid: "rayOid",
					detailTitle: "射线检测详情"
				}, {
					name: "检测结果",
					field: "rayResult"
				}, {
					name: "超声波检测报告编号",
					field: "ultrasonicCode",
					isLink: true,
					link: "pages/row-detection/detection-ultrasonic/dialogs/detail.html",
					detailOid: "ultrasonicOid",
					detailTitle: "超声波检测详情"
				}, {
					name: "检测结果",
					field: "ultrasonicResult"
				}, {
					name: "渗透检测报告编号",
					field: "osmosisCode",
					isLink: true,
					link: "pages/row-detection/detection-infiltration/dialogs/detail.html",
					detailOid: "osmosisOid",
					detailTitle: "渗透检测详情"
				}, {
					name: "检测结果",
					field: "osmosisResult"
				}, {
					name: "磁粉检测报告编号",
					field: "magneticCode",
					isLink: true,
					link: "pages/row-detection/detection-magnetic-powder/dialogs/detail.html",
					detailOid: "magneticOid",
					detailTitle: "磁粉检测详情"
				}, {
					name: "检测结果",
					field: "magneticResult"
				}, {
					name: "全自动超声波检测报告编号",
					field: "selfMotionCode",
					isLink: true,
					link: "pages/row-detection/detection-fa-ultrasonic/dialogs/detail.html",
					detailOid: "selfMotionOid",
					detailTitle: "全自动超声波检测详情"
				}, {
					name: "检测结果",
					field: "selfMotionResult"
				}, {
					name: "相控超声波检测报告编号",
					field: "faciesCode",
					isLink: true,
					link: "pages/row-detection/detection-pa-ultrasonic/dialogs/detail.html",
					detailOid: "faciesOid",
					detailTitle: "相控超声波检测详情"
				}, {
					name: "检测结果",
					field: "faciesResult"
				}],
				antisepticbusArr: [{
					name: "补口防腐类型",
					field: "antisepticbusType"
				}, {
					name: "补口日期",
					field: "antisepticbusDate"
				}],
				otherArr: [{
					name: '备注',
					field: 'remarks',
				}],
				detail: {},
				antisepticDetail: {},
				testDetail: {
					rayCode: ''
				},
				columnNum: 2,
				oid: '',
			}
		},
		created: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			if (param.oid) {
				this.oid = param.oid;
				this.params = param;
				this.getDetailByWeldOid();
				this.getDetailByObjectId();
			};

		},
		methods: {
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath +
					"/jdbc/commonData/constructionWeld/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {
					that.detail = data.rows[0];
					that.detail.sequenceNumberFirst = (Array(3).join(0) + that.detail.sequenceNumberFirst).slice(-3);//顺序号第一个自动补0
					if(that.detail.sequenceNumberSecond==0||that.detail.sequenceNumberSecond){
						that.detail.sequenceNumberFirst=""+that.detail.sequenceNumberFirst+"+"+that.detail.sequenceNumberSecond;	
					}
					that.detail.isGoldeJoint = that.changeValue(data.rows[0].isGoldeJoint);
					that.detail.isPipeHead = that.changeValue(data.rows[0].isPipeHead);
					that.detail.isRework = that.changeValue(data.rows[0].isRework);
					that.detail.isDetection = that.changeValue(data.rows[0].isDetection);
					that.detail.isAnticorrosionCheck = that.changeValue(data.rows[0].isAnticorrosionCheck);
					that.detail.isCut = that.changeValue(data.rows[0].isCut);
					that.detail.isMeasure = that.changeValue(data.rows[0].isMeasure);
					that.detail.isBackfill = that.changeValue(data.rows[0].isBackfill);
					that.detail.isLandRestoration = that.changeValue(data.rows[0].isLandRestoration);
					that.detail.hasCutPipe = that.changeValue(data.rows[0].hasCutPipe);
					that.detail.hasReducer = that.changeValue(data.rows[0].hasReducer);
					that.detail.hasBendPipe = that.changeValue(data.rows[0].hasBendPipe);
					if (data.rows[0].surfaceCheck == 1) {
						that.detail.surfaceCheck = '合格';
					} else if (data.rows[0].surfaceCheck == 0) {
						that.detail.surfaceCheck = '不合格';
					}
					if (that.detail.approveStatus == -1) {
						that.detail.approveStatus = '驳回';
					}
					if (that.detail.approveStatus == 0) {
						that.detail.approveStatus = '未上报';
					}
					if (that.detail.approveStatus == 1) {
						that.detail.approveStatus = '待审核';
					}
					if (that.detail.approveStatus == 2) {
						that.detail.approveStatus = '通过';
					}
					if(that.detail.airflowDirection==1){
						that.detail.airflowDirection="顺输油/气";	
					}else{
						that.detail.airflowDirection="逆输油/气";
					}
					that.addPipeEvent();
				});
			},
			changeValue: function (value) {
				if (value == 0 || value < 0) return '否';
				if (value == 1 || value > 0) return "是";
				return value;
			},
			getDetailByWeldOid: function () {
				var that = this;
				var url = jasTools.base.rootPath +
					"/daq/weld/getDetectionInfoByWeldOid.do";
				jasTools.ajax.post(url, {
					weldOid: that.oid
				}, function (data) {
					if (data.rows.length > 0) {
						data.rows.forEach(function (item) {
							switch (item.type) {
								case 1:
									that.testDetail.rayCode = item.code;
									that.testDetail.rayResult = item.evaluation_result;
									that.testDetail.rayOid = item.oid;
									break;
								case 2:
									that.testDetail.ultrasonicCode = item.code;
									that.testDetail.ultrasonicResult = item.evaluation_result;
									that.testDetail.ultrasonicOid = item.oid;
									break;
								case 3:
									that.testDetail.osmosisCode = item.code;
									that.testDetail.osmosisResult = item.evaluation_result;
									that.testDetail.osmosisOid = item.oid;
									break;
								case 4:
									that.testDetail.magneticCode = item.code;
									that.testDetail.magneticResult = item.evaluation_result;
									that.testDetail.magneticOid = item.oid;
									break;
								case 5:
									that.testDetail.selfMotionCode = item.code;
									that.testDetail.selfMotionResult = item.evaluation_result;
									that.testDetail.selfMotionOid = item.oid;
									break;
								case 6:
									that.testDetail.faciesCode = item.code;
									that.testDetail.faciesResult = item.evaluation_result;
									that.testDetail.faciesOid = item.oid;
									break;
								case 7:
									that.antisepticDetail.antisepticbusType = item.evaluation_result;
									that.antisepticDetail.antisepticbusDate = item.code;
									break;
							}
						});
					}
				});
			},
			openWeldDialog: function (oid) {
				if (!oid) return;
				var url = jasTools.base.setParamsToUrl('pages/row-management/weld-info/dialogs/detail.html', {
					oid: oid
				});
				top.jasTools.dialog.show({
					width: '55%',
					height: '80%',
					title: '焊口详情',
					src: url,
				});
			},
			openPipeDialog: function (oid, type, name, code) {
				if (!code) return;
				var urlMap = {
					pipe_type_code_001: 'pages/template/dialogs/viewTemplate.html?menuCode=F000024', //直钢管",
					pipe_type_code_0011: 'pages/template/dialogs/viewTemplate.html?menuCode=F000024', //后直钢管",
					pipe_type_code_002: 'pages/template/dialogs/viewTemplate.html?menuCode=F000025', //"热煨弯管",
					pipe_type_code_0021: 'pages/template/dialogs/viewTemplate.html?menuCode=F000025', //"后热煨弯管",
					pipe_type_code_003: 'pages/template/dialogs/viewTemplate.html?menuCode=F000026', //三通",
					pipe_type_code_004: 'pages/template/dialogs/viewTemplate.html?menuCode=F000044', //"阀门",
					pipe_type_code_005: 'pages/template/dialogs/viewTemplate.html?menuCode=F000027', //"绝缘接头",
					pipe_type_code_006: 'pages/template/dialogs/viewTemplate.html?menuCode=F000028', //"大小头",
					pipe_type_code_007: 'pages/row-management/sealing/dialogs/detail.html', //"封堵物",
					pipe_type_code_008: 'pages/row-management/cold-bends/dialogs/detail.html', //"冷弯管",
					pipe_type_code_0081: 'pages/row-management/cold-bends/dialogs/detail.html', //"后冷弯管",
				};
				var url = jasTools.base.setParamsToUrl(urlMap[type], {
					oid: oid
				});
				top.jasTools.dialog.show({
					width: '50%',
					height: '80%',
					title: name + '详情',
					src: url,
				});
			},
			addPipeEvent: function () {
				var that = this;
				var arr = that.$refs.weldDetail;
				var frontDom = arr.$refs['frontPipeCode'];
				var backDom = arr.$refs['backPipeCode'];

				$(frontDom).css('color', 'blue').css('cursor', 'pointer').click(function () {
					// console.log(that.detail.frontPipeTypeName + ' ' + that.detail.frontPipeOid);
					that.openPipeDialog(that.detail.frontPipeOid, that.detail.frontPipeType, that.detail.frontPipeTypeName, that.detail
						.frontPipeCode)
				});
				$(backDom).css('color', 'blue').css('cursor', 'pointer').click(function () {
					// console.log(that.detail.backPipeTypeName + ' ' + that.detail.backPipeOid);
					that.openPipeDialog(that.detail.backPipeOid, that.detail.backPipeType, that.detail.backPipeTypeName, that.detail
						.backPipeCode)

				});
			}
		},
	});

</script>

</html>