<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,body,
		#app{
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.rank-table th,
		.rank-table td{
			white-space: nowrap;
		}
		.el-button--primary.is-plain{
			color:#b5ddff;
			background: #0567ad78;
		}
		.content{
			overflow: scroll;
    		height: 196px;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<div class="content">
			<table class="rank-table">
				<thead>
					<tr>
						<th v-for="item in titleData">{{item}}</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(item,index)  in detailData"> 
						<td >{{index+1}}</td> 
						<td><span>{{item.name}}</span></td> 
						<td>{{item.rank}}</td> 
						<!-- <td>{{item.startMileage}}</td>  -->
						<!-- <td>{{item.endMileage}}</td> --> 
						<td class='editCell' style='cursor: pointer;'  @click='editMileage(item.startMileage)'>
							<span class='span-cell'>{{item.startMileage}}</span>
							<input class='input-cell' hidden type='text' style='width:50px;' v-model="item.startMileage" />
						</td>
						<td class='editCell' style='cursor: pointer;'  @click='editMileage(item.endMileage)'>
							<span class='span-cell'>{{item.endMileage}}</span>
							<input class='input-cell' hidden type='text' style='width:50px;' v-model="item.endMileage" />
						</td>
						<td  @click='locate(item)'><i style='cursor: pointer;' size="small"  class="fa fa-map-marker"> 定位</i></td> 
					</tr>
				</tbody>
			</table>
		</div>
		<div slot="footer" class="dialog-footer" style="text-align: center;margin-bottom: 6px;">
			<el-button size="small" @click="cancel()">取 消</el-button>
			<el-button size="small" type="primary" @click="saveData()">确 定
			</el-button>
		</div>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>

<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
var titleData = {
	"areaField":[
		"序号",
		"编号",
		"等级",
		"起始里程",
		"结束里程"
	],
	"hcaAreaField": [
		"序号",
		"编号",
		"等级",
		"起始里程",
		"结束里程"
	]
};
/**
 * @desc 获取访问路径中某个参数
 * 
 * @param paramName 参数名
 * @param url 指定要截取参数的url（可以为空，如果为空url指向当前页面）
 */
 function getParamter(paramName, url) {
	var seachUrl = window.location.search.replace("?", "");
	if (url != null) {
		var index = url.indexOf('?');
		url = url.substr(index + 1);
		seachUrl = url;
	}
	var ss = seachUrl.split("&");
	var paramNameStr = "";
	var paramNameIndex = -1;
	for ( var i = 0; i < ss.length; i++) {
		paramNameIndex = ss[i].indexOf("=");
		paramNameStr = ss[i].substring(0, paramNameIndex);
		if (paramNameStr == paramName) {
			var returnValue = ss[i].substring(paramNameIndex + 1, ss[i].length);
			if (typeof (returnValue) == "undefined") {
				returnValue = "";
			}
			return returnValue;
		}
	}
	return "";
}
	var app = new Vue({
		el: "#app",
		data: function () {
			return {
				titleData:{},
				detailData:{},
				dataType:"",
			}
		},
		created: function () {
			var that = this;
			this.jasMap = parent.app.jasMap;
			this.forBusiness = getParamter('forBusiness');
			this.getDetails();
			if(this.forBusiness==0){
				this.titleData = titleData.areaField;
			}else{
				this.titleData = titleData.hcaAreaField;
			}
		},
		methods: {
			cancel: function(){
                top.jasTools.selfDialog.close();
			},
			saveData: function(){
				var that = this;
				var $obj = window.top.Vue;
				window.top.Vue.prototype.$confirm('是否保存当前版本数据？', '提示',{
					type: 'warning',
					callback: function(action){
						if(action === 'confirm'){
							$obj.prototype.$message({
								type:'success',
								message: 'ok'
							});
						}
					}
				});
                top.jasTools.selfDialog.close();
            },
			openDetail:function(idx){
				parent.app.openDetail(idx);
			},
			getDetails: function(){
				var that= this;
				var sourceName = 'pd_arearank';
				if(this.forBusiness == 1){
					sourceName = 'pd_zonerankcell';
				}
				this.jasMap.commonUtil.simpleAjaxLoader({
					url:"../../../../zone/" + sourceName + "/query.do",
					data:JSON.stringify({
						where :"rank is not null",
						returnGeometry:false
					}),
					method:"post",
					async:false,
					contentType:"application/json",
					onSuccess:function(re){
						var result = JSON.parse(re);
						var collection =  JSON.parse(result.data.features)  ;
						var features = collection.features;
						var data = [];
						if(Array.isArray(features)){
							for(var i = 0 ; i < features.length ; i++){
								var properties = features[i].properties ;
								properties.startMileage = properties.start_mileage ;
								properties.endMileage = properties.end_mileage ;
								properties.index = i + 1;
								data.push(properties);
							}
						}
						that.detailData = data;
					}
				});
			},
			locate: function(item){
				this.jasMap.layerVisibleSwitch( "pd_zonerankcell" ,false);
				this.jasMap.flashGraphic(item.oid,'pd_arearank' ,{
					deep:2
				});
			},
			editMileage: function(text){
				$('.input-cell').show();
				$('.span-cell').hide();
			}
		},
	});

</script>
</html>