<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,body,
		#app{
			width: 100%;
			height: 100%;
			background:transparent;
		}
		ul,li{
			list-style: none;
		}
		.map-list-box{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			padding: 10px;
		}
		.map-list{
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			color: #5695cb;
			overflow: auto;
		}
		.map-list li{
			height: 25px;
			line-height: 25px;
			padding: 0 10px;
		}
		.map-list li:hover{
			color: #fff;
			background-color: #72c1ea66;
			cursor: pointer;
		}
		.el-checkbox__label{
			color: #dde2ea;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<div class="map-list-box">
			<ul class="map-list">
				<li class="list-item" v-for="item in checkList" @click="updateLayer(item)">
				<el-checkbox v-model="item.checked">{{item.name}}</el-checkbox>
				</li>
			</ul>
		</div>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>

<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>

	var appDetail = new Vue({
		el: "#app",
		data: function () {
			return {
				checked: false,
				checkList: [
					{
						"name": "管线",
						"checked": true,
						"layerId": "hca_pipeline"
					},
					{
						"name": "识别区",
						"checked": false,
						"layerId": "bufferLayerId"					
					},
					{
						"name": "地区等级",
						"checked": false,
						"layerId": "pd_arearank"	
					},
					{
						"name": "高后果区",
						"checked": false,
						"layerId": "pd_zonerankcell"
					},
					{
						"name": "消防",
						"checked": false,
						"layerId": ""
					},
					{
						"name": "医院",
						"checked": false,
						"layerId": "pd_hospital"
					},
					{
						"name": "学校",
						"checked": false,
						"layerId": ""
					},
					{
						"name": "托儿所",
						"checked": false,
						"layerId": ""
					},
					{
						"name": "幼儿园",
						"checked": false,
						"layerId": ""
					},
					{
						"name": "养老院",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"监狱",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"工厂",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"商场",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"集贸市场",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"寺庙",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"运动场",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"广场",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"娱乐休闲地",
						"checked": false,
						"layerId": "pd_entertainment_place"
					},
					{
						"name":"剧院",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"露营地",
						"checked": false,
						"layerId": ""
					},
					{
						"name":"加油站",
						"checked": false,
						"layerId": "pd_gas_station"
					},
					{
						"name":"加气站",
						"checked": false,
						"layerId": "pd_gas_station"
					},
					{
						"name":"炸药库",
						"checked": false,
						"layerId": "pd_hospital"
					},
					{
						"name":"独立民居",
						"checked": false,
						"layerId": "hca_buildings"
					},
					{
						"name":"居民区",
						"checked": false,
						"layerId": "hca_buildings"
					},
					{
						"name":"商业区",
						"checked": false,
						"layerId": "hca_buildings"
					},
					{
						"name":"工业区",
						"checked": false,
						"layerId": "hca_buildings"
					},
					{
						"name":"规划区",
						"checked": false,
						"layerId": "hca_buildings"
					},
					{
						"name":"市郊居住区",
						"checked": false,
						"layerId": "hca_buildings"
					}
				],
				mapList:[
					"管线",
					"识别区",
					"地区等级",
					"高后果区",
					"消防",
					"医院",
					"学校",
					"托儿所",
					"幼儿园",
					"养老院",
					"监狱",
					"工厂",
					"商场",
					"集贸市场",
					"寺庙",
					"运动场",
					"广场",
					"娱乐休闲地",
					"剧院",
					"露营地",
					"加油站",
					"加气站",
					"炸药库",
					"独立民居",
					"居民区",
					"商业区",
					"工业区",
					"规划区",
					"市郊居住区"
				]
			}
		},
		created: function () {
			this.jasMap = parent.app.jasMap;
			this.initChecked();
		},
		methods: {
			updateLayer: function(item){
				var that = this;
				console.log(item)
				
				if(item.layerId){
					console.log(item.checked)
					that.jasMap.layerVisibleSwitch(item.layerId, !item.checked);
				}
				/* this.jasMap.layerVisibleSwitch('pd_arearank', false);
				this.jasMap.layerVisibleSwitch('pd_zonerankcell', false);
				this.jasMap.layerVisibleSwitch('pd_arearankcell', false); */
			},
			initChecked: function(){
				var that = this;
				$.each(that.checkList, function(i, item){
					var visible = that.jasMap.getLayerVisible(item.layerId);
					if(visible){
						item.checked = true;
					}
				});
			}
		},
	});

</script>
</html>