<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,body,
		#app{
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.rank-table th,
		.rank-table td{
			white-space: nowrap;
		}
		.el-button--primary.is-plain{
			color:#b5ddff;
			background: #0567ad78;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<el-row style="padding:15px 5px">
			<el-button size="small" plain type="primary" icon="fa fa-plus">新增</el-button>
		
		  </el-row>
		<table class="rank-table">
			<thead>
				<tr>
					<th v-for="item in titleData">{{item}}</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item,index)  in detailData"> 
					<td><input  name="boxs" type="checkbox"/></td>
					<td >{{index+1}}</td> <td><span>{{item.a}}</span></td> <td>{{item.b}}</td> 
					<td>{{item.c}}</td>   <td>{{item.d}}</td> <td>{{item.e}}</td> <td>{{item.f}}</td> <td>{{item.j}}</td><td><i size="small"  class="fa fa-info-circle">详情&emsp;</i><i size="small" class="fa fa-arrow-down">导入&emsp;</i><i size="small"  class="fa fa-pencil">修改&emsp;</i><i size="small"  class="fa fa-minus">删除</i><td> 
				</tr>
			</tbody>
		</table>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>

<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
	var dataList = {
			"pipeline":{
				"title":["","序号","项目名称","管线名称","管线编号","起始里程","终止里程","管道长度","最近识别时间","操作"],
				"data":[{
						"a": "内蒙古项目",
						"b": "内蒙古西部管道",
						"c": "15FC0",
						"d": "15FC001",
						"e": "15FC090",
						"f": "123KM",
						"j": "2019年4月12",
						
					},
					{
						"a": "内蒙古项目",
						"b": "内蒙古西部管道",
						"c": "15FC0",
						"d": "15FC001",
						"e": "15FC090",
						"f": "123KM",
						"j": "2019年4月12",
						
					},
					{
						"a": "内蒙古项目",
						"b": "内蒙古西部管道",
						"c": "15FC0",
						"d": "15FC001",
						"e": "15FC090",
						"f": "123KM",
						"j": "2019年4月12",
						
					},
					{
						"a": "内蒙古项目",
						"b": "内蒙古西部管道",
						"c": "15FC0",
						"d": "15FC001",
						"e": "15FC090",
						"f": "123KM",
						"j": "2019年4月12",
						
					}],
			},
			"success": 1
		};

/**
 * @desc 获取访问路径中某个参数
 * 
 * @param paramName 参数名
 * @param url 指定要截取参数的url（可以为空，如果为空url指向当前页面）
 */
function getParamter(paramName, url) {
	var seachUrl = window.location.search.replace("?", "");
	if (url != null) {
		var index = url.indexOf('?');
		url = url.substr(index + 1);
		seachUrl = url;
	}
	var ss = seachUrl.split("&");
	var paramNameStr = "";
	var paramNameIndex = -1;
	for ( var i = 0; i < ss.length; i++) {
		paramNameIndex = ss[i].indexOf("=");
		paramNameStr = ss[i].substring(0, paramNameIndex);
		if (paramNameStr == paramName) {
			var returnValue = ss[i].substring(paramNameIndex + 1, ss[i].length);
			if (typeof (returnValue) == "undefined") {
				returnValue = "";
			}
			return returnValue;
		}
	}
	return "";
}

	var appDetail = new Vue({
		el: "#app",
		data: function () {
			return {
				titleData:{},
				detailData:{},
				dataType:"",
			}
		},
		created: function () {
			var that = this;
			that.dataType = getParamter("dataType");
			this.titleData  = dataList[this.dataType].title;
			this.detailData = dataList[this.dataType].data;
		},
		methods: {
			openDetail:function(idx){
				parent.app.openDetail(idx);
			}
		},
	});

</script>
</html>