<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-dialog-wrapper>
			<div class="content">
				<el-form ref="formData" :rules="rules" :model="formData" label-width="150px">
					<jas-base-group-title name="基础数据"></jas-base-group-title>
					<el-row :gutter="10">
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="项目名称" prop="projectOid" required>
								<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged($event,false,true)">
									<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="标段名称" prop="tendersOid" required>
								<el-select v-model="formData.tendersOid" clearable placeholder="请选择标段名称" size="small" @change="tendersChanged($event,false,true)" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管线名称" prop="pipelineOid" required>
								<el-select v-model="formData.pipelineOid" clearable placeholder="请选择管线名称" size="small" @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="钢管编号" prop="pipeOid" required>
								<el-select v-model="formData.pipeOid" clearable :disabled="isEdit&&isInit" placeholder="请选择钢管编号" size="small"  @visible-change="childChange($event,'projectOid','项目名称')" @change="changePipe">
									<el-option v-for="item in domain.pipes" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管长(m)">
								<el-input v-model.trim="formData.pipeLength" disabled size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管径(mm)">
								<!-- <el-input-number :precision="3" :step="1" disabled :max="1000000" controls-position="right" v-model="formData.pipeDiameter" clearable
								  placeholder="请输入管径(mm)" size="small"></el-input-number> -->
								<el-input v-model.trim="formData.pipeDiameter" disabled size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="壁厚(mm)">
								<!-- <el-input-number :precision="3" :step="1" disabled :max="1000000" controls-position="right" v-model="formData.wallThickness" clearable
								  placeholder="请输入壁厚(mm)" size="small"></el-input-number> -->
								<el-input v-model="formData.wallThickness" disabled size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="分割段数" prop="segmentsNum" required>
								<el-input-number :precision="0" :min="1" :step="1" :max="5" controls-position="right" v-model="formData.segmentsNum" clearable
								  placeholder="请输入分割段数" size="small" @change="resetSegmentFields"></el-input-number>
							</el-form-item>
						</el-col>
						<template v-for="(item,index) in segmentArrs">
							<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
								<el-form-item :label="item.label" :prop="item.key" required>
									<el-input-number :precision="3" :step="1" :min="0" :max="formData.pipeLength || 1" controls-position="right" v-model="formData[item.key]"
									  clearable :placeholder="item.placeholder" size="small" :disabled="index== segmentArrs.length -1" @change="setLastSegmentPipeLength(index)"></el-input-number>
								</el-form-item>
							</el-col>
						</template>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工单位">
								<el-select v-model="formData.constructUnit" disabled placeholder="请选择施工单位" size="small">
									<el-option v-for="item in domain.constructUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理单位" prop="supervisionUnit" required>
								<el-select v-model="formData.supervisionUnit" clearable placeholder="请选择监理单位" size="small">
									<el-option v-for="item in domain.supervisionUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理工程师" prop="supervisionEngineer">
								<el-input v-model.trim="formData.supervisionEngineer" clearable placeholder="请输入监理工程师" size="small"></el-input>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="其他信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<jas-remarks :remarks="formData.remarks" @changevalue="changevalue"></jas-remarks>
							<!--<el-form-item label="备注" prop="remarks">
								<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :rows="2" size="small" v-model="formData.remarks"></el-input>
							</el-form-item>-->
						</el-col>
					</el-row>

					<jas-base-group-title name="附件信息"></jas-base-group-title>
					<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>
				</el-form>
			</div>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定
				</el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				isInit:false,
				isEdit: false,
				segmentArrs: [{
					label: "第一段长度(m)",
					key: "firstParagraphLength",
					placeholder: "请输入第一段长度(m)"
				}], //表示分割几段
				domain: {
					project: [],
					pipeline: [],
					tenders: [],
					pipes: [],
					supervisionUnits: [],
					constructUnits: []
				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						//trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						//trigger: 'change'
					}],
					pipeOid: [{
						required: true,
						message: '钢管编号必填项',
						//trigger: 'change'
					}],
					segmentsNum: [{
						required: true,
						message: '分割段数为必填项',
						//trigger: 'change'
					}],
					firstParagraphLength: [{
						required: true,
						message: '第一段长度为必填项',
						//trigger: 'change'
					}],
					supervisionUnit: [{
						required: true,
						message: '监理单位为必填项',
						//trigger: 'change'
					}],
					supervisionEngineer: [{
						min: "0",
						max: 50,
						message: '不能超过50个字'
					}],
				},
				formData: {
					pipeLength: null,
					projectOid: "",
					pipelineOid: "",
					tendersOid: "",
					segmentsNum: "",
					wallThickness: "",
					pipeDiameter: "",
					constructUnit: "",
					supervisionUnit: "",
					supervisionEngineer: "",
					firstParagraphLength: null,
					secondParagraphLength: null,
					thirdParagraphLength: null,
					fourthParagraphLength: null,
					fifthParagraphLength: null,
					remarks: ""
				},

			}
		},
		computed: {
			pipeOid: function () {
				return this.formData.pipeOid;
			},
		},
		watch: {
			pipeOid: function (newval) {

			},
		},
		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			var userBo = JSON.parse(localStorage.getItem("user"));
			that.formData.constructUnit = userBo.unitId;
			/* that.domain.constructUnits.push({
				key: userBo.unitId,
				value: userBo.unitName
			}); */
			this.requestDomainFromBizTable('/daq/privilege/getCurrentUnitId.do', {}, function (arr) {
				that.domain.constructUnits = arr;
			});
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);

			}
			//else {
			//this.requestDomainFromBizTable('/daq/materialPipe/getCutAndNotUse.do', {}, function (arr) {
			//that.domain.pipes = arr;
			//});
			//}

			this.requestDomainFromBizTable('/daq/privilege/getProjectList.do', {}, function (arr) {
				that.domain.project = arr;
				if(!that.isEdit){
					that.formData.projectOid=arr[0].key;
					that.projectChanged(that.formData.projectOid,false,true);//false:表示为是否编辑，true表示新增	
				}
			});
		},
		methods: {
			changevalue: function (msg) {
				this.formData.remarks = msg;
			},
			childChange: function (event, id, name) {
				if (event && !this.formData[id]) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择" + name
					});
				}
			},
			changePipe: function () {
				this.resetPipeData();
				this.setPipeLength(this.formData.pipeOid);
				this.resetSegmentFields(1);
			},
			validSegmentFields: function () {
				var num = this.formData.segmentsNum;
				var names = this.indexs;
				var total = 0;
				for (var i = 0; i < num - 1; i++) {
					if (this.formData[names[i]] == 0) {
						top.Vue.prototype.$message({
							type: 'error',
							message: '切管长度不可为 0'
						});
						return false;
					}
					total += this.formData[names[i]];
				}
				for (var i = names.length - 1; i > num - 1; i--) {
					if (this.formData[names[i]]) {
						this.formData[names[i]] = "";
					}
				}
				if (total > this.formData.pipeLength) {
					top.Vue.prototype.$message({
						type: 'error',
						message: '切管长度之和不可超过管线长度'
					});
					return false;
				}
				return true;
			},
			resetSegmentFields: function (val, data) {
				var that = this;
				var indexs = ['firstParagraphLength', 'secondParagraphLength', 'thirdParagraphLength', 'fourthParagraphLength',
					'fifthParagraphLength'
				];
				this.indexs = indexs;
				var num = ['一', '二', '三', '四', '五'];
				that.segmentArrs = [];
				for (var i = 0; i < val; i++) {
					var obj = {
						label: "第" + num[i] + "段长度(m)",
						key: indexs[i],
						placeholder: "请输入第" + num[i] + "段长度(m)"
					};
					that.formData[indexs[i]] = 0;
					if (i === val - 1) {
						that.formData[indexs[i]] = that.formData.pipeLength;
					}
					if (!that.rules[indexs[i]]) {
						that.rules[indexs[i]] = {
							required: true,
							message: '第' + num[i] + '段长度为必填项',
							trigger: 'change'
						};
					}
					that.segmentArrs.push(obj);
					if (data) {
						setTimeout(function () {
							for (var key in data) {
								if(key!="pipeLength"){
									that.formData[key] = data[key];
								}
							}
						}, 100);
					}
				}
			},
			resetPipeData: function () {
				var that = this;
				that.formData.pipeLength = '';
				that.formData.wallThickness = '';
				that.formData.pipeDiameter = '';

				that.formData.segmentsNum = 1;
				that.formData.firstParagraphLength = '';
				that.formData.secondParagraphLength = '';
				that.formData.thirdParagraphLength = '';
				that.formData.fourthParagraphLength = '';
				that.formData.fifthParagraphLength = '';
				that.resetSegmentFields(1);
			},
			setLastSegmentPipeLength: function (index) {
				var num = this.formData.segmentsNum;
				var names = this.indexs;
				if (index === num - 1) return;
				this.formData[names[num - 1]] = this.formData.pipeLength;
				for (var i = 0; i < num - 1; i++) {
					this.formData[names[num - 1]] = this.formData[names[num - 1]] - this.formData[names[i]];
				}
			},
			setPipeLength: function (pipeId) { // pipeid = pipeId
				if (!pipeId) {
					this.formData.pipeLength = '';
				} else {
					var arr = this.domain.pipes.filter(function (item) {
						return item.key === pipeId;
					});
					if (arr.length > 0) {
						this.formData.pipeLength = arr[0].length;
						this.formData.pipeDiameter = arr[0].pipe_diameter;
						this.formData.wallThickness = arr[0].wall_thickness;
					} else {
						this.formData.pipeLength = '';
						this.formData.pipeDiameter = '';
						this.formData.wallThickness = '';
					}
				}
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val, edit,add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
							if(add){
								that.formData.tendersOid=arr[0].key;
								that.tendersChanged(that.formData.tendersOid,false,true);
							}
						});
				} else {
					that.domain.tenders = [];
				}
				if (!edit) {
					that.isInit=false;
					that.formData.tendersOid = '';
					that.domain.pipeline = [];
					that.formData.pipelineOid = '';
					that.domain.pipes = [];
					that.formData.pipeOid = '';
				}
				that.getPipeCode(val, edit);
			},
			getPipeCode: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/materialPipe/getCutAndNotUse.do', {

							projectOid: val
						},
						function (arr) {
							that.domain.pipes = arr;
						});
				} else {
					that.domain.pipes = [];
				}

				if (!edit) {
					that.changePipe();
				}
			},
			tendersChanged: function (val, edit,add) { //根据标段触发管线列表
				var that = this;
				if (val) {
					this.requestDomainFromBizTable('/daq/privilege/getPipelineListByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.pipeline = arr;
							if(add){
								that.formData.pipelineOid=arr[0].key;	
							}
						});
				} else {
					that.domain.pipeline = [];
				}
				if (!edit) {
					that.formData.pipelineOid = '';

				}
				that.getSupervisionUnit(val, edit); //根据标段获取监理单位
			},
			getSupervisionUnit: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getSupervisionUnitByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.supervisionUnits = arr;
						});
				} else {
					that.domain.supervisionUnits = [];
				}
				if (!edit) {
					that.formData.supervisionUnit = '';
				}
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid && that.validSegmentFields()) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				if (!this.isEdit) {
					var url = jasTools.base.rootPath + "/jdbc/commonData/cutWeld/save.do";
				} else {
					delete that.formData.isUse;
					var url = jasTools.base.rootPath + "/jdbc/commonData/cutWeld/update.do";
				}
				that.but_disabled = true;
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},

			getPipeLengthById: function (pipeOid,cb) {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/steelPipe/get.do";
				jasTools.ajax.get(url, {
					oid: pipeOid
				}, function (data) {
					if(data.data){
						that.formData.pipeLength = data.data.pipeLength;	
					}
					cb&&cb();
				});
			},
			getDetailByObjectId: function () {
				var that = this;
				that.isInit=true;
				var url = jasTools.base.rootPath + "/jdbc/commonData/cutWeld/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {
					data.rows[0].pipeLength = '';
					data.rows[0].firstParagraphLength = data.rows[0].firstParagraphLength+'';
					data.rows[0].secondParagraphLength = data.rows[0].secondParagraphLength+'';
					data.rows[0].thirdParagraphLength = data.rows[0].thirdParagraphLength+'';
					data.rows[0].fourthParagraphLength = data.rows[0].fourthParagraphLength+'';
					data.rows[0].fifthParagraphLength = data.rows[0].fifthParagraphLength+'';
					that.projectChanged(data.rows[0].projectOid, true);
					that.tendersChanged(data.rows[0].tendersOid, true);
					that.domain.pipes.push({
						key: data.rows[0].pipeOid,
						value: data.rows[0].pipeCode
					}); //"678b
					that.getPipeLengthById(data.rows[0].pipeOid,function(){
						that.resetSegmentFields(data.rows[0].segmentsNum, data.rows[0]);
					});
				
				});
			},
		},
	});
</script>

</html>