<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-dialog-wrapper>
			<div class="content">
				<el-form ref="formData" :rules="rules" :model="formData" label-width="150px">
					<jas-base-group-title name="基础数据"></jas-base-group-title>
					<el-row :gutter="10">
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="项目名称" prop="projectOid" required>
								<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged">
									<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="标段名称" prop="tendersOid" required>
								<el-select v-model="formData.tendersOid" clearable placeholder="请选择标段名称" size="small" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工单位" prop="constructUnit" required>
								<el-select v-model="formData.constructUnit" disabled clearable placeholder="请选择施工单位" size="small">
									<el-option v-for="item in domain.constructUnitArr" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="出厂编号" prop="manufacturerCode" required>
								<!--<el-input v-model="formData.manufacturerCode" clearable placeholder="请输入出厂编号" size="small"></el-input>-->
								<el-select v-model="formData.manufacturerCode" clearable placeholder="请选择出厂编号" size="small" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.manufacturerCodeArr" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="生产厂家" prop="manufacturer">
								<el-input v-model.trim="formData.manufacturer" clearable placeholder="请输入生产厂家" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="合格证编号" prop="certificationNum">
								<el-input v-model.trim="formData.certificationNum" clearable placeholder="请输入合格证编号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="公称直径(mm)">
								<el-input-number :precision="3" :step="1" :max="999999.999" controls-position="right" v-model="formData.diameter" clearable placeholder="请输入公称直径(mm)"
								  size="small"></el-input-number>

								<!-- 	<el-input v-model="formData.diameter" clearable placeholder="请输入公称直径(mm)" size="small"></el-input> -->
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="公称压力(mpa)">
								<el-input-number :precision="3" :step="1" :max="999999.999" controls-position="right" v-model="formData.pressure" clearable placeholder="请输入公称压力(mpa)"
								  size="small"></el-input-number>

							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="测试仪器" prop="testEquipment">
								<el-input v-model.trim="formData.testEquipment" clearable placeholder="请输入测试仪器" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="仪器规格型号" prop="specandModel">
								<el-input v-model.trim="formData.specandModel" clearable placeholder="请输入仪器规格型号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="实用绝缘电阻值(MΩ)"  prop="resistanceVal">
								<el-input v-model.trim="formData.resistanceVal" clearable placeholder="请输入实用绝缘电阻值(MΩ)" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="验收结论" prop="checkResults">
								<el-input v-model.trim="formData.checkResults" clearable placeholder="请输入验收结论" size="small"></el-input>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="其他信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<jas-remarks :remarks="formData.remarks" @changevalue="changevalue"></jas-remarks>
							
						</el-col>
						</el-col>
					</el-row>
					<!-- <el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="模板上传" prop="file">
						</el-form-item>
					</el-col>
				</el-row> -->
					<!--<jas-base-group-title name="附件信息"></jas-base-group-title>

				<jas-file-upload ref="upload" @success="uploadSuccess"></jas-file-upload>-->
				<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>
				</el-form>





			</div>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定 </el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				domain: {
					constructUnitArr: [],
					project: [], //项目
					tenders: [], //标段
					manufacturerCodeArr:[]
				},
				rules: {
					manufacturerCode: [{
						required: true,
						message: '出厂编号为必填项',
						//trigger: 'change'
					}],
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						//trigger: 'change'
					}],
					constructUnit: [{
						required: true,
						message: '施工单位为必填项',
						//trigger: 'change'
					}],
					certificationNum:[{
						min: "0",
						max: 60,
						message: "不能超过60字"
					}],
					manufacturer:[{
						min: "0",
						max: 50,
						message: "不能超过50字"
					}],
					testEquipment:[{
						min: "0",
						max: 50,
						message: "不能超过50字"
					}],
					specandModel:[{
						min: "0",
						max: 30,
						message: "不能超过30字"
					}],
					resistanceVal:[{
						min: "0",
						max: 20,
						message: "不能超过20字"
					}],
					checkResults:[{
						min: "0",
						max: 200,
						message: "不能超过200字"
					}],
				},
				formData: {
					projectOid: "",
					tendersOid: "",
					constructUnit: "",
					manufacturerCode: "",
					certificationNum: "",
					diameter: "",
					pressure: "",
					manufacturer: "",
					testEquipment: "",
					specandModel: "",
					resistanceVal: "",
					checkResults: "",
					remarks: ""
				}
			}
		},

		mounted: function () {
			var that = this;
			var param = window.jasTools.base
				.getParamsInUrl(location.href);
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				// this.uploadurl = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") +
				// 	"&businessId=" + this.oid + "&businessType=excelTemplate";

				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);
			};
			this.requestDomainFromBizTable(
				'/daq/privilege/getProjectList.do', {},
				function (
					arr) {
					that.domain.project = arr;
					if(!that.isEdit){
						that.formData.projectOid=arr[0].key;
						that.projectChanged(that.formData.projectOid,false,true);//false:表示为是否编辑，true表示新增
					}
				});
		
			this.getconstructUnit();
		},
		methods: {
			changevalue: function (msg) {
				this.formData.remarks = msg;
			},
			childChange: function (event, id, name) {
				if (event && !this.formData[id]) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择" + name
					});
				}
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val,edit,add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
							if(add){
								that.formData.tendersOid=arr[0].key;
							}
						});
				} else {
					that.domain.tenders = [];
				}
				if(!edit){
					that.formData.tendersOid = '';
				}
				that.getCode(val,edit);
			},
			getconstructUnit: function () { //根据标段触发管线列表
				var that = this;
				var userBo = JSON.parse(localStorage.getItem("user"));
				that.formData.constructUnit = userBo.unitId;
				this.requestDomainFromBizTable(
						'/daq/privilege/getCurrentUnitId.do', {},
						function (arr) {
							that.domain.constructUnitArr = arr;
						});
			
			},
			getCode:function(val,edit){
				var that=this;
				if(val){
					this.requestDomainFromBizTable(
							'/daq/check/getManufacturerCode.do', {
								projectOid:val
							},
							function (
								arr) {
								that.domain.manufacturerCodeArr = arr;
							});	
				}else{
					that.domain.manufacturerCodeArr=[];
				}
				if(!edit){
					that.formData.manufacturerCode = '';
				}
				
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath +
						"/jdbc/commonData/checkInsulatedJoint/save.do";
				} else {
					msg = "修改成功";
					url = jasTools.base.rootPath +
						"/jdbc/commonData/checkInsulatedJoint/update.do";
				}

				that.but_disabled = true;
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath +
					"/jdbc/commonData/checkInsulatedJoint/getPage.do";
				jasTools.ajax.post(url, {oid:that.oid}, function (data) {
					for (var key in that.formData) {
						that.formData[key] = data.rows[0][key];
					}
					that.projectChanged(data.rows[0].projectOid,true);
					//that.getCode(data.rows[0].projectOid,true);
				});

			},
		},
	});
</script>

</html>