<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-dialog-wrapper>
			<div class="content">
				<el-form ref="formData" :rules="rules" :model="formData" label-width="150px">
					<jas-base-group-title name="基础数据"></jas-base-group-title>
					<el-row :gutter="10">
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="项目名称" prop="projectOid" required>
								<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged($event,false,true)">
									<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="标段名称" prop="tendersOid" required>
								<el-select v-model="formData.tendersOid" clearable placeholder="请选择标段名称" size="small" @change="tendersChanged($event,false,true)" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管线名称" prop="pipelineOid" required>
								<el-select v-model="formData.pipelineOid" clearable placeholder="请选择管线名称" size="small" @change="pipelineChanged($event,false,true)" @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="线路段/穿跨越" prop="pipeSegmentOrCrossOid" required>
								<el-select v-model="formData.pipeSegmentOrCrossOid" clearable placeholder="请选择线路段" size="small" @change="pipeSegmentChanged" @visible-change="childChange($event,'pipelineOid','管线名称')">
									<el-option v-for="item in domain.pipeSegment" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工单位" prop="constructUnit" required>
								<el-select v-model="formData.constructUnit" disabled placeholder="请选择施工单位" size="small">
									<el-option v-for="item in domain.constructUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工机组" prop="workUnitOid" required>
								<el-select v-model="formData.workUnitOid" placeholder="请选择施工机组" size="small"  @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.workUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理单位" prop="supervisionUnit" required>
								<el-select v-model="formData.supervisionUnit" clearable placeholder="请选择监理单位" size="small" @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.supervisionUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理工程师" prop="supervisionEngineer" required>
								<el-input v-model.trim="formData.supervisionEngineer" clearable placeholder="请输入监理工程师" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集人员" prop="collectionPerson">
								<el-input v-model.trim="formData.collectionPerson" clearable placeholder="请输入采集人员" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集日期" prop="collectionDate" required>
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入采集日期" v-model="formData.collectionDate" size="small"
								  style="width: 100%;">
								</el-date-picker>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="焊口割口信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="割口编号" prop="weldOid" required>
								<el-select v-model="formData.weldOid" clearable placeholder="请选择割口编号" size="small" @change="weldChanged" @visible-change="childChange($event,'pipeSegmentOrCrossOid','线路段/穿跨越名称')">
									<el-option v-for="item in domain.welds" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="割口日期" prop="cutWeldDate" required>
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="选择割口日期" v-model="formData.cutWeldDate" size="small" style="width: 100%;">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="前焊口编号" prop="frontWeldOid" required>
								<el-select v-model="formData.frontWeldOid" clearable placeholder="请选择前焊口编号" size="small" @change="frontWeldChanged" @visible-change="childChange($event,'weldOid','割口编号')">
									<el-option v-for="item in domain.frontWeldOids" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="后焊口编号" prop="backWeldOid" required>
								<el-select v-model="formData.backWeldOid" clearable placeholder="请选择后焊口编号" size="small"  @visible-change="childChange($event,'frontWeldOid','前焊口编号')">
									<el-option v-for="item in domain.backWeldOids" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="其他信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<jas-remarks :remarks="formData.remarks" @changevalue="changevalue"></jas-remarks>
							<!--<el-form-item label="备注" prop="remarks">
								<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :rows="2" size="small" v-model="formData.remarks"></el-input>
							</el-form-item>-->
						</el-col>
					</el-row>
					<!-- <el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="模板上传" prop="file">
						</el-form-item>
					</el-col>
				</el-row> -->
					<jas-base-group-title name="附件信息"></jas-base-group-title>
					<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>

				</el-form>





			</div>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定
				</el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				domain: {
					project: [],
					pipeline: [],
					tenders: [],
					pipeSegment: [],
					welds: [], //割口口编号
					supervisionUnits: [], //监理单位
					constructUnits: [], //施工单位
					workUnits: [], //机组
					frontWeldOids: [], //前焊口编号
					backWeldOids: [] //后焊口编号

				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					cutWeldDate: [{
						required: true,
						message: '割口日期为必填项',
						//trigger: 'change'
					}],
					backWeldOid: [{
						required: true,
						message: '后焊口编号为必填项',
						//trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						//trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						//trigger: 'change'
					}],
					pipeSegmentOrCrossOid: [{
						required: true,
						message: '线路段/穿跨越为必填项',
						//trigger: 'change'
					}],
					weldOid: [{
						required: true,
						message: '焊口割口编号必填项',
						//trigger: 'change'
					}],
					frontWeldOid: [{
						required: true,
						message: '前焊口编号必填项',
						//trigger: 'change'
					}],
					constructUnit: [{
						required: true,
						message: '施工单位',
						//trigger: 'change'
					}],
					workUnitOid: [{
						required: true,
						message: '施工机组代号必填项',
						//trigger: 'change'
					}],
					supervisionUnit: [{
						required: true,
						message: '监理单位为必填项',
						//trigger: 'change'
					}],
					collectionDate: [{
						required: true,
						message: '采集日期为必填项',
						//trigger: 'change'
					}],
					supervisionEngineer: [{
						min: "0",
						max: 50,
						message: '不能超过50个字'
					}, {
						required: true,
						message: '监理工程师为必填项',
						//trigger: 'change'
					}],
					collectionPerson: [{
						min: "0",
						max: 30,
						message: '不能超过30个字'
					}],
				},
				formData: {
					projectOid: "",
					tendersOid: "",
					pipelineOid: "",
					pipeSegmentOrCrossOid: "",
					constructUnit: '',
					workUnitOid: "",
					supervisionUnit: "",
					supervisionEngineer: "",
					collectionPerson: "",
					collectionDate: "",
					weldOid: "",
					frontWeldOid: "",
					backWeldOid: "",
					cutWeldDate: "",
					remarks: ""
				}
			}
		},

		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			var userBo = JSON.parse(localStorage.getItem("user"));
			that.formData.constructUnit = userBo.unitId;
			/* that.domain.constructUnits.push({
				key: userBo.unitId,
				value: userBo.unitName
			}); */
			this.requestDomainFromBizTable('/daq/privilege/getCurrentUnitId.do', {}, function (arr) {
				that.domain.constructUnits = arr;
			});
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				// this.uploadurl = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") +
				// 	"&businessId=" + this.oid + "&businessType=excelTemplate";

				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);
			};

			this.requestDomainFromBizTable('/daq/privilege/getProjectList.do', {}, function (arr) {
				that.domain.project = arr;
				if(!that.isEdit){
					that.formData.projectOid=arr[0].key;
					that.projectChanged(that.formData.projectOid,false,true);//false:表示为是否编辑，true表示新增	
				}
			});
		
		},
		methods: {
			childChange: function (event, id, name) {
				if (event && !this.formData[id]) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择" + name
					});
				}
			},

			changevalue: function (msg) {
				this.formData.remarks = msg;
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			requestDomainFromDomainTable: function (domainName, cb) {
				var that = this;
				var url = jasTools.base.rootPath +
					"/jasframework/sysdoman/getDoman.do";
				jasTools.ajax.get(url, {
					"domainName": domainName
				}, function (data) {
					var aDomain = data.map(function (item) {
						return {
							key: item.codeId,
							value: item.codeName,
						}
					});
					cb && cb(aDomain);
				});
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val,edit,add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
							if(add){
								that.formData.tendersOid=arr[0].key;
								that.tendersChanged(that.formData.tendersOid,false,true);
							}
						});
				}else{
					that.domain.tenders=[];
				}
				if (!edit) {
				
					that.formData.tendersOid = '';
					that.domain.pipeline = [];
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.supervisionUnits = [];
					that.formData.supervisionUnit = '';
					that.domain.welds=[];
					that.formData.weldOid = '';
					that.domain.frontWeldOids=[];
					that.formData.frontWeldOid = '';
					that.domain.backWeldOids=[];
					that.formData.backWeldOid = '';
					
				}
				that.getWorkUints(val, edit); //获取机组

			},
			getWorkUints: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/workUnit/getWorkUnitList.do', {
							projectOid: val,
							types: "work_unit_type_code_001,work_unit_type_code_010,work_unit_type_code_012"
						},
						function (arr) {
							that.domain.workUnits = arr;
						});
				}else{
					that.formData.workUnits=[];
				}
				if (!edit) {
					that.formData.workUnitOid = '';
						
			
				}
			},
			tendersChanged: function (val, edit,add) { //根据标段触发管线列表
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipelineListByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.pipeline = arr;
							if(add){
								that.formData.pipelineOid=arr[0].key;	
								that.pipelineChanged(that.formData.pipelineOid,false,true);
								}
						});
				}else{
					that.domain.pipeline=[];
		
				}
				if (!edit) {
					
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.welds=[];
					that.formData.weldOid = '';
					that.domain.frontWeldOids=[];
					that.formData.frontWeldOid = '';
					that.domain.backWeldOids=[];
					that.formData.backWeldOid = '';
				}
				that.getSupervisionUnit(val, edit); //根据标段获取监理单位
			},
			getSupervisionUnit: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getSupervisionUnitByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.supervisionUnits = arr;
						});
				}else{
					that.domain.supervisionUnits=[];
				}
				if (!edit) {
					that.formData.supervisionUnit = '';
				}
			},
			pipelineChanged: function (val, edit,add) { //根据管线触发线路段/穿跨越
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipeSegmentOrCrossList.do', {
							pipelineOid: val
						},
						function (arr) {
							that.domain.pipeSegment = arr;
							if(add){
								that.formData.pipeSegmentOrCrossOid=arr[0].key;	
								that.pipeSegmentChanged(that.formData.pipeSegmentOrCrossOid);
							}
						});
				}else{
					that.domain.pipeSegment=[];
				}
				if (!edit) {
					that.formData.pipeSegmentOrCrossOid = '';
				
					that.domain.welds=[];
					that.formData.weldOid = '';
					that.domain.frontWeldOids=[];
					that.formData.frontWeldOid = '';
					that.domain.backWeldOids=[];
					that.formData.backWeldOid = '';
				}
			},
			pipeSegmentChanged: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
							'/daq/weld/getWeldList.do', {
								pipeSegmentOrCrossOid: val
							},
							function (arr) {
								that.domain.welds = arr;
								if (that.formData.weldOid != "") {
									that.domain.welds.push({
										key: that.formData.weldOid,
										value: that.formData.weldCode
									});
								}
							});
				}else{
					that.domain.welds=[];
				}
				if (!edit||!val) {
					that.formData.weldOid = '';
					that.domain.frontWeldOids=[];
					that.formData.frontWeldOid = '';
					that.domain.backWeldOids=[];
					that.formData.backWeldOid = '';
				}
			},
			weldChanged: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
							'/daq/weld/getWeldListByWeldOid.do', {
								weldOid: val
							},
							function (arr) {
								that.domain.frontWeldOids = arr;
							});
				}else{
					that.domain.frontWeldOids=[];
				}
				if (!edit) {
					that.formData.frontWeldOid = '';
					that.domain.backWeldOids=[];
					that.formData.backWeldOid = '';
				}
			},
			frontWeldChanged: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
							'/daq/weld/getWeldListByWeldOid.do', {
								frontWeldOid: val
							},
							function (arr) {
								that.domain.backWeldOids = arr;
							});
				}else{
					that.domain.backWeldOids=[];
				}
				if (!edit) {
					that.formData.backWeldOid = '';
				}
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath +
						"/jdbc/commonData/weldCut/save.do";
				} else {
					msg = "修改成功";
					delete that.formData.isUse;
					url = jasTools.base.rootPath +
						"/jdbc/commonData/weldCut/update.do";
				}
				that.but_disabled = true;
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/weldCut/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {
					/* for (var key in that.formData) {
						that.formData[key] = data.rows[0][key];
					} */
					that.formData = data.rows[0];
					that.projectChanged(data.rows[0].projectOid, true);
					that.tendersChanged(data.rows[0].tendersOid, true);
					that.pipelineChanged(data.rows[0].pipelineOid, true);
					that.pipeSegmentChanged(data.rows[0].pipeSegmentOrCrossOid, true);
					that.weldChanged(data.rows[0].weldOid, true);
					that.frontWeldChanged(data.rows[0].frontWeldOid, true);
				});
			},
		},
	});
</script>

</html>