<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,body,
		#app{
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.jas-detail-table .table_wrap th{
			background:transparent;
			color:#5695cb;
			
		}
		.jas-detail-table .table_wrap td{
			color: #72c1ea;
		}
		.is-grown>div>div>span{
			color: #93eeff;
			background:transparent !important;
		}
		div{
			border:0 !important;
		}
		.jas-detail-table .table_wrap tr, 
		.jas-detail-table .table_wrap th, 
		.jas-detail-table .table_wrap td{
			border: 1px solid #375a78;
		}

	</style>
</head>

<body>
	<div id="app" v-cloak>
		<div class="content">
			<jas-dialog-wrapper>
	
				<jas-base-group-title name="基本信息"></jas-base-group-title>
				<jas-detail-table-new :titles="fields" :detail="detail"></jas-detail-table-new>
				<table class="rank-table">
					<thead>
						<tr>
							<th v-for="item in titleData">{{item}}</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index)  in detailData"> 
							<td><span>{{item.a}}</span></td> <td>{{item.b}}</td> 
							<td>{{item.c}}</td>   <td>{{item.d}}</td> <td>{{item.e}}</td> <td>{{item.f}}</td> <td>{{item.j}}</td> <td>{{item.g}}</td> <td>{{item.h}}</td> <td>{{item.i}}</td>
						</tr>
					</tbody>
				</table>
				<jas-base-group-title name="附件信息"></jas-base-group-title>
				<jas-file-upload ref="" @success=""></jas-file-upload>
			</jas-dialog-wrapper>
		</div>
		<div slot="footer" class="dialog-footer" style="text-align: center">
			<el-button size="small" @click="cancel()">取 消</el-button>
			<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定
			</el-button>
		</div>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>

<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
	var dataList = {
		"neiJianCeWeiGui":{
			"title":["违规事项","违规企业名称","上次上报时间","延迟时长","企业联系人","联系人部门","联系电话","违规地点","督办状态"],
			"data":[{
					"a": "18个月未上报",
					"b": "某管道公司",
					"c": "1998年3月",
					"d": "2个月",
					"e": "陈治",
					"f": "保护部",
					"j": "18311360111",
					"g":"呼市某区某街",
					"h": "未督办"
				}],
		},
		"success": 1
	};
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				detailData:{},
				titleData:{},
				fields: [ //
					{
						field: "a",
						name: '督办主题'
					}, {
						field: "b",
						name: '督办事项'
					}, {
						field: "c",
						name: '督办单位'
					}, {
						field: "d",
						name: '督办人'
					}, {
						field: 'e',
						name: '督办人联系方式',
					}, {
						field: 'f',
						name: '下发时间',
					}, {
						field: 'g',
						name: '要求整改日期',
					}, {
						field: 'h',
						name: '督办要求',
					}, {
						field: 'i',
						name: '接收单位',
					}, {
						field: 'j',
						name: '接收人',
					}, {
						field: 'k',
						name: '附件',
					}]
			}
		},
		created: function () {
			this.detail = {
						"a": "关于鄂尔多斯市高后果区识别报送的通知",
						"b": "违规事项001-18个月未上报高后果区、违规事项003-18个月未上报高后果区、违规事项004-18个月未上报高后果区",
						"c": "自治区管道安监处",
						"d": "高峰",
						"e": "18749284555",
						"f": "2019年4月24日",
						"g": "2019年5月12日",
						"h": "限期完成高后果区上报",

						"i": "鄂尔多斯管道安监处",
						"j": "王志",
						"k": "需支持附件上传"
					};
			this.titleData  = dataList['neiJianCeWeiGui'].title;
			this.detailData = dataList['neiJianCeWeiGui'].data;
		},
		methods: {
		},
	});
</script>

</html>