<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<link rel="stylesheet" href="../../../../src/css/onepage.css">
	<style>
		html,body,
		#app{
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.rank-table th,
		.rank-table td{
			white-space: nowrap;
		}
		.left-div{
			padding: 8px;
			box-sizing: border-box;
			color: #ffffff;
			background-color: #060e224d;
			line-height: 30px;
			margin: 10px;
		    display: inline-block;
		    padding: 12px;
		    float: left;
		    height: 100%
		    width: 24%;
		}
		.left-div div{
			padding-left:8px;
			font-size: 18px;
		}
		.left-div>div>div{
			padding:0 6px 0 18px;
			font-size: 14px;
			cursor:pointer;
		}
		.left-div i{
			padding-right: 6px;
		}
		.right-div{
			float: right;
			width: 70%;
			height: 98%;
    		border-left: 1px solid #808080;
		}
		.select-div{
			text-align: right;
			width: 100%
		}
		.select-div .el-select{
		
		}
		.el-picker-panel{
			background:#173a6ecc;
			color: #b5ddff;
			border: 1px solid #ffffff;
		}
		.el-picker-panel__icon-btn,.el-date-picker__header-label,.el-date-table th{
			color: #b5ddff;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak style="width: 100%">
		<div class="left-div">
			<div><i class="fa fa-bar-chart"></i>专题统计</div>
			<div>
				<div @click="alertDialog(1)"><i class="fa fa-pie-chart"></i>按等级统计</div>
				<div @click="alertDialog(2)"><i class="fa fa-area-chart"></i>按区域统计</div>
				<div @click="alertDialog(3)"><i class="fa fa-bar-chart"></i>按企业统计</div>
				<div @click="alertDialog(4)"><i class="fa fa-line-chart"></i>按时间统计</div>
			</div>
		</div>
		<div class="right-div">
			<div class="select-div">
				<el-select v-model="areaVal" placeholder="请选择" style="width:180px;">
					<el-option
					v-for="item in areaOption"
					:key="item.value"
					:label="item.label"
					:value="item.value">
					</el-option>
				</el-select>
				<el-date-picker style="width:180px;margin-right: 10px;"
			      v-model="value1"
			      type="date"
			      placeholder="选择日期">
			    </el-date-picker>
			</div>
			<div style="position: relative;height: 100%;top:36px;">
				<div id="thematic_statistics_pie" style="height: 100%"></div>
			</div>
		</div>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>

<!-- import JavaScript -->
<script src="../../../../lib/echarts/echarts.min.js"></script>

<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<script>
var appDetail = new Vue({
	el: "#app",
	data: function () {
		return {
			areaVal:"区域（市）",
			areaOption:[],
			thematicStatisticsPie:"",
			value1:""
		}
	},
	created: function () {
		var that = this;
		$(function(){
			that.areaOption=[   // 下拉选选项值
				{"label":"全市","value":"全市"},
				{"label":"呼和浩特","value":"呼和浩特"},
				{"label":"鄂尔多斯","value":"鄂尔多斯"},
				{"label":"包头","value":"包头"},
				{"label":"赤峰","value":"赤峰"},
				{"label":"乌海","value":"乌海"},
				{"label":"呼伦贝尔","value":"呼伦贝尔"},
				{"label":"兴安盟","value":"兴安盟"},
				{"label":"通辽","value":"通辽"},
				{"label":"锡林郭勒盟","value":"锡林郭勒盟"},
				{"label":"乌兰察布","value":"乌兰察布"},
				{"label":"巴彦淖尔","value":"巴彦淖尔"},
				{"label":"阿拉善盟","value":"阿拉善盟"},
			];
			that.getThematicStatisticsPie(1);
		});
	},
	methods: {
		getThematicStatisticsPie:function(flag){
			var that = this;
			if(!this.thematicStatisticsPie){
				that.thematicStatisticsPie = echarts.init(document.getElementById('thematic_statistics_pie'));
				$(window).resize(function () {
					that.thematicStatisticsPie.resize();
				});
			}
			var option;
			if(flag%2!==0){
				option = {
					    tooltip : {
					        trigger: 'item',
					        formatter: "{a} <br/>{b} : {c} ({d}%)"
					    },
					    legend: {
					        orient: 'vertical',
					        left: 'right',
					        data: ['Ⅰ级','Ⅱ级','Ⅲ级'],
					        textStyle:{
								color:"#f1f2ea"					            	
					        }
					    },
					    textStyle:{
							color:"#f1f2ea"					            	
					    },
					    series : [{
				            name: '等级',
				            type: 'pie',
				            color:['#ff2d2d','#ff7400','#ffb719'],
				            radius : '55%',
				            data:[
				                {value:75, name:'Ⅰ级'},
				                {value:85, name:'Ⅱ级'},
				                {value:134, name:'Ⅲ级'}
				            ],
				            label: {
				                normal: {
				                    show: true,
				                    formatter: "{b}: {d}%",
				                    position: 'top'
				                },
				                emphasis: {
				                    shadowBlur: 10,
				                    shadowOffsetX: 0,
				                    shadowColor: 'rgba(0, 0, 0, 0.5)'
			                    }
			            	}
				        }]
					};
			}else{
				option = {
					    tooltip : {
					        trigger: 'axis',
					        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
					            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
					        }
					    },
					    legend: {
					        data:['Ⅰ级','Ⅱ级','Ⅲ级'],
					        textStyle:{
								color:"#f1f2ea"					            	
					        },
					        left:"right",
					    },
					    xAxis : [
					        {
					            type : 'category',
					            data : ['呼和浩特','鄂尔多斯','包头','赤峰','乌海','呼伦贝尔','兴安盟','通辽'],
					            axisLabel: {
					                textStyle: {
					                    color: '#f1f2ea'
					                }
					            },
					            axisLine:{
					                lineStyle:{
					                    color: '#f1f2ea'
					                }   
					            }
					        }
					    ],
					    yAxis : [
					        {
					        	name:"（KM）",					        	
					            type : 'value',
					            axisLabel: {
					                textStyle: {
					                    color: '#f1f2ea'
					                }
					            },
					            axisLine:{
					                lineStyle:{
					                    color: '#f1f2ea'
					                }   
					            }
					        }
					    ],
					    series : [
					    	{
					            name:'Ⅰ级',
					            type:'bar',
					            stack: 'grade',
					            data:[154, 190, 330, 410, 251, 120, 98, 106],
					            color:'#ff2d2d',
					            itemStyle:{
									normal:{
										color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: '#ff7400'
											}, {
											offset: 1,
											color: '#ff2d2d'
										}])
									}
								}
					        },{
					            name:'Ⅱ级',
					            type:'bar',
					            stack: 'grade',
					            data:[220, 182, 191, 234, 156, 106, 201, 148],
					            color:'#ff7400',
					            itemStyle:{
									normal:{
										color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: '#6950d2'
											}, {
											offset: 1,
											color: '#9b4457'
										}])
									}
								}
					        },{
					            name:'Ⅲ级',
					            type:'bar',
					            stack: 'grade',
					            data:[134, 90, 230, 210, 162, 98, 132, 221],
					            color:'#ffb719',
					            barWidth:40,
					            itemStyle:{
									normal:{
										color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
											offset: 0,
											color: '#0a8fca'
											}, {
											offset: 1,
											color: '#2c46b5'
										}])
									}
								}
					        }
					    ]
					};
			}
			that.thematicStatisticsPie.setOption(option, true);
		},
		alertDialog:function(item){
			this.getThematicStatisticsPie(item);
		}
	}
		
});

</script>
</html>