html,body,
#app {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    background:transparent;
}
::-webkit-scrollbar { background-color:transparent;}
::-webkit-scrollbar-thumb {background-color:#8F8F8F; border-radius:6px;}
.filter-wrap {
    margin-left: 10px;
    height:50px;
}
.content-list{
    margin-top:30px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}
.el-pager ul, .el-pager li {
    background:transparent;
    color:#fff;
}
.el-pagination .btn-prev, .el-pagination .btn-next, .el-pagination button:disabled {
    background: transparent;
}
.el-form-item__label, .el-pagination__total, .el-pagination__jump{
    color:#fff;
}
.jas-dialog-self {
    border: 1px solid #409EFF;
    background: rgba(0, 0, 0, 0.9);
}
.jas-dialog-header {
    background:transparent;
    height: 40px;
}
.pagination-bottom{
    float:right;
    position:fixed;
    right:5px;
    bottom:15px;
}
.el-input .el-input__inner {
    background: transparent;
    font-size: 14px;
    width: 85%;
    position:fixed;
}
.el-input__inner {
    background:transparent;
    border: 1px solid #466599;
    color: #b5ddff;
}
.orgtool {
    height: 30px;
    float:right;
    margin-right:10px;
}
.data-ul {
    margin-top:5px;
    margin-bottom:5px;
    cursor: pointer;
    padding: 3px;
    border: 1px solid transparent;
}
.data-ul:hover,
.data-ul.active{
    border-style: solid;
    border-color:#409eff;
}
.name-span {
    color:#fff;
}
.value-span{
    color:#7495A8;
}
.used-span{
    color:red;
}
.table-div{
    /* margin-bottom:20px; */
    margin-left:10px;
    font-size: 13px;
}
.flex-li{
	display: flex;
	justify-content: flex-end;
}