<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../src/css/main.css">
	<style>
		html,
		body {
			width: 100%;
		}

		#app {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;
		}

		.content {
			height: calc(100% - 40px);
			overflow-y: auto;
			overflow-x: hidden;
		}

		.el-form-item {
			margin-bottom: 15px !important;
		}
	</style>
</head>

<body>
	<div id="app" v-cloak>
		<jas-dialog-wrapper>
			<div class="content">
				<el-form ref="formData" :rules="rules" :model="formData" label-width="150px">
					<jas-base-group-title name="基础数据"></jas-base-group-title>
					<el-row :gutter="10">
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="项目名称" prop="projectOid" required>
								<el-select v-model="formData.projectOid" clearable placeholder="请选择项目名称" size="small" @change="projectChanged($event,false,true)">
									<el-option v-for="item in domain.project" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="标段名称" prop="tendersOid" required>
								<el-select v-model="formData.tendersOid" clearable placeholder="请选择标段名称" size="small" @change="tendersChanged($event,false,true)" @visible-change="childChange($event,'projectOid','项目名称')">
									<el-option v-for="item in domain.tenders" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="管线名称" prop="pipelineOid" required>
								<el-select v-model="formData.pipelineOid" clearable placeholder="请选择管线名称" size="small" @change="pipelineChanged($event,false,true)" @visible-change="childChange($event,'tendersOid','标段名称')">
									<el-option v-for="item in domain.pipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="线路段/穿跨越" prop="pipeSegmentOrCrossOid" required>
								<el-select v-model="formData.pipeSegmentOrCrossOid" clearable placeholder="请选择线路段" size="small" @change="pipeSegmentChanged" @visible-change="childChange($event,'pipelineOid','管线名称')">
									<el-option v-for="item in domain.pipeSegment" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工单位" prop="constructUnit" required>
								<el-select v-model="formData.constructUnit" disabled placeholder="请选择施工单位" size="small">
									<el-option v-for="item in domain.constructUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="施工机组代号" prop="workUnitOid" required>
								<el-select v-model="formData.workUnitOid" placeholder="请选择施工机组代号" size="small" @change="workUnitChange">
									<el-option v-for="item in domain.workUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊接日期" prop="weldDate" required>
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入焊接日期" v-model="formData.weldDate" size="small" style="width: 100%;">
								</el-date-picker>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="打底人员">
								<el-select v-model="formData.padderOid" clearable placeholder="请选择打底人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="填充人员">
								<el-select v-model="formData.coverOid" clearable placeholder="请选择填充人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="盖面人员">
								<el-select v-model="formData.renderOid" clearable placeholder="请选择盖面人员" size="small" multiple>
									<el-option v-for="item in domain.persons" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理单位" prop="supervisionUnit" required>
								<el-select v-model="formData.supervisionUnit" clearable placeholder="请选择监理单位" size="small">
									<el-option v-for="item in domain.supervisionUnits" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="监理工程师" prop='supervisionEngineer' required>
								<el-input v-model.trim="formData.supervisionEngineer" clearable placeholder="请输入监理工程师" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集人员" prop='collectionPerson'>
								<el-input v-model.trim="formData.collectionPerson" clearable placeholder="请输入采集人员" size="small"></el-input>
							</el-form-item>
						</el-col>

						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="采集日期" prop="collectionDate">
								<el-date-picker value-format="yyyy-MM-dd" type="date" placeholder="请输入采集日期" v-model="formData.collectionDate" size="small"
								  style="width: 100%;">
								</el-date-picker>
							</el-form-item>
						</el-col>
					</el-row>
					<jas-base-group-title name="返修数据"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="返修口编号" prop="weldOid" required>
								<el-select v-model="formData.weldOid" clearable placeholder="请选择返修口编号" size="small" @change="weldChanged"  @visible-change="childChange($event,'pipeSegmentOrCrossOid','线路段/穿跨越')">
									<el-option v-for="item in domain.welds" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="返修后焊口编号" prop="reworkWeldCode" required>
								<el-input v-model.trim="formData.reworkWeldCode" disabled placeholder="请输入返修后焊口编号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊条批号" prop="weldRodBatchNum">
								<el-input v-model.trim="formData.weldRodBatchNum" clearable placeholder="请输入焊条批号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊丝批号" prop="weldWireBatchNum">
								<el-input v-model.trim="formData.weldWireBatchNum" clearable placeholder="请输入焊丝批号" size="small"></el-input>
							</el-form-item>
						</el-col>
						<el-col :xs="24" :sm="12" :md="12" :lg="12" :xl="8">
							<el-form-item label="焊接工艺规格" prop="weldProduce" required>
								<el-select v-model="formData.weldProduce" clearable placeholder="请选择焊接工艺规格" size="small">
									<el-option v-for="item in domain.weldProduces" :key="item.key" :label="item.value" :value="item.key"> </el-option>
								</el-select>
								<!--<el-input v-model="formData.weldProduce" clearable placeholder="请输入焊接工艺规格" size="small"></el-input>-->
							</el-form-item>
						</el-col>

					</el-row>
					<jas-base-group-title name="其他信息"></jas-base-group-title>
					<el-row>
						<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
							<jas-remarks :remarks="formData.remarks" @changevalue="changevalue"></jas-remarks>
							<!--<el-form-item label="备注" prop="remarks">
								<el-input type="textarea" :autosize="{ minRows: 2, maxRows: 6 }" :rows="2" size="small" v-model="formData.remarks"></el-input>
							</el-form-item>-->
						</el-col>
					</el-row>
					<!-- <el-row>
					<el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
						<el-form-item label="模板上传" prop="file">
						</el-form-item>
					</el-col>
				</el-row> -->
					<jas-base-group-title name="附件信息"></jas-base-group-title>
					<jas-file-upload :project-oid="formData.projectOid" ref="upload" @success="uploadSuccess"></jas-file-upload>

				</el-form>





			</div>
			<div slot="footer" class="dialog-footer" style="text-align: center">
				<el-button size="small" @click="cancel()">取 消</el-button>
				<el-button size="small" :disabled="but_disabled" type="primary" @click="submit('formData')">确 定
				</el-button>
			</div>
		</jas-dialog-wrapper>
	</div>
</body>
<script src="./../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../lib/vue/vue.js"></script>
<script src="./../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../common/components/jas-components.js "></script>
<script src="./../../../../common/js/jas-tools.js"></script>
<!--<script src="js/ajaxFileUpload.js"></script>-->
<script>
	var app = new Vue({
		el: "#app",
		data: function () {
			var that = this;
			return {
				but_disabled:false,
				domain: {
					project: [],
					pipeline: [],
					tenders: [],
					pipeSegment: [],
					welds: [], //返修焊口编号
					supervisionUnits: [], //监理单位
					constructUnits: [], //施工单位
					workUnits: [], //机组
					weldProduces: [], //焊接工艺
					persons: []

				},
				rules: {
					projectOid: [{
						required: true,
						message: '项目名称为必填项',
						//trigger: 'change'
					}],
					weldDate: [{
						required: true,
						message: '焊接日期为必填项',
						//trigger: 'change'
					}],
					tendersOid: [{
						required: true,
						message: '标段名称为必填项',
						//trigger: 'change'
					}],
					pipelineOid: [{
						required: true,
						message: '管线名称为必填项',
						//trigger: 'change'
					}],
					pipeSegmentOrCrossOid: [{
						required: true,
						message: '线路段/穿跨越为必填项',
						//trigger: 'change'
					}],
					weldOid: [{
						required: true,
						message: '返修口编号',
						//trigger: 'change'
					}],
					reworkWeldCode: [{
						required: true,
						message: '返修后焊口编号',
						//trigger: 'change'
					}],
					weldProduce: [{
						required: true,
						message: '焊接工艺规格',
						//trigger: 'change'
					}],
					constructUnit: [{
						required: true,
						message: '施工单位',
						//trigger: 'change'
					}],
					workUnitOid: [{
						required: true,
						message: '施工机组代号',
						//trigger: 'change'
					}],
					supervisionUnit: [{
						required: true,
						message: '监理单位为必填项',
					//	trigger: 'change'
					}],
					weldProduce: [{
						required: true,
						message: '焊接工艺规格为必填项',
						//trigger: 'change'
					}],
					collectionDate: [{
						required: true,
						message: '采集日期为必填项',
						//trigger: 'change'
					}],
					supervisionEngineer: [{
						min: "0",
						max: 50,
						message: '不能超过50个字'
					}, {
						required: true,
						message: '监理工程师为必填项',
						//trigger: 'change'
					}],
					collectionPerson: [{
						min: "0",
						max: 30,
						message: '不能超过30个字'
					}],
					weldRodBatchNum: [{
						min: "0",
						max: 60,
						message: '不能超过60个字'
					}],
					weldWireBatchNum: [{
						min: "0",
						max: 60,
						message: '不能超过60个字'
					}]
				},
				formData: {
					projectOid: "",
					tendersOid: "",
					pipelineOid: "",
					pipeSegmentOrCrossOid: "",
					constructUnit: '',
					workUnitOid: "",
					weldDate: "",
					coverOid: [],
					padderOid:  [],
					renderOid:  [],
					supervisionUnit: "",
					supervisionEngineer: "",
					collectionPerson: "",
					collectionDate: "",
					weldOid: "",
					reworkWeldCode: "",
					weldRodBatchNum: "",
					weldWireBatchNum: "",
					weldProduce: "",
					remarks: ""
				}
			}
		},

		mounted: function () {
			var that = this;
			var param = window.jasTools.base.getParamsInUrl(location.href);
			var userBo = JSON.parse(localStorage.getItem("user"));
			that.formData.constructUnit = userBo.unitId;
			/* that.domain.constructUnits.push({
				key: userBo.unitId,
				value: userBo.unitName
			}); */
			this.requestDomainFromBizTable('/daq/privilege/getCurrentUnitId.do', {}, function (arr) {
				that.domain.constructUnits = arr;
			});
			if (param.oid) {
				this.oid = param.oid;
				this.formData.oid = this.oid;
				// this.uploadurl = jasTools.base.rootPath + "/attachment/upload.do?token=" + localStorage.getItem("token") +
				// 	"&businessId=" + this.oid + "&businessType=excelTemplate";

				this.isEdit = true;
				this.getDetailByObjectId();
				this.$refs.upload.requestFile(this.oid);
			};

			this.requestDomainFromBizTable('/daq/privilege/getProjectList.do', {}, function (arr) {
				that.domain.project = arr;
				if(!that.isEdit){
					that.formData.projectOid=arr[0].key;
					that.projectChanged(that.formData.projectOid,false,true);//false:表示为是否编辑，true表示新增	
				}
			});
			//this.requestDomainFromBizTable(
				//'/daq/materialPipe/getCutAndNotUse.do', {},
				//function (arr) {
					//that.domain.pipeCodes = arr;
				//});
		},
		methods: {
			changevalue: function (msg) {
				this.formData.remarks = msg;
			},
			cancel: function (param) {
				window.parent.jasTools.dialog.close(param);
			},
			requestDomainFromDomainTable: function (domainName, cb) {
				var that = this;
				var url = jasTools.base.rootPath +
					"/jasframework/sysdoman/getDoman.do";
				jasTools.ajax.get(url, {
					"domainName": domainName
				}, function (data) {
					var aDomain = data.map(function (item) {
						return {
							key: item.codeId,
							value: item.codeName,
						}
					});
					cb && cb(aDomain);
				});
			},
			requestDomainFromBizTable: function (url, obj, cb) {
				var that = this;
				var url = jasTools.base.rootPath + url;
				jasTools.ajax.post(url, obj, function (data) {
					cb && cb(data.rows);
				}, function () {
					cb && cb([]);
				});
			},
			projectChanged: function (val, edit,add) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getTendersList.do', {
							projectOid: val
						},
						function (arr) {
							that.domain.tenders = arr;
							if(add){
								that.formData.tendersOid=arr[0].key;
								that.tendersChanged(that.formData.tendersOid,false,true);
							}
						});
				}else{
					that.domain.tenders=[];
				}
				if (!edit) {
					that.formData.tendersOid = '';
					that.domain.pipeline = [];
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.domain.supervisionUnits = [];
					that.formData.supervisionUnit = '';
					that.formData.weldOid = '';
					that.formData.reworkWeldCode='';
					that.domain.welds = [];
				}
				that.getWorkUints(val, edit); //获取机组
				that.getWeldproduct(val, edit); //获取焊接工艺
				//that.getPipeCode(val,edit);
			},
			childChange: function (event, id, name) {
				if (event && !this.formData[id]) {
					top.Vue.prototype.$message({
						type: 'warning',
						message: "请先选择" + name
					});
				}
			},
			getPipeCode:function(val,edit){
				var that=this;
				if(val){
					this.requestDomainFromBizTable(
							'/daq/materialPipe/getCutAndNotUse.do', {
							
								projectOid:val
							},
							function (arr) {
								that.domain.pipeCodes = arr;
						});	
				}else{
					that.domain.pipeCodes=[];
				}
			
			},
			getWeldproduct: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/weldProduct/getListByCondition.do', {
							projectOid: val,

						},
						function (arr) {
							that.domain.weldProduces = arr;
						});
				}else{
					that.domain.weldProduces=[];
				}
				if (!edit) {
					that.formData.weldProduce = '';
				}
			},
			getWorkUints: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/workUnit/getWorkUnitList.do', {
							projectOid: val,
							types: "work_unit_type_code_001,work_unit_type_code_010,work_unit_type_code_012"
						},
						function (arr) {
							that.domain.workUnits = arr;
						});
				}else{
					that.domain.workUnits=[];
				}
				if (!edit) {
					that.formData.workUnitOid = '';
				}
			},
			tendersChanged: function (val, edit,add) { //根据标段触发管线列表
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipelineListByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.pipeline = arr;
							if(add){
								that.formData.pipelineOid=arr[0].key;	
								that.pipelineChanged(that.formData.pipelineOid,false,true);
								}
						});
				}else{
					that.domain.pipeline=[];
				}
				if (!edit) {
					that.formData.pipelineOid = '';
					that.domain.pipeSegment = [];
					that.formData.pipeSegmentOrCrossOid = '';
					that.formData.weldOid = '';
					that.formData.reworkWeldCode='';
					that.domain.welds = [];
				}
				that.getSupervisionUnit(val, edit); //根据标段获取监理单位
			},
			getSupervisionUnit: function (val, edit) {
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getSupervisionUnitByTendersOid.do', {
							tendersOid: val
						},
						function (arr) {
							that.domain.supervisionUnits = arr;
						});
				}else{
					that.domain.supervisionUnits=[];
				}
				if (!edit) {
					that.formData.supervisionUnit = '';
				}
			},
			pipelineChanged: function (val, edit,add) { //根据管线触发线路段/穿跨越
				var that = this;
				if (val) {
					this.requestDomainFromBizTable(
						'/daq/privilege/getPipeSegmentOrCrossList.do', {
							pipelineOid: val
						},
						function (arr) {
							that.domain.pipeSegment = arr;
							if(add){
								that.formData.pipeSegmentOrCrossOid=arr[0].key;	
								that.pipeSegmentChanged(that.formData.pipeSegmentOrCrossOid);
							}
						});
				}else{
					that.domain.pipeSegment=[];
				}
				if (!edit) {
					that.formData.pipeSegmentOrCrossOid = '';
					that.formData.weldOid = '';
					that.formData.reworkWeldCode='';
					that.domain.welds = [];
				}
			},
			pipeSegmentChanged: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
							'/daq/weld/getOnlyWeldList.do', {
								pipeSegmentOrCrossOid: val
							},
							function (arr) {
								if(edit){
									arr.forEach(function(item){
										that.domain.welds.push(item);
									});
								}else{
									that.domain.welds = arr;	
								}
								
							});
				}else{
					that.domain.welds=[];
				}
				if (!edit) {
					that.formData.weldOid = '';
					that.formData.reworkWeldCode='';
				}
			},
			weldChanged: function (val) {
				var that = this;
				that.domain.welds.forEach(function (item) {
					if (item.key == val) {
						that.formData.reworkWeldCode = item.value + "-R";
						return;
					}
				});

			},
			workUnitChange: function (val, edit) {
				var that = this;
				if (val) {
					this
						.requestDomainFromBizTable(
							'/daq/workPerson/getWorkPersonList.do', {
								workUnitOid: val,
								"types": "personnel_type_code_005,personnel_type_code_006"
							},
							function (arr) {
								that.domain.persons = arr;
							});
				}else{
					that.domain.persons=[];
				}
				if (!edit) {
					that.formData.coverOid = [];
					that.formData.padderOid = [];
					that.formData.renderOid = [];
				}
			},
			submit: function (formName) {
				var that = this;
				this.$refs[formName].validate(function (valid) {
					if (valid) {
						that.save();
					}
				});
			},

			save: function () {
				var that = this;
				var msg = "";
				if (!this.isEdit) {
					msg = "增加成功";
					url = jasTools.base.rootPath +
						"/jdbc/commonData/reworkWeld/save.do";
				} else {
					msg = "修改成功";
					delete that.formData.isUse;
					url = jasTools.base.rootPath +
						"/jdbc/commonData/reworkWeld/update.do";
				}
				that.but_disabled = true;
				var coverOid = that.formData.coverOid;
				var coverOidStr = "";
				for (var i = 0; i < coverOid.length; i++) {
					coverOidStr += coverOid[i] + ",";
				}
				var renderOid = that.formData.renderOid;
				var renderOidStr = "";
				for (var i = 0; i < renderOid.length; i++) {
					renderOidStr += renderOid[i] + ",";
				}
				var padderOid = that.formData.padderOid;
				var padderOidStr = "";
				for (var i = 0; i < padderOid.length; i++) {
					padderOidStr += padderOid[i] + ",";
				}
				that.formData.coverOid = coverOidStr.substr(0, coverOidStr.length - 1)
				that.formData.renderOid = renderOidStr.substr(0, renderOidStr.length - 1)
				that.formData.padderOid = padderOidStr.substr(0, padderOidStr.length - 1)
				jasTools.ajax.post(url, that.formData, function (data) {
					that.$refs.upload.uploadFile(data.data || that.oid);
				},function(data){
					if(data.status==-1){
						that.but_disabled = false;
					}
				});

			},
			uploadSuccess: function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: !this.isEdit ? '保存成功' : '修改成功'
				});
				this.cancel(1);
			},
			getDetailByObjectId: function () {
				var that = this;
				var url = jasTools.base.rootPath + "/jdbc/commonData/reworkWeld/getPage.do";
				jasTools.ajax.post(url, {
					oid: that.oid
				}, function (data) {
					/* for (var key in that.formData) {
						that.formData[key] = data.rows[0][key];
					} */
					that.formData = data.rows[0];

					if (!that.formData.coverOid||that.formData.coverOid.length == 0) {
						that.formData.coverOid = [];
					} else {
						that.formData.coverOid = that.formData.coverOid.split(",");
					}

					if (!that.formData.renderOid||that.formData.renderOid.length == 0) {
						that.formData.renderOid = [];
					} else {
						that.formData.renderOid = that.formData.renderOid.split(",");
					}

					if (!that.formData.padderOid||that.formData.padderOid.length == 0) {
						that.formData.padderOid = [];
					} else {
						that.formData.padderOid = that.formData.padderOid.split(",");
					}
					that.domain.welds.push({
						key:that.formData.weldOid,
						value:that.formData.weldCode
					});
					that.projectChanged(data.rows[0].projectOid, true);
					that.tendersChanged(data.rows[0].tendersOid, true);;
					that.pipelineChanged(data.rows[0].pipelineOid, true);
					that.pipeSegmentChanged(data.rows[0].pipeSegmentOrCrossOid, true);
					that.workUnitChange(data.rows[0].workUnitOid, true);
				});
			},
		},
	});
</script>

</html>