<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<link rel="stylesheet" href="./../../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="./../../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
	<link rel="stylesheet" href="./../../../../../src/css/main.css">
	<style>
		html,body,
		#app {
			width: 100%;
			height: 100%;
			background:transparent;
		}
		.el-table, .el-table th, .el-table tr, .el-table td {
		    border: 0;
			background:transparent;
			
		}	
		.el-table--striped .el-table__body tr.el-table__row--striped td {
			background-color: rgba(148, 144, 144, 0.3);
		}
		.el-table::before {
			left: 0;
			bottom: 0;
			width: 100%;
			height: 0px;
		}
		.el-table__fixed-right-patch {
			background:transparent;
		}
		.el-button--primary.is-plain, .el-button--default, .el-button--primary {
			color:#b5ddff;
			background: #0567ad78;
		}
		.el-input__inner {
		    height: 30px;
		    line-height: 30px;
		    border: 1px solid #466599;
		    color: #b5ddff;
		}
		.el-input, .el-input__inner {
		    background: transparent;
		}
		.el-pager ul, .el-pager li {
			background:transparent;
			color:#fff;
		}
		.el-pagination .btn-prev, .el-pagination .btn-next, .el-pagination button:disabled {
		    background: transparent;
		}
		.el-form-item__label, .el-pagination__total, .el-pagination__jump{
			color:#fff;
		}
		*::-webkit-scrollbar {width:7px; height:10px; background-color:transparent;} /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
		*::-webkit-scrollbar-track {background-color:#f0f6ff;  } /*定义滚动条轨道 内阴影+圆角*/
		*::-webkit-scrollbar-thumb {background-color:#8F8F8F; border-radius:6px;} /*定义滑块 内阴影+圆角*/
	</style>
</head>

<body>
	<div id="app" v-cloak>		
	<jas-list-wrapper ref="mylist">
		<div slot="search">
			<el-form v-show="!isClosed" class="jas-search-for-list" :model="form" label-width="150px">
				<el-row>
					<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
						<el-form-item label="版本名称" prop="versionName" style="margin-bottom: 15px;">
							<el-input v-model="form.versionName" :placeholder="'请输入版本名称'" size="small" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="24" :md="12" :lg="8" :xl="6">
						<el-form-item label="版本编号" prop="versionCode" style="margin-bottom: 15px ">
							<el-input v-model="form.versionCode" :placeholder="'请输入版本编号'" size="small" clearable></el-input>
						</el-form-item>
					</el-col>
					<el-col :xs="24" :sm="btnSize.sm" :md="btnSize.md" :lg="btnSize.lg" :xl="btnSize.xl">
						<el-form-item style="float:right;margin-bottom: 0px;">
							<el-button size="small" @click="requestVersionList(1)">重置</el-button>
							<el-button size="small" type="primary" @click="requestVersionList(2)">查询</el-button>
						</el-form-item>
					</el-col>
				</el-row>
			</el-form>
		</div>
		<div slot="list" style="padding: 0 10px 10px" class="jas-flex-box is-vertical is-grown">
			<div style="padding: 15px 0;">
				<el-button @click="addArea" size="small" plain type="primary" icon="fa fa-plus">新增</el-button>
				<el-button @click="importFile" size="small" plain type="primary" icon="fa fa-arrow-down">导入</el-button>
				<span class="fr">
					<el-tooltip class="item" content="刷新" placement="top">
						<el-button size="small" icon="el-icon-refresh" @click="requestVersionList(0)"></el-button>
					</el-tooltip>												
					<el-tooltip v-show="isClosed" class="item" content="展开搜索" placement="top">
						<el-button size="small" icon="el-icon-arrow-down" @click="toggleSearch"></el-button>
					</el-tooltip>
					<el-tooltip v-show="!isClosed" class="item" content="收起搜索" placement="top">
						<el-button size="small" icon="el-icon-arrow-up" @click="toggleSearch"></el-button>
					</el-tooltip>
				</span>
			</div>
			<div class="is-grown">
				<el-table ref="mytable" @row-dblclick="seeDetail" stripe v-loading="loading"
					height="100%" :data="tableData"  :header-cell-style="headStyle" :row-style="tableRowStyle" style="width: 100%">
					<el-table-column label="序号" type="index" align="center" width="50">
					</el-table-column>											
					<el-table-column label="版本名称"  prop="versionName" min-width="150px" show-overflow-tooltip align="center" header-align="center" >
					</el-table-column>						
					<el-table-column label="版本编号"  prop="versionCode" min-width="150px" show-overflow-tooltip align="center" header-align="center" >
					</el-table-column>
					<el-table-column label="版本修改人" prop="modifyUserName" min-width="120px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="版本修改时间" prop="modifyDatetime" min-width="120px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>						
					<el-table-column label="是否启用" prop="hasUsed" min-width="100px" show-overflow-tooltip align="center" header-align="center">
					</el-table-column>
					<el-table-column label="备注" prop="remarks" min-width="200px" show-overflow-tooltip align="left" header-align="center">
					</el-table-column>
					<el-table-column label="操作" align="center" min-width="250px">
						<template slot-scope="scope">
						<el-button @click="seeDetail(scope.row)" type="text" size="small" icon="fa fa-info-circle">详情</el-button>
						<el-button @click="editArea(scope.row)" type="text" size="small" icon="fa fa-pencil">修改</el-button>
						<el-button @click="deleteArea(scope.row)" type="text" size="small" icon="fa fa-minus">删除</el-button>
						<el-button @click='useLayer' type="text" size="small" icon="fa fa-info-circle pointer">启用</el-button>
						<el-button @click='previewFile' type="text" size="small" icon="fa fa-file-text-o pointer">生成报告</el-button>
						</template>
					</el-table-column>
				</el-table>
			</div>
			<div style="padding: 15px 0 0;" class="clearfix">
				<el-pagination class="fr" @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage"
					:page-sizes="[10, 20, 50, 100]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="total">
				</el-pagination>
			</div>
		</div>
		</jas-list-wrapper>
	</div>
</body>
<script src="./../../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../../lib/vue/vue.js"></script>
<script src="./../../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../../common/components/jas-components.js "></script>
<script src="./../../../../../common/js/jas-tools.js"></script>
<script>

/**
 * @desc 获取访问路径中某个参数
 * 
 * @param paramName 参数名
 * @param url 指定要截取参数的url（可以为空，如果为空url指向当前页面）
 */
 function getParamter(paramName, url) {
	var seachUrl = window.location.search.replace("?", "");
	if (url != null) {
		var index = url.indexOf('?');
		url = url.substr(index + 1);
		seachUrl = url;
	}
	var ss = seachUrl.split("&");
	var paramNameStr = "";
	var paramNameIndex = -1;
	for ( var i = 0; i < ss.length; i++) {
		paramNameIndex = ss[i].indexOf("=");
		paramNameStr = ss[i].substring(0, paramNameIndex);
		if (paramNameStr == paramName) {
			var returnValue = ss[i].substring(paramNameIndex + 1, ss[i].length);
			if (typeof (returnValue) == "undefined") {
				returnValue = "";
			}
			return returnValue;
		}
	}
	return "";
}
var vm = new Vue({
	el: "#app",
	data: function () {
		return {			
			loading: false,
			isClosed: false,
			form: {},
			tableData: [],
			pageSize: 10,
			currentPage: 1,
			total: 0,
			btnSize: {
				sm: 0,
				md: 0,
				lg: 0,
				xl: 0,
			},
			headStyle: {
				'background': 'transparent',
				'color': '#F1F2EA'
			},
			tableRowStyle: {
				'color': '#7495A8'
			}
		}
	},
	created: function () {
		this.setFieldsPattern();		
		this.jasMap = parent.app.jasMap;
		this.forBusiness = getParamter('forBusiness');
		this.requestVersionList(0);
	},
	methods: {
		addArea: function(){
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/hcaAreaVersion/add.html';
			top.jasTools.selfDialog.show({
				width: '60%',
				height: '50%',
				bottom:'20%',						
				left:'25%',
				title: '新增地区等级历史版本信息',
				src: baseSrc,
				cbForClose: function () {
					that.requestVersionList(0);
				}
			});
		},
		editArea: function(row){
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/hcaAreaVersion/add.html';
			top.jasTools.selfDialog.show({
				width: '60%',
				height: '50%',
				bottom:'20%',						
				left:'25%',
				title: '修改地区等级历史版本信息',
				src: baseSrc + '?oid=' + row.oid,
				cbForClose: function () {
					that.requestVersionList(0);
				}
			});
		},
		seeDetail: function (row) {
			var that = this;
			var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/hcaAreaVersion/detail.html';
			var src = jasTools.base.setParamsToUrl(baseSrc, {
				oid: row.oid,
				pageCode: 'file'
			});
			top.jasTools.selfDialog.show({
				width: '60%',
				height: '50%',
				bottom:'20%',						
				left:'25%',
				title: '地区等级历史版本信息详情',
				src: src,
			});
		},
		deleteArea: function (row) {
			var that = this;
			var afterDelete = function () {
				top.Vue.prototype.$message({
					type: 'success',
					message: '删除成功'
				});
				that.requestVersionList(0);
			};
			window.top.Vue.prototype.$confirm('您确定要删除吗？', '删除地区等级历史版本信息', {
				type: 'warning',
				callback: function (action) {
					if (action === 'confirm') {
						var url = jasTools.base.rootPath + "/jdbc/commonData/hcaversion/delete.do";
						jasTools.ajax.post(url, {
							oid:row.oid
						}, function (data) {
							afterDelete();
						});
					}
				}
			});
		},
		openDetail:function(idx){
			parent.app.openDetail(idx);
		},
		requestVersionList: function(param){
			var that= this;
			if (param == 1 || param == 0) {
				that.form = {};
				that.pageSize = 10;
				that.currentPage = 1;
			}
			if (param == 2) {
				that.pageSize = 10;
				that.currentPage = 1;
			}
			that.loading = true;
			var url = jasTools.base.rootPath + "/jdbc/commonData/hcaversion/getPage.do";
			jasTools.ajax.post(url,{
				forBusiness:that.forBusiness,
				versionName: that.form.versionName,
				versionCode: that.form.versionCode,
				pageNo: that.currentPage,
				pageSize: that.pageSize,
				page: that.currentPage,
				rows: that.pageSize	
			}, function (data) {
				that.total = data.total;
				that.tableData = data.rows;
				that.loading = false;
			});
		},
		openAreaList: function(){
			var title = '地区等级列表';
			var layerId = 'pd_arearank';
			if(this.forBusiness == "0"){
				this.jasMap.layerVisibleSwitch('pd_zonerankcell',false);
			}
			if(this.forBusiness == "1"){
				title = '高后果区列表';
				layerId = 'pd_zonerankcell';
				this.jasMap.layerVisibleSwitch('pd_arearank',false);
			}
			this.jasMap.layerVisibleSwitch(layerId,true);
			this.jasMap.zoomAt('110.3530585' ,'34.540260695' ,15);
			parent.app.showAreaDialog(this.forBusiness, title, '420px');
		},
		previewFile : function(){
			top.jasTools.selfDialogNew.show({
				title: '分析报告',
				src: './dialogs/preview_file.html',
				height: '740px',
				width: '35%',
			})
		},
		importFile: function(){
			top.jasTools.dialog.show({
				title: '导入',
				src: './dialogs/upload.html?forbusiness='+this.forBusiness,
				height: '488px',
				width: '35%',
			})
		},
		useLayer: function(){
			var that = this;
			that.jasMap.layerVisibleSwitch('pd_arearank',false);
			that.jasMap.layerVisibleSwitch('pd_zonerankcell',false);
			this.jasMap.zoomAt('110.3530585' ,'34.540260695' ,15);
			setTimeout(function(){
				that.jasMap.layerVisibleSwitch('pd_arearank',true);
			}, 1000)
		},
		setFieldsPattern: function () {
			var nFields = 5;
			this.btnSize.sm = 24 - (24 * nFields) % 24;
			this.btnSize.md = 24 - (12 * nFields) % 24;
			this.btnSize.lg = 24 - (8 * nFields) % 24;
			this.btnSize.xl = 24 - (6 * nFields) % 24;
		},
		toggleSearch: function () {
			this.$refs['mylist'].toggleSearch();
			this.isClosed = this.$refs['mylist'].isClosed;
		},
		handleSizeChange: function (val) {
			this.pageSize = val;
			this.requestVersionList();
		},
		handleCurrentChange: function (val) {
			this.currentPage = val;
			this.requestVersionList();
		},
	},
});

</script>
</html>