<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./../../../../../../lib/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="./../../../../../../lib/element-ui/v2.4.1/theme-chalk/index.min.css">
    <link rel="stylesheet" href="./../../../../../../src/css/main.css">
    <style>
        html,body,
        #app {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            background:transparent;
        }

        .content {
            height: calc(100% - 40px);
            overflow-y: auto;
            overflow-x: hidden;
        }
        .el-form-item {
            margin-bottom: 10px;
        }

    </style>
</head>

<body>
<div id="app" v-cloak>
    <jas-dialog-wrapper>
        <el-form ref="tableFormData" :model="tableFormData" :rules="rules"  label-width="70px" >
            <jas-base-group-title name="基本信息"></jas-base-group-title>
            <el-row :gutter="10">
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="编号" prop="buildingCode">
                        <el-input v-model="tableFormData.buildingCode" clearable placeholder="请输入建(构)筑物编号" size="small"  :disabled="!isCanEdit"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="类别" prop="buildingTypeParent">
                        <el-select v-model="tableFormData.buildingTypeParent" filterable clearable placeholder="请选择建(构)筑物类别" size="small" @change="parentDomainChange"  :disabled="!isCanEdit">
                            <el-option v-for="item in domain.buildingTypeParent" :key="item.key" :label="item.value" :value="item.key"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="类型" prop="buildingType">
                        <el-select v-model="tableFormData.buildingType" filterable clearable placeholder="请选择建(构)筑物类型" size="small"  :disabled="!isCanEdit">
                            <el-option v-for="item in domain.buildingType" :key="item.key" :label="item.value" :value="item.key"> </el-option>
                        </el-select>
                        <!--<el-cascader :options="options" :show-all-levels="false" filterable></el-cascader>-->

                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="分布" prop="buildingDistribution" >
                        <el-select v-model="tableFormData.buildingDistribution" clearable placeholder="请选择建(构)筑物分布" size="small"  :disabled="!isCanEdit">
                            <el-option v-for="item in domain.buildingDistribution" :key="item.key" :label="item.value" :value="item.key"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="户数" prop="households">
                        <el-input-number v-model="tableFormData.households" clearable placeholder="请输入户数" size="small" :step="1" :max="999999" :min="0"  :disabled="!isCanEdit"></el-input-number>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="人口" prop="population">
                        <el-input-number v-model="tableFormData.population" clearable placeholder="请输入人口" size="small" :step="1" :max="999999" :min="0" :disabled="!isCanEdit"></el-input-number>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="是否占压" prop="pressurePipeline">
                        <el-select v-model="tableFormData.pressurePipeline" clearable placeholder="请选择是否占压" size="small"  :disabled="!isCanEdit">
                            <el-option v-for="item in domain.pressurePipeline" :key="item.key" :label="item.value" :value="item.key"> </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col :xs="24" :sm="12" :md="8" :lg="6" :xl="6">
                    <el-form-item label="地址" prop="address">
                        <el-input v-model="tableFormData.address" clearable placeholder="请输入地址" size="small"  :disabled="!isCanEdit"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <jas-base-group-title name="其他信息"></jas-base-group-title>
            <el-row>
                <el-col :xs="24" :sm="24" :md="8" :lg="6" :xl="6">
                    <el-form-item label="备注" prop="remarks">
                        <el-input type="textarea" :autosize="{ minRows: 2, maxRows: 4 }" :rows="2" size="small" v-model="tableFormData.remarks"  :disabled="!isCanEdit"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
        <div slot="footer" style="margin-bottom:10px;">
            <el-button size="small" type="primary" @click="editSettlement()" v-show="!isCanEdit">编辑</el-button>
            <el-button size="small" type="primary" @click="drawSettlement()" v-show="!isCanEdit">绘制</el-button>
            <el-button size="small" type="primary" @click="deleteSettlement()" v-show="!isCanEdit">删除</el-button>
            <el-button size="small" type="primary" @click="save()" v-show="isCanEdit">确 定</el-button>
            <el-button size="small" @click="cancel()" v-show="isCanEdit">取 消</el-button>
        </div>
    </jas-dialog-wrapper>
</div>
</body>
<script src="./../../../../../../lib/jquery/jquery-1.12.4.min.js"></script>
<script src="./../../../../../../lib/vue/vue.js"></script>
<script src="./../../../../../../lib/element-ui/v2.4.1/index.min.js"></script>
<script src="./../../../../../../common/components/jas-components.js"></script>
<script src="./../../../../../../common/js/jas-tools.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: function () {
            var that = this;
            let validateCodeUni = (rule, value, callback) => {
                var url = jasTools.base.rootPath + "/basedata/unique/check.do";
                jasTools.ajax.post(url, {
                    tableName: "hca_buildings",
                    fieldName: "building_code",
                    fieldValue: value
                }, function (result) {
                    if(result.data == 1){
                        callback('建(构)筑物编号已存在')
                    }
                });
            }

            return {
                but_disabled:false,
                rules: {
                    buildingCode: [{
                        required: true,
                        message: '请输入建(构)筑物编号',
                        trigger: 'blur'
                    }, {
                        validator:validateCodeUni,
                        trigger: 'blur'
                    }],
                    buildingTypeParent: [{
                        required: true,
                        message: '请选择建(构)筑物类别',
                        trigger: 'blur'
                    }],
                    buildingType: [{
                        required: true,
                        message: '请选择建(构)筑物类型',
                        trigger: 'blur'
                    }],
                },
                tableFormData: {
                    'buildingCode': '',
                    'buildingType': '',
                    'buildingTypeParent': '',
                    'centerx':'',
                    'centery':'',
                    'pipelineOid':'',
                    'geometry':'',
                    'buildingDistribution':'',
                    'households':'',
                    'population':'',
                    'address':'',
                    'reamrks':'',
                    'pressurePipeline': 0,
                    'objectId': 0
                },
                domain: {
                    buildingType: [],
                    buildingTypeParent: [],
                    buildingDistribution:[],
                    pressurePipeline:[
                        {
                            key: 0,
                            value: '否'
                        },
                        {
                            key: 1,
                            value: '是'
                        }
                    ]
                },
                changeParentCodeId:'',
                isCanEdit:false,
                oid:'',
                fId:'',
                layerId:"",
                tableName:"",
                localAddress:"",
                //currentGraphic:null
            }
        },
        created: function(){
            this.jasMap = parent.app.jasMap;
        },
        computed: {
        },
        mounted: function () {
            var that = this;
            var param = window.jasTools.base.getParamsInUrl(location.href);
            that.fId = param.fId;
            that.tableName = param.tableName  ? param.tableName :"hca_buildings"  ;
            that.localAddress = decodeURI(param.localAddress);
            that.tableFormData.address = that.localAddress;
            that.tableFormData.objectId =  parseInt(param.objectid); ;

            if (param.oid) {
                this.oid = param.oid;
                this.tableFormData.oid = this.oid;
                this.requestDetail(param.oid);
            };
            this.getDomainSelect('building_type_parent_domain',function (arr) {
                that.domain.buildingTypeParent = arr;
            });
            this.getDomainSelect('building_type_domain',function (arr) {
                that.domain.buildingType = arr;
            });
            this.getDomainSelect('building_distribution_domain',function (arr) {
                that.domain.buildingDistribution = arr;
            });

            top.jasMap.cancelGraphicEdit();
             currentGraphic = top.hcaMapApp.currentDrawBuildingGraphic;

         },
        methods: {
            submit: function (formName) {
                var that = this;
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        that.save();
                    }
                });
            },
            parentDomainChange: function(codeId){
                var that = this;
                this.changeParentCodeId = codeId;
                this.tableFormData.buildingType = "";
                this.getChildDomainSelect('building_type_domain',function (arr) {
                    that.domain.buildingType = arr;
                    that.tableFormData.buildingType = arr[0].key;
                });
            },
            requestDetail: function (oid) {
                var that = this;
                var url = jasTools.base.rootPath + "/jdbc/commonData/hcaelementunit/getPage.do";
                jasTools.ajax.post(url, {
                    oid: oid
                }, function (data) {
                    $.extend(that.tableFormData  ,data.rows[0]);
                    that.layerId = that.tableName + "#" + that.tableFormData.buildingType;
                });
            },
            save: function () {
                var that = this;
                var msg = "";
                that.but_disabled = true;
                msg = "修改成功";
                var graphic =  currentGraphic;
                var center = graphic.geometry.getExtent().getCenter();
                that.tableFormData.centerx = center.x;
                that.tableFormData.centery = center.y;
                that.tableFormData.geometry = top.hcaMapApp.jasMap.geometryToText(graphic.geometry);
                that.tableFormData.pipelineOid = top.hcaMapApp.pipelineOid;
                url = jasTools.base.rootPath + "/hcabuildings/save.do";
                jasTools.ajax.post(url, that.tableFormData, function (data) {
                    if(data.data === 0 ){
                        top.Vue.prototype.$message({
                            type: 'error',
                            message: "操作失败！"
                        });
                    }else{
                        top.Vue.prototype.$message({
                            type: 'success',
                            message: msg
                        });
                        //config.json中以表名和类型名作为图层的layerId
                        var layerId = that.layerId;
                        top.hcaMapApp.jasMap.updateLayer(layerId,{
                            show:true
                        });
                        var gra =  currentGraphic;
                        top.jasMap.removeGraphic(gra);
                        top.jasMap.cancelGraphicEdit();
                        that.requestDetail(that.oid);
                        that.cancel(1);
                    }
                });
            },
            requestDomainFromBizTable: function (url, obj, cb) {
                var that = this;
                var url = jasTools.base.rootPath + url;
                jasTools.ajax.post(url, obj, function (data) {
                    cb && cb(data.rows);
                }, function () {
                    cb && cb([]);
                });
            },
            getDomainSelect: function(domainName, cb){
                var that = this;
                var url = jasTools.base.rootPath +
                    "/jasframework/sysdoman/getDoman.do";
                jasTools.ajax.get(url, {
                    "domainName": domainName
                }, function (data) {
                    var aDomain = data.map(function (item) {
                        return {
                            key: item.codeId,
                            value: item.codeName,
                        }
                    });
                    cb && cb(aDomain);
                });
            },
            getChildDomainSelect: function(domainName, cb){
                var that = this;
                var url = jasTools.base.rootPath +
                    "/jasframework/sysdoman/getChildDoman.do";
                jasTools.ajax.get(url, {
                    "domainName": domainName,
                    "parentCodeId": that.changeParentCodeId,
                }, function (data) {
                    var aDomain = data.map(function (item) {
                        return {
                            key: item.codeId,
                            value: item.codeName,
                        }
                    });
                    cb && cb(aDomain);
                });
            },
            cancel: function (param) {
                this.isCanEdit = false;
                top.jasMap.cancelGraphicEdit();
            },
            editSettlement : function() {
                var that = this;
                var gra = top.jasMap.getGraphicByObjectId(that.tableFormData.objectId ,that.layerId) ;
                if(gra){
                    currentGraphic = top.jasMap.editGraphic(gra ,that.layerId);
                }
                that.isCanEdit = true;
            },
            deleteSettlement: function () {
                var that = this;
                var afterDelete = function () {
                    top.Vue.prototype.$message({
                        type: 'success',
                        message: '删除成功'
                    });
                    var layerId = that.layerId;
                    top.hcaMapApp.jasMap.updateLayer(layerId,{
                        show:true
                    });
                    window.parent.closeDlg("editSettlementIframe");
                };
                window.top.Vue.prototype.$confirm('您确定要删除删除建(构)筑物信息吗？', '提示', {
                    type: 'warning',
                    callback: function (action) {
                        if (action === 'confirm') {
                            var url = jasTools.base.rootPath + "/jdbc/commonData/hcabuildings/delete.do";
                            jasTools.ajax.post(url, {
                                oid:that.oid
                            }, function (data) {
                                afterDelete();
                            });
                        }
                    }
                });
            },
            drawSettlement: function(){
                var that = this;
                this.jasMap.drawPolygon({
                    layerId: "drawlayer_hca_buildings",
                    onDrawEnd:function(evt){
                        var feature = evt ;
                        var fId = new Date().getTime();
                        feature.attributes = { id :fId};
                        var baseSrc = jasTools.base.rootPath + '/jasmvvm/pages/row-onepage/hca-operation/dialogs/base-template/dialogs/add-settlement.html?fId=' + fId + "&lyaerId=drawlayer_hca_buildings"
                        window.parent.getDlg(baseSrc, "editSettlementIframe", "建(构)筑物属性编辑", 300,350);
                    }
                })
            }
        },
        destroyed:function(){
            this.cancel();
        }
    });
    var currentGraphic = null  ;
</script>

</html>